<template>
<div>
    <div>
        <AreasAddItem
            v-show="switchComponent"
            :id="this.areaId"
            :name="this.areaName"
            @insertRegister="insertArea"
            @updateRegister="updateArea"
            @cancelRegister="addArea(false)"
            :key="keyAreasAddItem"
            class="custom-top-margin"
        ></AreasAddItem>
    </div>
    <div>
        <AreasShowItem
            v-show="!switchComponent"
            :items="this.items"
            @addRegister="addArea"
            @editRegister="editArea"
            @deleteRegister="deleteArea"
            @loadRegisters="lookUpAreas"
            :key="keyAreasShowItem"
            class="custom-top-margin"
        ></AreasShowItem>
    </div> 
</div>


    
</template>
<script>
    import AreasAddItem from '~/components/areasAddItem';
    import AreasShowItem from '~/components/areasShowItem';
    import axios from 'axios';
    import Swal from 'sweetalert2';


    export default {
        middleware: 'auth',
        components: {
            AreasAddItem,
            AreasShowItem
        },
        metaInfo () {
            return { title: this.$t('areas_form') }
        },
        data: () => ({
            areaId: 0,
            areaName: null,
            items: [],
            keyAreasAddItem: 0,
            keyAreasShowItem: 0,
            switchComponent: false,    
            
        }),
        methods:{
            reloadAreasAddItemComponent(){
                this.keyAreasAddItem += 1;
            },
            reloadAreasShowItemComponent(){
                this.keyAreasShowItem += 1;
            },
            clearAreaData(){
                this.areaId = 0;
                this.areaName = null;                
            },
            addArea(state=true){
                if (state) {
                    this.reloadAreasAddItemComponent()
                } else {
                    this.clearAreaData()
                }
                this.switchComponent = state
            },            
            async lookUpAreas() {
                const { data } = await axios.get('api/areas')
                if (Array.isArray(data)) {
                    this.items = data
                }
            },
            insertArea(areaName){
                axios({
                  method: 'POST',
                  url: 'api/areas',
                  data: {
                      areaName: areaName
                  }
                })
                .then((response) => {
                    Swal.fire({
                    icon: 'success',
                    title: 'Registro satisfactorio!',
                    reverseButtons: true,
                    confirmButtonText: 'ok',
                    })
                    this.reloadAreasAddItemComponent();
                    this.reloadAreasShowItemComponent();
                    this.switchComponent = false;
                })
                .catch((error) => {
                    console.log(error);
                })
            },
            updateArea(dataForm){
                axios({
                    method: 'post',
                    url: 'api/areas',
                    data: dataForm
                })
                .then((response) => {
                    Swal.fire({
                    icon: 'success',
                    title: 'Registro actualizado!',
                    reverseButtons: true,
                    confirmButtonText: 'ok',
                    })
                    this.reloadAreasAddItemComponent();
                    this.reloadAreasShowItemComponent();
                    this.switchComponent = false;
                })
                .catch((error) => {
                    console.log(error);
                })
            },            
            editArea(item){
                this.areaId = item.id;
                this.areaName = item.name;
                this.addArea();
                
            },
            deleteArea(item, index){
                Swal.fire({
                    title: 'Desea eliminar este registro?',
                    text: "Por favor confirme, esta acción NO podrá deshacerse.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#c82333',
                    cancelButtonColor: '#5a6268',
                    confirmButtonText: 'Si, eliminar!',
                    cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.isConfirmed) {

                        axios({
                        method: 'delete',
                        url: 'api/areas/' + item.id,
                        })
                        .then((response) => {
                            Swal.fire(
                            'Eliminado!',
                            'El registro seleccionado ha sido eliminado',
                            'success'
                        )

                        this.lookUpAreas();
                        this.reloadAreasShowItemComponent();

                        })
                        .catch((error) => {
                            console.log(error);
                        })
                    }

                    
                })
            },
                
        }
    }
</script>

<style scoped>
    .custom-top-margin {
        margin-top: 80px;
    }
</style>