<template>
<card :title="$t('home')">  
    <!--{{ $t('you_are_logged_in') }}-->
  </card> 
</template>

<script>
export default {
  middleware: 'auth',

  metaInfo () {
    return { title: this.$t('home') }
  },

  beforeCreate() {
    this.$router.push({name:'mainform'})
  }
}
</script>
