<template>
  <div>
    <div>
      <modal-images-gallery
        id="modal-images"
        :key="keyModalImagesGallery"
        :show="modalImagesGallery"
        :items="this.imgStored"
        @delArrIma="deleteOneOrMoreImages"
        @dnlArrIma="downloadOneOrMoreImages"
        @delAllIma="deleteAllImages"
        @dnlAllIma="downloadAllImages"
        @newPosFile="exchangePosition"
      ></modal-images-gallery>
    </div>
    <div>
      <ModalDocuments
        id="modal-documents"
        :show="modalDocuments"
        :key="keyModalDocuments"
        :item="this.docsStored"
        :index="this.docsIndex"
        @delfile="deleteAttachment"
        @resetIndex="resetDocIndex"
      ></ModalDocuments>
    </div>
    <div>
      <Datatable :key="keyDatatable" />
    </div>
    <div>
      <Solicitud :key="keySolicitudes" />
    </div>
    <div
      v-if="Object.keys(this.$store.getters['mainform/itemDatatable']).length"
    >
      <PropertyInfo :key="keyPropertyInfo" />
    </div>
    <div
      v-if="Object.keys(this.$store.getters['mainform/itemDatatable']).length"
    >
      <Inspeccion :key="keyInspection" @reset="resetInspection"></Inspeccion>
    </div>
  </div>
</template>

<script>
import ModalImagesGallery from "../components/ModalImagesGallery";
import ModalDocuments from "~/components/ModalDocuments";
import Datatable from "~/components/Datatable";
import Solicitud from "~/components/Solicitud";
import PropertyInfo from "~/components/PropertyInfo";
import Inspeccion from "~/components/Inspeccion";
import { mapGetters } from "vuex";
import axios from "axios";
import Swal from "sweetalert2";

export default {
  middleware: "auth",
  components: {
    ModalDocuments,
    ModalImagesGallery,
    Datatable,
    Solicitud,
    PropertyInfo,
    Inspeccion
  },
  metaInfo() {
    return { title: this.$t("main_form") };
  },
  data() {
    return {
      docsStored: [],
      docsIndex: null,
      imgStored: [],
      imgIndex: null,
      totalImgfiles: null,
      currentPos: null,
      url: null,
      currentImage: {
        size: null,
        id: null,
        pos: null,
        path: null,
        name: null
      },
      carouselKey: null
    };
  },
  computed: {
    ...mapGetters({
      keySolicitudes: "mainform/keySolicitudes",
      keyDatatable: "mainform/keyDatatable",
      keyInspection: "mainform/keyInspection",
      keyPropertyInfo: "mainform/keyPropertyInfo",
      itemDatatable: "mainform/itemDatatable",
      modalDocuments: "mainform/modalDocuments",
      keyModalDocuments: "mainform/keyModalDocuments",
      modalImagesGallery: "mainform/modalImagesGallery",
      keyModalImagesGallery: "mainform/keyModalImagesGallery",
      imagesGallerySelected: "mainform/imagesGallerySelected",
      totalImages: "mainform/totalImages",
      totalDocuments: "mainform/totalDocuments"
    })
  },
  methods: {
    fetchDocFiles(itemId, typeFile) {
      axios
        .get("api/attachment", {
          params: {
            id: 1,
            type_file: typeFile,
            appraisal_request_id: itemId
          }
        })
        .then(response => {
          this.docsStored = response.data;
        });
    },
    fetchImgFiles(itemId, typeFile) {
      axios
        .get("api/attachment", {
          params: {
            id: 1,
            type_file: typeFile,
            appraisal_request_id: itemId
          }
        })
        .then(response => {
          this.imgStored = response.data.files;
          this.url = response.data.url;

          if (this.imgStored.length > 0) {
            this.setCurrentImage(0);
            //this.totalImgfiles = this.imgStored.length
            //! it was handle with this.totalImages
          }
        });
    },
    exchangePosition(itemId, newPosition, oldPosition) {
      const oldIndex = oldPosition - 1;
      const newIndex = newPosition - 1;
      let newArr = [];

      for (let i = 0; i <= this.imgStored.length - 1; i++) {
        if (i == oldIndex) {
          newArr.push(this.imgStored[newIndex]);
        } else if (i == newIndex) {
          newArr.push(this.imgStored[oldIndex]);
        } else {
          newArr.push(this.imgStored[i]);
        }
      }

      for (let i = 0; i <= this.imgStored.length - 1; i++) {
        newArr[i]["pos"] = i + 1;
      }

      let updateArray = this.imgArrayKeySorted(newArr);

      this.updatePosition(updateArray);

      this.imgStored = [...newArr];
      this.setCurrentImage(newIndex);
      this.$store.dispatch("mainform/resetImagesGallerySelected");
    },

    imgArrayKeySorted(arr) {
      const tmpObjIma = { id: null, pos: null };
      let updateArray = [];
      for (let i = 0; i < arr.length; i++) {
        tmpObjIma.id = arr[i].id;
        tmpObjIma.pos = i + 1;
        updateArray.push({ ...tmpObjIma });
      }
      return updateArray;
    },

    updatePosition(arr) {
      axios({
        method: "put",
        url: "api/attachment",
        data: {
          appraisal_request_id: this.itemDatatable[0].id,
          array_data: arr
        }
      })
        .then(response => {
          Swal.fire({
            title: "Actualizado!",
            text: "El registro fue actualizado!",
            icon: "success",
            showConfirmButton: false,
            timer: 1200
          });
        })
        .catch(error => {
          //console.log(error);
        });
    },

    /**
     * Function to delete Docs
     */
    deleteAttachment(itemId, itemIndex, type) {
      Swal.fire({
        title: "Eliminar este archivo?",
        text: "Por favor confirme",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, eliminar!"
      })
        .then(result => {
          if (result.isConfirmed) {
            axios({
              method: "delete",
              url: "api/attachment/" + itemId
            }).then(response => {
              Swal.fire({
                title: "Eliminado!",
                text: "El archivo fue eliminado!",
                icon: "success",
                showConfirmButton: false,
                timer: 1200
              });
            });

            if (type == "img") {
              let tmpPos = null;
              this.setCurrentImage(tmpPos);

              if (this.totalImages == 1) {
                this.imgStored.splice(itemIndex, 1);
                this.$store.dispatch("mainform/showModalImagesGallery", {
                  value: false
                });
              } else {
                if (itemIndex + 1 == this.totalImages) {
                  tmpPos = itemIndex;
                  let tmpArray = [...this.imgStored];
                  tmpArray.splice(itemIndex, 1);
                  this.imgStored = [...tmpArray];
                  --tmpPos;
                  this.setCurrentImage(tmpPos);
                } else {
                  tmpPos = itemIndex;
                  let tmpArray = [...this.imgStored];
                  tmpArray.splice(itemIndex, 1);
                  this.imgStored = [...tmpArray];
                  console.log("Msg: " + "tmpPos has value: " + tmpPos);
                  //this.currentPos = tmpPos
                  this.setCurrentImage(tmpPos);
                }
              }
              //After delete on DB and remove file from servers file system, the array counter is updated
              this.$store.dispatch("mainform/setTotalImages", {
                value: this.totalImages - 1
              });
            }
            if (type == "doc") {
              this.docsIndex = itemIndex;
              this.$store.dispatch("mainform/setTotalDocuments", {
                value: this.totalDocuments - 1
              });
              if (this.totalDocuments == 0) {
                this.$store.dispatch("mainform/showModalDocuments", {
                  value: false
                });
              }
            }
          }
        })
        .catch(error => {
          console.log(error);
          //this.onCancel()
        });
    },

    deleteOneOrMoreImages(arrIma) {
      /**
       * remove images on backend
       */

      const title_avoid =
        arrIma.length > 1
          ? "Eliminar los archivos seleccionados?"
          : "Eliminar este archivo?";
      const title_response = arrIma.length > 1 ? "Eliminados!" : "Eliminado!";
      const text_response =
        arrIma.length > 1
          ? "Los archivos seleccionados fueron eliminados!"
          : "El archivo fue eliminado!";

      Swal.fire({
        title: title_avoid,
        text: "Por favor confirme",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, eliminar!"
      })
        .then(result => {
          if (result.isConfirmed) {
            axios({
              method: "post",
              url: "api/oneOrMoreImages",
              data: {
                arr_ima: arrIma
              }
            }).then(response => {
              Swal.fire({
                title: title_response,
                text: text_response,
                icon: "success",
                showConfirmButton: false,
                timer: 1200
              });

              /**
               *remove images in array imagStorage
               */
              const arrTmp = [...this.imagesGallerySelected];
              this.imgStored = this.imgStored.filter(function(el) {
                return !arrTmp.includes(el.id);
              });

              this.$store.dispatch("mainform/setTotalImages", {
                value: this.imgStored.length
              });
              this.$store.dispatch("mainform/resetImagesGallerySelected");

              if (this.imgStored.length === 0) {
                this.$store.dispatch("mainform/showModalImagesGallery", {
                  value: false
                });
              }
            });
          }
        })
        .catch(error => {
          console.log(error);
          //this.onCancel()
        });
    },

    downloadOneOrMoreImages(arrIma) {
      const fileName = arrIma.length > 1 ? "photos.zip" : "photo.zip";
      axios
        .get("api/oneOrMoreImages", {
          params: {
            appraisal_request_id: this.itemDatatable[0]["appraisal_request_id"],
            arr_ima: arrIma,
            file_name: fileName
          }
        })
        .then(response => {
          let filePath =
            "/uploads/" + this.itemDatatable[0]["appraisal_request_id"] + "/";
          var link = document.createElement("a");
          link.href = filePath + fileName;
          link.download = fileName;
          link.click();
        });

      this.$store.dispatch("mainform/resetImagesGallerySelected");
    },

    deleteAllImages(appraisalId) {
      Swal.fire({
        title: "<strong>Eliminar <u>todas</u> las fotografías?</strong>",
        text: "Por favor confirme",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, eliminar!"
      })
        .then(result => {
          if (result.isConfirmed) {
            axios({
              method: "post",
              url: "api/multiImages",
              data: {
                appraisal_request_id: appraisalId
              }
            }).then(response => {
              Swal.fire({
                title: "Eliminado!",
                text: "El archivo fue eliminado!",
                icon: "success",
                showConfirmButton: false,
                timer: 1200
              });

              this.$store.dispatch("mainform/showModalImagesGallery", {
                value: false
              });
              this.imgStored.splice(0, this.imgStored.length);
              this.setCurrentImage(null);
              //After delete on DB and remove file from servers file system, the array counter is updated
              this.$store.dispatch("mainform/setTotalImages", { value: 0 });
            });
          }
        })
        .catch(error => {
          console.log(error);
          //this.onCancel()
        });
    },

    downloadAllImages(appraisal_request_id) {
      axios
        .get("api/multiImages", {
          params: {
            appraisal_request_id: appraisal_request_id
          }
        })
        .then(response => {
          let filePath = "/uploads/" + appraisal_request_id + "/";
          let fileName = "photos.zip";
          var link = document.createElement("a");
          link.href = filePath + fileName;
          link.download = fileName;
          link.click();
        });
    },

    fileCounterDown(type_file) {
      if (type_file == "img") {
        this.$store.dispatch("mainform/setTotalImages", {
          value: this.totalImages - 1
        });
      } else if (type_file == "doc") {
        this.$store.dispatch("mainform/setTotalDocuments", {
          value: this.totalDocuments - 1
        });
      }
    },
    resetDocIndex() {
      this.docsIndex = null;
    },
    async setCurrentImage(pos) {
      console.log("Msg: " + "Call setCurrentImage function with pos: " + pos);
      if (typeof pos == "number" && this.totalImages > 0) {
        const tmpImgObject = { ...this.imgStored[pos] };
        await this.$set(this.currentImage, "size", tmpImgObject.size);
        await this.$set(this.currentImage, "id", tmpImgObject.id);
        await this.$set(this.currentImage, "name", tmpImgObject.name);
        await this.$set(this.currentImage, "path", tmpImgObject.relative_path);
        await this.$set(this.currentImage, "pos", tmpImgObject.pos);
      } else {
        this.$set(this.currentImage, "id", null);
        this.$set(this.currentImage, "name", null);
        this.$set(this.currentImage, "path", null);
        this.$set(this.currentImage, "pos", null);
        this.$set(this.currentImage, "size", null);
      }
      this.currentPos = pos;
      this.carouselKey = Math.random() * Math.pow(10, 6);
    },
    resetInspection() {
      console.log("Paso por resetInspection");
      this.$store.dispatch("mainform/resetItemSelected");
      this.$store.dispatch("mainform/resetKeyDatatable");
      this.$store.dispatch("mainform/resetKeySolicitudes");
      this.$store.dispatch("mainform/resetkeyInspection");
    }
  },
  watch: {
    itemDatatable: function() {
      this.$store.dispatch("mainform/resetkeyModalDocuments");
      this.$store.dispatch("mainform/resetkeyModalImagesGallery");
      this.$store.dispatch("mainform/resetkeyInspection");
      this.setCurrentImage(null);
    },
    modalDocuments: function() {
      let itemId = this.itemDatatable[0].id;
      let typeFile = "doc";
      if (this.itemDatatable.length > 0) {
        this.fetchDocFiles(itemId, typeFile);
      }
    },
    modalImagesGallery: function() {
      let itemId = this.itemDatatable[0].id;
      let typeFile = "img";
      if (this.itemDatatable.length > 0) {
        this.fetchImgFiles(itemId, typeFile);
      }
    },
    totalImgfiles: function() {
      this.totalImgfiles;
    }
  }
};
</script>
