<template>
    <b-row>
        <b-col>
            <b-card 
            border-variant="default"
            header="Registro"
            header-bg-variant="dark"
            header-text-variant="white"
            align="center"
            class="text-center">
                <b-form ref="formRegister" id="formRegister">
                    <b-form-group
                        label-cols-sm="3"
                        label="Nombre del Área:"
                        label-align-sm="right"
                        label-for="nested-formArea"
                    >  
                        <b-form-input  

                            id="nested-formArea"
                            name="register_name" 
                            v-model="internalName"
                            :state="validateState('register_name')"
                            aria-describedby="nombre-live-feedback"
                        >
                        </b-form-input>
                        <b-form-invalid-feedback id="nombre-live-feedback">
                            "Nombre del Área" es un campo requerido
                        </b-form-invalid-feedback>
                    </b-form-group>
                    <b-row align-h="around" class="py-3">
                        <b-col cols="4" md="3">
                            <template v-if="this.id == 0">
                                <b-button key="btn-save" class="btn-block" variant="primary" @click="save(internalName)">Guardar</b-button>
                            </template>
                            <template v-if="this.id != 0">
                                <b-button key="btn-update" class="btn-block" variant="success" @click="save(internalName)">Actualizar</b-button>
                            </template>
                        </b-col>
                        <b-col cols="4" md="3">                            
                            <template>
                                <b-button key="btn-cancel" class="btn-block" variant="secondary" @click="cancel()">Cancelar</b-button>
                            </template>
                        </b-col>
                    </b-row>
                </b-form>
            </b-card>
        </b-col>
    </b-row>
</template>
<script>
import { required   } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'


export default {
    scrollToTop: false,
    name: 'AreasAddItem',

    metaInfo () {
        return { title: this.$t('area_form') }
    },
    props: {
        id: { type: Number, default: 0 },
        name: { type: String, default: null },

    },
    data: () => ({
        internalId: 0,
        internalName: null,
    }),
    validations: {
        internalName: { required },
    },
    created(){
        this.internalId = this.id
        this.internalName = this.name
    },
    methods:{
        save(internalName){
            this.$v.internalName.$touch()
            if (this.$v.internalName.$anyError){
                return
            } else {
                if (this.internalId == 0) {
                    this.insert(this.internalName)
                } else {
                    let dataForm = this.prepareForm()
                    this.update(dataForm)
                }
            }
            
        },
        prepareForm(){
                let formRegister = document.getElementById('formRegister');
                let formData = new FormData(formRegister);
                formData.append("register_id", this.internalId);
                formData.append("_method", "put");
                return formData;
        },
        insert(internalName){
            this.$emit('insertRegister', this.internalName)
        },
        update(dataForm){
            this.$emit('updateRegister', dataForm)
        },
        validateState() {
            const { $dirty, $error } = this.$v.internalName;
            return $dirty ? !$error : null;
        },
        cancel(){
            this.$emit('cancelRegister')
        }
    },
    watch: {
        value (val) {
            this.internalName = val
        },
    },
}
</script>
