<template>
    <b-row>
        <b-col>
            <b-card 
            border-variant="default"
            header="Listado de Áreas"
            header-bg-variant="dark"
            header-text-variant="white"
            align="center"
            class="text-center custom-top-margin"
            >
                <b-table 
                    striped 
                    hover 
                    primary-key="id" 
                    :items="items" 
                    :fields="fields" 
                    sort-by="name"
                    sort-icon-left
                    responsive 
                    small
                    show-empty
                    empty-text="No existen registros para mostrar"
                    >
                    <template #table-colgroup="scope">
                        <col
                        v-for="field in scope.fields"
                        :key="field.key"
                        :style="{ width: field.key === 'actions' ? '30%' : '70%' }"
                        >
                    </template>
                    <template v-slot:cell(actions)="row">
                        <div>
                                <b-button size="sm" variant="success" @click="updateItem(row.item, row.index)" class="mx-1">
                                    Modificar
                                </b-button>                                
                                <b-button size="sm" variant="danger" @click="deleteItem(row.item, row.index)" class="mx-1">
                                    Eliminar
                                </b-button>
                        </div>
                    </template>
                </b-table>




                <b-row align-h="around" class="py-3">
                    <b-col cols="4" md="3">
                        <template>
                            <b-button key="btn-save" class="btn-block" variant="primary" @click="addItem">Agregar</b-button>
                        </template>
                    </b-col>
                </b-row>
            </b-card>
        </b-col>
    </b-row>
</template>
<script>
export default {
    name: 'areasShowItem',
    scrollToTop: false,
    props: {
        items:  { type: Array, default: null },
    },
    data() {
      return {
        fields: [
          {
            key: 'name',
            label: 'Áreas',
            sortable: true,

          },                       
          { key: 'actions', 
            label: 'Acciones' 
          }
        ],   
        
        }
    },
    created(){
        this.$emit('loadRegisters')
    },
    methods:{
        addItem(){
             this.$emit('addRegister')

        },        
        updateItem(item){
             this.$emit('editRegister', item)

        },
        deleteItem(item, index){
             this.$emit('deleteRegister', item, index)

        }
    }
}
</script>