<template>
    <b-modal 
        v-model="modalShow"
        :id="id || name"
        size="sm"
        ok-only
        hide-footer
        hide-header

    > 
      <div>
        <b-carousel
          :id="id"
          :name="name"
          :interval="interval"
          controls
          :img-width="img_width"
          :img-height="img_height"
        >

        <b-carousel-slide v-for="(photo, index) in photos" :img-src="photo.relative_path.replace(/img/g,'thumb') + '/' + photo.name" :key="'slide' + index">
        </b-carousel-slide>

        </b-carousel>
      </div>
      <b-button class="mt-2" block @click="$bvModal.hide(id)"><b-icon-x-circle></b-icon-x-circle> Cerrar</b-button>
    </b-modal>
</template>

<script>
  export default {
    name: 'CarouselModal',
    props:{
        id: { type: String, default: 'carousel-1' },
        name: { type: String, default: 'carousel' },        
        interval:   { type: Number, default: 0    },
        img_width:  { type: Number, default: 200 },
        img_height: { type: Number, default: 285  },
        photos: { type: Array, default: [] },

        show: {type: Boolean, default: false }

    },
    data() {
      return {
        modalShow: false

      }
    },
    watch: {
      show(newVal){
          this.modalShow = newVal
      },
      modalShow(){
          let val = this.modalShow
          this.$store.dispatch('comparables/showModalPhotos',{ value: val });
      },
    }

  }
</script>