<template>
    <b-row align-v="center">
        <b-form-checkbox 
        :id="id || name"
        :name="name"
        v-model="checkedValue" 
        :indeterminate.sync="indeterminateValue"
        :disabled="disabled"
        plain
        >
        <span :class="{ 'text-muted': indeterminateValue, 'font-weight-normal': !indeterminateValue  }"><slot /></span>
        </b-form-checkbox>
        <span v-if="!indeterminateValue">
        <b-icon-toggle-on class="ml-1" size="sm" v-if="activeOption" @click="switchOption"/>
        <b-icon-toggle-off class="ml-1" size="sm" v-else />
        </span>
    </b-row>
</template>
<script>
export default {
    name: "ComparableCheckbox",

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'b-form-checkbox' },
        disabled: { type: Boolean, default: false },
    },

    data(){
        return{
            checkedValue: false,
            indeterminateValue: true,
            activeOption: true
        }
    },
    methods: {
        switchOption: function(){
            this.activeOption = !this.activeOption
            setTimeout(() => {
                this.activeOption = !this.activeOption
                this.indeterminateValue = true    
            }, 500);
            
        }
    },
    watch: {
        checkedValue: function(){
            if (!this.indeterminateValue){
                const stateValue = (this.checkedValue) ? 1 : -1
                this.$emit('inputValue', this.name, stateValue)
            }

        },
        indeterminateValue: function(){
            if (this.indeterminateValue) {
                this.$emit('inputValue',this.name, 0)
            }
        }

    }

}
</script>
