<template>
    <b-container>
        <b-row align-h="center">
            <b-col cols="10">
                <b-button block size="sm" class="mb-2" variant="info" @click="eventInfo(id)">
                    <b-icon icon="info-circle" aria-hidden="true"></b-icon> Detalles
                </b-button>
            </b-col>                 
        </b-row>
    </b-container>
</template>
<script>
export default {
    name: 'ComparableDetailsButton',
    props: {
        id: { type: String, default: '' },
    },
    methods: {
        
        eventInfo(id){
            this.$emit('onClickInfo', id)
        }

    }

}

</script>
