<template>
  <b-card
    :key="ownKey"
    header-tag="header"
    :border-variant="is_selected ? 'danger' : 'light'"
  >
    <template #header>
      <comparable-select
        :id="String(ownItem.appraisal_request_id)"
        :key="'comparable-select-' + ownKey"
        @onCheck="selectProperty"
        @onUnCheck="unSelectProperty"
      ></comparable-select>
    </template>
    <b-card-img
      style="cursor: pointer"
      :src="photoPatch + photoName"
      height="285"
      width="200"
      img-alt="Foto"
      @click="showModalPhotos(ownItem.appraisal_request_id)"
    >
    </b-card-img>
    <b-card-text>
      <h4 class="font-weight-bold">{{ ownItem.property_type_name }}</h4>
    </b-card-text>
    <b-card-text>
      {{ ownItem.sector_name + "-" + ownItem.city_name }}
    </b-card-text>
    <b-card bg-variant="light">
      <b-row align-h="center">
        <b-col cols="5">
          <b-row align-h="center">
            <b-col cols="5"><font-awesome-icon icon="bed"/></b-col>
            <b-col cols="5"
              ><b-badge variant="primary">{{
                ownItem.total_rooms
              }}</b-badge></b-col
            >
          </b-row>
        </b-col>
        <b-col cols="5">
          <b-row align-h="center">
            <b-col cols="5"><font-awesome-icon icon="restroom"/></b-col>
            <b-col cols="5"
              ><b-badge variant="primary">{{
                ownItem.total_baths
              }}</b-badge></b-col
            >
          </b-row>
        </b-col>
      </b-row>
      <b-row align-h="center">
        <b-col cols="5">
          <b-row align-h="center">
            <b-col cols="5"><font-awesome-icon icon="car"/></b-col>
            <b-col cols="5"
              ><b-badge variant="primary">{{
                ownItem.total_parking_spots
              }}</b-badge></b-col
            >
          </b-row>
        </b-col>
        <b-col cols="5">
          <b-row align-h="center">
            <b-col cols="5"><font-awesome-icon icon="layer-group"/></b-col>
            <b-col cols="5"
              ><b-badge variant="primary">{{
                ownItem.property_levels
              }}</b-badge></b-col
            >
          </b-row>
        </b-col>
      </b-row>
    </b-card>
    <template>
      <comparable-details-button
        :id="String(ownItem.appraisal_request_id)"
        :key="'photo-info-' + ownKey"
        @onClickPhotos="showModalPhotos"
        @onClickInfo="showModalInfo"
        class="pt-2"
      ></comparable-details-button>
    </template>
  </b-card>
</template>
<script>
import ComparableDetailsButton from "~/components/ComparableDetailsButton";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import ComparableSelect from "~/components/ComparableSelect";

export default {
  name: "ComparableCard",
  components: {
    ComparableDetailsButton,
    ComparableSelect,
    FontAwesomeIcon
  },
  props: {
    ownKey: { type: Number, required: true },
    ownItem: { type: Object, required: true }
  },
  data() {
    return {
      is_selected: false
    };
  },
  methods: {
    showModalPhotos(val) {
      this.$store.dispatch("comparables/setComparableId", { value: val });
      this.$store.dispatch("comparables/showModalPhotos", { value: true });
    },
    showModalInfo(val) {
      this.$store.dispatch("comparables/setComparableId", { value: val });
      this.$store.dispatch("comparables/showModalInfo", { value: true });
    },
    selectProperty(val) {
      this.$store.dispatch("comparables/addComparable", { value: val });
      this.is_selected = true;
    },
    unSelectProperty(val) {
      this.$store.dispatch("comparables/removeComparable", { value: val });
      this.is_selected = false;
    }
  },
  computed: {
    photoPatch: function() {
      const strPatch = this.ownItem["photo_relative_path"];

      return strPatch ? strPatch.replace("img", "thumb") + "/" : "";
    },
    photoName: function() {
      const strName = this.ownItem["photo_name"]
        ? this.ownItem["photo_name"]
        : "no_image.png";

      return strName;
    }
  }
};
</script>
