<template>
  <div>
    <b-button v-b-toggle.sidebar-1> <b-icon icon="filter" aria-hidden="true"></b-icon></b-button>
    <b-sidebar id="sidebar-1" title="Filtros de Búsqueda" shadow>
      <b-container class="px-3 py-2">
            <b-row>
                <b-col>
                    <label for="property_type">Tipo de propiedad:</label>
                    <b-form-select 
                    id="property_type" 
                    v-model="form.property_type"
                    :options="options.property_type" 
                    name="property_type"
                    value-field="id"
                    text-field="name"
                    size="sm"
                    >
                        <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                        </template>
                    </b-form-select>
                </b-col>
            </b-row>
            <b-row class="pt-3">
                <b-col>
                    <label for="province">Provincia:</label>
                    <vue-typeahead-bootstrap 
                        id="province"
                        v-model="locationSearch.province"
                        :data="options.provinces"
                        :serializer="s => s.name"
                        @hit="form.locationSelect.province = $event"
                        size="sm"
                        :showOnFocus="true"
                        :disabled="disable.province"
                    ></vue-typeahead-bootstrap>
                </b-col>
            </b-row>
            <b-row class="pt-3">
                <b-col>
                    <label for="municipality">Municipio:</label>
                    <vue-typeahead-bootstrap 
                        id="municipality"
                        v-model="locationSearch.municipality"
                        :data="options.municipalities"
                        :serializer="s => s.name"
                        @hit="form.locationSelect.municipality = $event"
                        size="sm"
                        :showOnFocus="true"
                        :disabled="disable.municipality"
                    ></vue-typeahead-bootstrap>
                </b-col>
            </b-row>
            <b-row class="pt-3">
                <b-col>
                    <label for="city">Ciudad:</label>
                    <vue-typeahead-bootstrap 
                        id="city"
                        v-model="locationSearch.city"
                        :data="options.cities"
                        :serializer="s => s.name"
                        @hit="form.locationSelect.city = $event"
                        size="sm"
                        :showOnFocus="true"
                        :disabled="disable.city"
                    ></vue-typeahead-bootstrap>
                </b-col>
            </b-row>



                    <b-row  class="pt-3">
                        <b-col>
                            <label for="sector">Sector:</label>
                            <vue-typeahead-bootstrap 
                                id="sector"
                                v-model="locationSearch.sector"
                                :data="options.sectors"
                                :serializer="s => s.name"
                                @hit="tmpSector = $event"
                                size="sm"
                                :showOnFocus="true"
                                :disabled="disable.sector"
                                :key="key.sector"
        
                            ></vue-typeahead-bootstrap>
                        </b-col>
                    </b-row>

            <b-form-tags v-model="sectorsTags" no-outer-focus class="my-2 bg-transparent border-0">
                <!-- inputAttrs, inputHandlers, addTag -->
                <template v-slot="{ tags, tagVariant, removeTag }">    

                    <div class="d-inline-block" style="font-size: 1rem;">
                    <b-form-tag
                        v-for="tag in tags"
                        @remove="removeTag(tag)"
                        :key="tag"
                        :title="tag"
                        :variant="tagVariant"
                        class="mr-1"
                    >{{ tag }}</b-form-tag>
                    </div>


            <div>
                <b-button size="sm" variant="link" @click="removeAllTags" >Eliminar Todos</b-button>
            </div>

                </template>
            </b-form-tags>



            <b-row  class="pt-3">
                <b-col>
                    <label for="sidebar_hab_numbers">Habitación(es)</label>
                    <b-form-select
                    id="sidebar_hab_numbers"
                    v-model="form.quantity.hab"
                    :options="options_qty"
                    size="sm">
                    </b-form-select>
                </b-col>
                <b-col>
                    <label for="sidebar_bath_numbers">Baño(s)</label>
                    <b-form-select
                    id="sidebar_bath_numbers"
                    v-model="form.quantity.bath"
                    :options="options_qty"
                    size="sm">
                    </b-form-select>   
                </b-col>
            </b-row>
            <b-row  class="pt-3">
                <b-col>
                    <label for="sidebar_parking_numbers">Parqueo(s)</label>
                    <b-form-select
                    id="sidebar_parking_numbers"
                    v-model="form.quantity.parking"
                    :options="options_qty"
                    size="sm">
                    </b-form-select>
                </b-col>
                <b-col>
                    <label for="sidebar_levels_numbers">Nivel(es)</label>
                    <b-form-select
                    id="sidebar_levels_numbers"
                    v-model="form.quantity.levels"
                    :options="options_qty"
                    size="sm">
                    </b-form-select>   
                </b-col>
            </b-row>
            <b-row  class="pt-3">
                <b-col>
                    <a v-b-toggle href="#more_filters" @click.prevent>
                        <span class="when-opened">
                            <b-icon icon="chevron-down" />
                        </span>
                        <span class="when-closed">
                            <b-icon icon="chevron-right" />
                        </span>
                        Más filtros</a>
                </b-col>
            </b-row>
            <b-row  class="pt-3">
                <b-col>
                    <b-collapse id="more_filters">
                        <b-card>
                            <b-card-body>
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="piscina">
                                    {{ "Piscina" }}
                                </comparable-checkbox>
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="picuzzi">
                                    {{ "Picuzzi" }}
                                </comparable-checkbox>
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="jacuzzi">
                                    {{ "Jacuzzi" }}
                                </comparable-checkbox>      
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="salon_reuniones">
                                    {{ "Salón de reuniones" }}
                                </comparable-checkbox>    
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="gazebo">
                                    {{ "Gazebo" }}
                                </comparable-checkbox>    
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="area_juegos">
                                    {{ "Área de juegos para niños" }}
                                </comparable-checkbox>    
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="gimnasio">
                                    {{ "Gimnasio" }}
                                </comparable-checkbox>       
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="terraza_techada">
                                    {{ "Terraza techada" }}
                                </comparable-checkbox>
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="terraza_destechada">
                                    {{ "Terraza destechada" }}
                                </comparable-checkbox>
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="sauna">
                                    {{ "Sauna" }}
                                </comparable-checkbox>
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="campo_golf">
                                    {{ "Campo de golf" }}
                                </comparable-checkbox>                                                                                                                                  <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="canchas_baloncesto">
                                    {{ "Canchas de baloncesto" }}
                                </comparable-checkbox>
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="canchas_tenis">
                                    {{ "Canchas de tenis" }}
                                </comparable-checkbox>  
                                <comparable-checkbox
                                    @inputValue="advacedCriteria" 
                                    name="sala_choferes">
                                    {{ "Sala de espera para choferes" }}
                                </comparable-checkbox>
                            </b-card-body>
                        </b-card>
                    </b-collapse>                                                                                 
                </b-col>
            </b-row>
            <b-row class="pt-3">
                <b-col>
                    <b-button variant="danger" @click="eventSearchComparables(form)" block>Buscar</b-button>
                </b-col>
            </b-row>
            <b-row class="pt-3">
                <b-col>
                    <comparable-image
                    :id="String(propertyData['appraisal_request_id'])"
                    height="285"
                    width="200" 
                    :src="photo_src"
                    @onClickPhotos="showModalPhotos">
                    </comparable-image>
                </b-col>
            </b-row>
            <comparable-details-button
                :id="String(propertyData['appraisal_request_id'])"
                @onClickPhotos="showModalPhotos"
                @onClickInfo="showModalInfo">
            </comparable-details-button>
      </b-container>
    </b-sidebar>
  </div>
</template>
<script>
import VueTypeaheadBootstrap from 'vue-typeahead-bootstrap'
import ComparableCheckbox from '~/components/ComparableCheckbox'
import ComparableImage from '~/components/ComparableImage'
import ComparableDetailsButton from '~/components/ComparableDetailsButton.vue'
import axios from 'axios'
export default {
    name: 'comparableSidebar',
    components: {
        VueTypeaheadBootstrap,
        ComparableCheckbox,
        ComparableImage,
        ComparableDetailsButton,    
        },
    props: {
        propertyData: { type: Object, default: () => {return{}} },

    },
    data(){
        return {
            form: {
                property_type: null,
                sectors: [],
                locationSelect: {
                    province: {},
                    municipality: {},
                    city: {},
                    sector: {},
                },                
                quantity: {
                    hab: '',
                    bath: '',
                    parking: '',
                    levels: '',
                },
                amenidades: {
                    //tri-state checkbox Checked:1,Unchecked:-1,Disabled:0
                    piscina: 0,
                    picuzzi: 0,
                    jacuzzi: 0,
                    salon_reuniones: 0,
                    gazebo: 0,
                    area_juegos: 0,
                    gimnasio: 0,
                    terraza_techada: 0,
                    terraza_destechada: 0,
                    sauna: 0,
                    campo_golf: 0,
                    canchas_baloncesto: 0,
                    canchas_tenis: 0,
                    sala_choferes: 0,     
                }

            },
            photo_src: null,
            sectorsTags: [],
            locationSearch: {
                province: '',
                municipality: '',
                city: '',
                sector: '',
            },
            options_qty: [1,2,3,4,5,6,7,8,'9+'],
            options: {
                property_type: [],
                provinces: [],
                municipalities: [],
                cities: [],
                sectors: [],
            },
            disable: {
                province: false,
                municipality: true,
                city: true,
                sector: true,
            },
            key:{
                sector: 0,
            },
            tmpSector: {}

        }
    },
    created(){
        this.fetchPropertyTypes()
        this.fetchProvinces()

    },
    mounted(){
        this.fillForm()
        
    },
    methods: {
        fillForm(){
            setTimeout(() =>{
                this.form.property_type = this.propertyData.property_type_id
                this.form.locationSelect.province.country_id = this.propertyData.country_id
                this.form.locationSelect.province.id = this.propertyData.province_id
                this.form.locationSelect.province.name = this.propertyData.province_name
                this.locationSearch.province = this.propertyData.province_name
                this.fetchMunicipalities()
                this.disableLocation(['municipality'],false)

                if (this.propertyData.photo_relative_path){
                    const strPatch = this.propertyData['photo_relative_path']
                    this.photo_src = strPatch.replace("img", "thumb")+'/'+this.propertyData['photo_name']
                    
                }    
                
                

            
            },500)
        },
        async fetchPropertyTypes(){
            try {
                const response = await axios.get(`api/propertyTypes`);
                this.options.property_type = response.data;
            } catch (error) {
                console.log('MSG ERROR ' + error)                
            }
        },
        async fetchProvinces(){
            try {
                const response = await axios.get(`api/provinces`);
                this.options.provinces = response.data;
            } catch (error) {
                console.log('MSG ERROR ' + error)
            }
        },
        async fetchMunicipalities(){
            const params = {
                id: this.form.locationSelect.province.id 
            }

            try {
                const response = await axios.get(`api/municipalities`,{ params });
                this.options.municipalities = response.data;
            } catch (error) {
                console.log('MSG ERROR ' + error)
            }
        },
        async fetchCities(){
            const params = {
                id: this.form.locationSelect.municipality.id
            }

            try {
                const response = await axios.get(`api/cities`,{ params });
                this.options.cities = response.data;
            } catch (error) {
                console.log('MSG ERROR ' + error)
            }
        },
        async fetchSectors(){
            const params = {
                id: this.form.locationSelect.city.id
            }

            try {
                const response = await axios.get(`api/sectors`,{ params });
                this.options.sectors = response.data;
            } catch (error) {
                console.log('MSG ERROR ' + error)
            }
        }, 
        removeAllTags(){
            this.form.sectors.splice(0,this.form.sectors.length)
            this.sectorsTags.splice(0,this.sectorsTags.length)
            this.cleanLocation(['province','municipality','city','sector']);

        },
        cleanLocation(locationArr){
            locationArr.forEach(element => {
                this.form.locationSelect[element] = {};
                this.locationSearch[element] = '';
            });
        },
        disableLocation(locationArr, value){
            locationArr.forEach(element => {
                this.disable[element] = value;
            })
        },
        showModalPhotos(val){
            this.$store.dispatch('comparables/setComparableId',{ value: val });
            this.$store.dispatch('comparables/showModalPhotos',{ value: true });
        },
        showModalInfo(val){
            this.$store.dispatch('comparables/setComparableId',{ value: val });
            this.$store.dispatch('comparables/showModalInfo',{ value: true });
        },
        eventSearchComparables(params){
            this.$emit('onClickSearchComparables',params)
        },
        advacedCriteria(name, value){
            this.form.amenidades[name] = value
        }

             
    },
    computed: {
        provinceLocationSearchIsEmpty: function(){
            return (this.locationSearch.province.length === 0) ? true : false
        },
        municipalityLocationSearchIsEmpty: function(){
            return (this.locationSearch.municipality.length === 0) ? true : false
        },
        cityLocationSearchIsEmpty: function(){
            return (this.locationSearch.city.length === 0) ? true : false
        },        
    },
    watch: {
        'form.locationSelect.province': function() {

            console.log('Passing for watch province')

            this.cleanLocation(['municipality','city','sector']);
            
            if (typeof(this.form.locationSelect.province) === "object"
                && Object.keys(this.form.locationSelect.province).length > 0){
                if (this.fetchMunicipalities()) {
                    this.disableLocation(['municipality'],false)
                }

            }else{
                this.disableLocation(['municipality'],true)
            } 
        },
        'form.locationSelect.municipality': function() {

            this.cleanLocation(['city','sector']);
            
            if (typeof(this.form.locationSelect.municipality) === "object"
                && Object.keys(this.form.locationSelect.municipality).length > 0){
                if (this.fetchCities()) {
                    this.disableLocation(['city'],false)
                }

            }else{
                 this.disableLocation(['city'],true)
            } 
        },        
        'form.locationSelect.city': function() {

            this.cleanLocation(['sector']);

            if (typeof(this.form.locationSelect.city) === "object"
                && Object.keys(this.form.locationSelect.city).length > 0){
                if (this.fetchSectors()) {
                    this.disableLocation(['sector'],false)
                }

            }else{
                 this.disableLocation(['sector'],true)
            } 
        },   
        tmpSector: function() {

            console.log('estamos en tmpSector')

            if (Object.keys(this.tmpSector).length !== 0 
            && this.tmpSector.constructor === Object){

            const lookUpSector = (element) => element.name === this.tmpSector.name

            const isFind = this.form.sectors.some(lookUpSector)

            console.log('isFind:' + isFind)
            console.log('typeof of locationSelect:' + typeof(this.tmpSector.id) )

            if (!isFind && typeof(this.tmpSector.id) === "number" ) {
                this.form.sectors.push(this.tmpSector)
                this.sectorsTags.push(this.tmpSector.name)
            }
            this.cleanLocation(['sector']);
            ++this.key.sector
            }
                     
        },
        sectorsTags: function(newValue, oldValue){

            if(newValue.length !== oldValue.length+1){
                const diffValue = oldValue.filter(element => !newValue.includes(element))
                console.log(diffValue)

                for (let idx = 0; idx < diffValue.length; idx++) {
                    for (let index = 0; index < this.form.sectors.length; index++) {
                        if (this.form.sectors[index].name === diffValue[idx]){
                            this.form.sectors.splice(index, 1)
                            break
                        }                        
                    }
                }
            }

            if (Object.keys(this.tmpSector).length !== 0 && this.tmpSector.constructor === Object){
                this.tmpSector = {}
            }
        },
        provinceLocationSearchIsEmpty: function(newValue,oldValue){
            if(newValue === true && oldValue === false){
                this.cleanLocation(['municipality','city','sector']);
                this.disableLocation(['municipality','city','sector'],true);

            }
        },
        municipalityLocationSearchIsEmpty: function(newValue,oldValue){
            if(newValue === true && oldValue === false){
                this.cleanLocation(['city','sector']);
                this.disableLocation(['city','sector'],true);

            }
        },
        cityLocationSearchIsEmpty: function(newValue,oldValue){
            if(newValue === true && oldValue === false){
                this.cleanLocation(['sector']);
                this.disableLocation(['sector'],true)
            }

        },
                
    }
    
}
</script>
<style>
    .collapsed > .when-opened,
    :not(.collapsed) > .when-closed {
        display: none;
    }
</style>