<template>
    <b-container>
        <b-row class="d-flex justify-content-center">
            <b-col class="d-flex justify-content-center">
                <b-form-checkbox 
                v-model="checked" 
                size="lg">
                    Seleccionar
                </b-form-checkbox>
            </b-col>                 
        </b-row>
    </b-container>
</template>
<script>
export default {
    name: 'ComparableSelect',
    props: {
        id: { type: String, default: '' },
    },
    data(){
        return {
            checked: false
        }
    },
    watch: {
        checked(){
            return (this.checked) ? this.$emit('onCheck', this.id) :  this.$emit('onUnCheck', this.id)

        },        
    }

}

</script>
