<template>
    <b-container fluid class="p-2">
        <b-row>
            <b-col>
                <b-img
                style="cursor: pointer" 
                thumbnail 
                center 
                :height="height" 
                :width="width" 
                fluid :src="src" 
                alt="img-comparable"
                @click="eventPhotos(id)"
                >
                </b-img>
            </b-col>
        </b-row>
    </b-container>
</template>
<script>
export default ({
    name: 'ComparableImage',
    
    props: {
        id: { type: String, default: '' },
        src: { type: String, default: null },
        height: { type: String, default: "226" },
        width: { type: String, default: "160" },
    },

    methods: {
        eventPhotos(id){
            this.$emit('onClickPhotos', id)
        },

    }


})
</script>
