<template>
<div>
    <b-row>
        <b-col class="d-flex justify-content-center justify-content-md-end">
            <b-button variant="primary" class="mb-2" @click="addEmptyItem">Agregar</b-button>
        </b-col>
    </b-row>

    
    <b-table-simple outlined hover small striped stacked="lg" responsive="xg">
        <b-thead head-variant="dark">
            <b-tr>
                <b-th style="width:40%">Descripción</b-th>
                <b-th style="width:20%">Mts<sup>2</sup> Totales</b-th>
                <b-th style="width:20%">Monto</b-th>
                <b-th style="width:20%">Costo Unitario</b-th>
            </b-tr>
        </b-thead>
        <b-tbody>
            <b-tr v-for="(item,key) in arrayData" :key="'row-' + key">
                <b-td  stacked-heading="Descripción" :key="'description-' + key">
                    <b-form-textarea
                    :id="'tc_description_' + key" 
                    v-model="arrayData[key]['description']"
                    size="sm"
                    ></b-form-textarea>
                </b-td>
                <b-td stacked-heading="Totales (m2)" :key="'mt2-totales-' + key">
                    <input-real-number
                    :id="'tc_mt2_totals_' + key" 
                    v-model="arrayData[key]['mt2_totales']"
                    :name="'mt2_totals_' + key"
                    >
                    </input-real-number>      
                </b-td>
                <b-td stacked-heading="Monto" :key="'amount-' + key">
                    <input-real-number
                    :id="'tc_amount_' + key" 
                    v-model="arrayData[key]['amount']"
                    :name="'amount_' + key"
                    currencySymbol="$" 
                    >
                    </input-real-number> 
                </b-td>
                <b-td stacked-heading="Costo Unitario" :key="'unit-cost-' + key">
                    <input-real-number
                    :id="'tc_unit_cost_' + key" 
                    v-model="arrayUnitCost[key]"
                    :name="'unit_cost_' + key"
                    currencySymbol="$"
                    readonly=true
                    >
                    </input-real-number>             
                </b-td>
            </b-tr>
        </b-tbody>
        <b-tfoot>
        <b-tr>
            <b-td colspan="4" variant="secondary" class="text-right">
            Nro Registros: <b>{{ arrayData.length }}</b>
            </b-td>
        </b-tr>
        </b-tfoot>
    </b-table-simple>
</div>
    
</template>
<script>
import { commonFunc } from '~/src/commonModule'
import InputRealNumber from '~/components/InputRealNumber'

export default {
    name: 'CostMethod',
    props: {

    },
    components: {
        InputRealNumber
    },
    data(){
        return{
            arrayData: [],
            arrayUnitCost: [],
        }
    },
    created(){
        this.addEmptyItem()
    },
    methods: {
        formatFloat: function(data){
            return commonFunc.formatRealNumber(data)
        },
        addEmptyItem: function(){
            let firstItem = {}
            firstItem.description = ''
            firstItem.mt2_totales = 0
            firstItem.amount = 0
            this.arrayData.push(firstItem)
            this.arrayUnitCost.push(0)
        }
    },
    computed: {

    },
    watch: {
        arrayData: {
            deep:true,
            handler(){
                this.arrayData.forEach((element, index) => {
                    let unit_cost = ( element.mt2_totales > 0 ) ? element.amount/element.mt2_totales : 0
                    this.arrayUnitCost[index] = parseFloat(unit_cost)
                })
                
            }
        }
    }

}
</script>

