
<template>
  <div id="datatableComponent" class="custom-top-margin">
    <div class="row">
      <b-button
        block variant="dark"
        :class="visible ? 'custom-collapse-parent' : 'collapsed custom-collapse-parent'"
        :aria-expanded="visible ? 'true' : 'false'"
        aria-controls="collapseAsignaciones"
        @click="visible = !visible"
      >
        Asignaciones
        <b-icon icon="plus-circle" :rotate="visible ? 45 : 0"  font-scale="1.5" aria-hidden="true" class="custom-collapse-child"></b-icon>
      </b-button>
    </div>
    <!--<b-container class="fluid">-->
    <b-row>
        <b-col>
            <b-collapse id="collapseAsignaciones" v-model="visible" class="mt-2">
                <b-card>
                  <b-row align-v="center" align-h="around">
                    <b-col sm="12" md="5">
                      <b-form-group 
                        label="Registros por página"
                        label-align="right"
                        label-for="selectRowPerPage" 
                        label-size="sm"
                        label-cols="8">
                        <b-form-select 
                          id="selectRowPerPage" 
                          size="sm"
                          :options="[{text:5,value:5},{text:10,value:10},{text:15,value:15}]" 
                          v-model="perPage">
                        </b-form-select>
                      </b-form-group>
                    </b-col>
                    <b-col sm="12" md="6" align-self="center">
                      <b-input-group 
                        prepend="Filtro" 
                        size="sm" 
                        class="mb-2">
                        <b-form-input 
                          type="search" 
                          id="inputFilter" 
                          size="sm" 
                          v-model="filter.search"
                          placeholder="texto de búsqueda">
                        </b-form-input>
                      </b-input-group>
                    </b-col>
                  </b-row>
                  <b-row align-v="center" align-h="around">
                     <b-col sm="12" md="5">
                      <b-input-group prepend="Tipo" size="sm" class="mb-2">
                        <b-form-select
                        id="select_filter_appraisal_type"
                        v-model="filter.type" 
                        name="appraisal_type"
                        :options="optionsTypes"
                        value-field="id"
                        text-field="name"
                        size="sm"
                        :disabled="!(is_administrative || is_approver)"
                        >
                        </b-form-select>
                      </b-input-group>

                     </b-col>
                    <b-col sm="12" md="6" align-self="center">
                      <b-input-group prepend="Estatus" size="sm" class="mb-2">
                        <b-form-select
                        id="select_filter_appraisal_status"
                        v-model="filter.status" 
                        name="appraisal_status"
                        :options="optionsStatus"
                        value-field="id"
                        text-field="name"
                        size="sm"
                        >
                          <template v-slot:first>
                            <b-form-select-option :value="null">Todos</b-form-select-option>
                          </template>
                        </b-form-select>
                      </b-input-group>
                    </b-col>
                  </b-row>
                  <b-row align-v="center" align-h="around">
                   <b-col sm="12" md="5">
                      <b-input-group prepend="Ciudad" size="sm" class="mb-2">
                        <b-form-select
                        id="select_filter_appraisal_city"
                        v-model="filter.city" 
                        name="appraisal_city"
                        :options="optionsCities"
                        value-field="id"
                        text-field="name"
                        size="sm"
                        >
                          <template v-slot:first>
                            <b-form-select-option :value="null">Todas</b-form-select-option>
                          </template>
                        </b-form-select>
                      </b-input-group>                     
                   </b-col>
                   <b-col sm="12" md="6" align-self="center">
                      <b-input-group prepend="Sector" size="sm" class="mb-2">
                        <b-form-select
                        id="select_filter_appraisal_sector"
                        v-model="filter.sector" 
                        name="appraisal_sector"
                        :options="optionsSectors"
                        value-field="id"
                        text-field="name"
                        size="sm"
                        :disabled="optionsSectors.length == 0"
                        >
                          <template v-slot:first>
                            <b-form-select-option :value="null">Todos</b-form-select-option>
                          </template>
                        </b-form-select>
                      </b-input-group>  
                   </b-col>
                  </b-row>
                  <b-row align-v="center" align-h="around">
                    <b-col sm="12" md="5">
                      <b-input-group prepend="Desde fecha:" size="sm" class="mb-2">
                        <b-form-input                     
                        type="date" 
                        id="date_filter_appraisal_from_date" 
                        name="appraisal_from_date"
                        v-model="filter.fromDate"
                        size="sm"
                        >
                        </b-form-input>
                      </b-input-group>

                    </b-col>
                    <b-col sm="12" md="6" align-self="center">
                      <b-input-group prepend="Hasta fecha:" size="sm" class="mb-2">
                        <b-form-input                     
                        type="date" 
                        id="date_filter_appraisal_to_date" 
                        name="appraisal_to_date"
                        v-model="filter.toDate"
                        size="sm"
                        >
                        </b-form-input>
                      </b-input-group>
                    </b-col>
                  </b-row>

                    <b-table
                      ref="datatable"
                      class="text-center"
                      id="table-data" 
                      hover 
                      responsive="sm"
                      small 
                      foot-clone 
                      dark 
                      bordered 
                      primary-key="id" 
                      sort-icon-left

                      selectable
                      select-mode="single"
                      @row-selected="onRowSelected"

                      show-empty
                      empty-text="No existen registros para mostrar"
                      empty-filtered-text="No hay registros que coincidan con su solicitud"

                      :filter="filter"
                      :filterIncludedFields="filterOn"
                      @filtered="onFiltered"

                      :current-page="currentPage" 
                      :per-page="perPage"
                      :items="filteredItems" 
                      :fields="fields"
                      
                      :busy="isBusy">
                            <!-- Appraisal Sector Name -->
                            <template v-slot:cell(sector_name)="data">
                              {{ data.value }}
                            </template>
                            <!-- Appraisal Inspection Time -->                     
                            <template v-slot:cell(inspection_time)="data">
                              {{ data.value }}
                            </template>
                            <!-- A virtual column -->
                            <template v-slot:cell(mapa)="data">
                             <b-link 
                             v-bind:href="'https://www.google.com/maps/search/?api=1&query='+data.item.geo_coordinates" target="_blank">
                             <b-icon icon="geo-alt"></b-icon>
                             </b-link>
                            </template>

                            <!-- A custom formatted column -->
                            <template v-slot:cell(contact_name)="data">
                              <b-link v-bind:href="'tel:'+data.item.contact_phone">
                              <b>{{ data.item.contact_name }}</b>
                              </b-link>
                            </template>

                            <template v-slot:cell(inspection_date)="data">
                              {{ data.value }}
                            </template>

                            <template v-slot:cell(delivery_date)="data" class="text-center"> 
                              {{ data.value }}
                            </template>

                            <template v-slot:cell(inspector_name)="data" class="text-center"> 
                              {{ data.item.inspector_name }}
                            </template>

                            <template v-slot:cell(appraisal_status_name)="data" class="text-center"> 
                              <b :class="data.item.is_paid ? 'text-success' : 'text-danger'">{{ data.item.appraisal_status_name }}</b>
                            </template>


                            <template v-slot:empty="scope">
                              <h6>{{ scope.emptyText }}</h6>
                            </template>
                            <template v-slot:emptyfiltered="scope">
                              <h6>{{ scope.emptyFilteredText }}</h6>
                            </template>

                            <template #table-busy>
                              <div class="text-center text-light my-3">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Cargando...</strong>
                              </div>
                            </template>
                            
                    </b-table>
                    <div class="justify-content-end row my-1 mr-1" v-show="this.items.length > this.perPage">
                      <b-pagination size="sm" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" />
                    </div>
                    <!--<div>Selected Rows:<br>{{ selected }}</div>-->

                </b-card>
            </b-collapse>
        </b-col>
    </b-row>
    <!--</b-container>-->
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import Swal from 'sweetalert2';
import { mapGetters } from 'vuex';


  export default {
      data() {
        return {
          visible: true,
          fields: [
            {
              key:'sector_name',
              label: 'Sector',
              sortable: true,
            },
            {
              key:'inspection_time', 
              label:'Hora', 
              sortable: true,
              formatter: value => {
                let t_am = (this.$store.getters['lang/locale'] == 'es') ? 'am' : 'AM'
                let t_pm = (this.$store.getters['lang/locale'] == 'es') ? 'pm' : 'PM'
                let t_time = value.split(':')
                let t_subf = (t_time[0] >= 12) ? t_pm : t_am              
                let t_hour = (t_time[0] > 12) ? t_time[0]-12 : t_time[0]*1
                    t_hour = (t_hour == 0) ? 12 : t_hour
                let t_min  = t_time[1] 

                return t_hour+':'+t_min+' '+t_subf
              }
            },
            'mapa',
            {
              key:'contact_name',
              label:'Contacto', 
              sortable: true
            },
            {
              key:'inspection_date',
              label: 'Inspección', 
              sortable: true,
              formatter: value => {
                let t_date = value.split('-')
                let t_mm   = t_date[1]
                let t_dd   = t_date[2]
                let t_yyyy = t_date[0]
                if (this.$store.getters['lang/locale'] == 'es') {
                  return t_dd + '-' + t_mm + '-' + t_yyyy
                }else{
                  return t_mm + '-' + t_dd + '-' + t_yyyy
                }
              }
            },
            {
              key:'delivery_date',
              label: 'Entrega', 
              sortable: true,
              formatter: value => {
                let t_date = value.split('-')
                let t_mm   = t_date[1]
                let t_dd   = t_date[2]
                let t_yyyy = t_date[0]
                if (this.$store.getters['lang/locale'] == 'es') {
                  return t_dd + '-' + t_mm + '-' + t_yyyy
                }else{
                  return t_mm + '-' + t_dd + '-' + t_yyyy
                }
              }
               
            },
            {
              key:'inspector_name',
              label:'Inspector', 
              sortable: true
            },
                        {
              key:'appraisal_status_name',
              label:'Estatus', 
              sortable: true
            }, 
          ],
          items: [],
          currentPage: 1,
          totalRows: 1,
          perPage: 5,
          isBusy: false,
          filter: {
            search: null,
            status: null,
            type: 1,
            city: null,
            sector:null,
            fromDate: null,
            toDate: null,
          },
          optionsTypes: [],
          optionsStatus: [],
          optionsCities: [],
          sectors: [],
          optionsSectors: [],

          filterOn: [],
          selected: [],
          workteam: {},
        }
      },
      created() {
        this.fetchUserRoles()
        this.fetchAppraisalStatus()
        this.fetchCities()
        this.fetchSectors()        
        this.fetchAppraisalTypes()
        this.fetchAppraisalRequest()
        this.setDefaultFilters()
        

        
      },
      mounted() {
        this.$store.dispatch('mainform/setRegisterType',{ value: this.filter.type});
        this.filteredItems
      
      },

    computed: {
      ...mapGetters({
        itemDatatable: 'mainform/itemDatatable',
        user: 'auth/user',
        workteamInfo: 'mainform/workteamInfo'
      }),
      itemSelectedStatus() {
        return Object.keys(this.itemDatatable).length
      },

      filteredItems: function() {
        let filteredItems = this.items;
        if (this.filter.status) {
            //console.log('filter status')
            filteredItems = filteredItems.filter(item => item.appraisal_status_id === this.filter.status);
        }

        if (this.filter.city) {
            //console.log('filter city')
            filteredItems = filteredItems.filter(item => item.city_id === this.filter.city);
        }

        if (this.filter.sector) {
            //console.log('filter city')
            filteredItems = filteredItems.filter(item => item.sector_id === this.filter.sector);
        }   
        
        if (this.filter.fromDate) {
            //console.log('filter fromDate')
            filteredItems = filteredItems.filter(item => item.inspection_date >= this.filter.fromDate);
        }  
        
        if (this.filter.toDate) {
            //console.log('filter toDate')
            filteredItems = filteredItems.filter(item => item.inspection_date <= this.filter.toDate);
        }    

        if (this.filter.search) {
            //console.log('filter search')
            const regexp = new RegExp(this.filter.search, 'i');
            filteredItems = filteredItems.filter(
              item => item.sector_name.match(regexp) ||
              item.contact_name.match(regexp) || 
              item.inspector_name.match(regexp) || 
              item.inspection_date.match(regexp) ||
              item.delivery_date.match(regexp)
            );
        }

        this.totalRows = filteredItems.length

        return filteredItems
      },

      is_administrative(){
        return (Object.keys(this.workteamInfo).length !== 0) ? this.workteamInfo.userRoles.administrative : false
      },
      is_approver(){
        return (Object.keys(this.workteamInfo).length !== 0) ? this.workteamInfo.userRoles.approver : false
      }

    },     

    methods: {
      async fetchUserRoles(){

          try {
            const response = await axios.get('api/settings/workteam_info',{params:{memberUserId:this.user.id}});
            this.workteam = response.data;
            this.$store.dispatch('mainform/updateWorkTeamInfo',{ value: this.workteam});
            if (this.workteam.hasUserRole == 0){
              this.msgNotRolesUser();
            } else if (this.workteam.adminOwnerId != null && this.workteam.hasInspectors == 0){
              this.msgNotHasInspectors();
            }
          } catch (error) {
            console.log('MSG ERROR ' + error)
          }
      },
      async fetchAppraisalRequest() {          
          try {
            this.isBusy=true
            const response = await axios.get('api/mainform/requests',{params:{memberUserId:this.user.id}});
            this.items = response.data;
            this.totalRows = this.items.length
            this.isBusy=false
          } catch (error) {
            console.log('MSG ERROR ' + error)
          }
      },
      async fetchAppraisalComparable() {          
          try {
            this.isBusy=true
            const response = await axios.get('api/mainform/comparables');
            this.items = response.data;
            this.totalRows = this.items.length
            this.isBusy=false
          } catch (error) {
            console.log('MSG ERROR ' + error)
          }
      },
      async fetchAppraisalTemplate() {          
          try {
            this.isBusy=true
            const response = await axios.get('api/mainform/templates');
            this.items = response.data;
            this.totalRows = this.items.length
            this.isBusy=false
          } catch (error) {
            console.log('MSG ERROR ' + error)
          }
      },            
      async fetchAppraisalStatus(){
        try {
          const response = await axios.get('api/mainform/request/status')
          this.optionsStatus = response.data
        } catch (error) {
          console.log('MSG ERROR ' + error)
        }
      },

      async fetchAppraisalTypes(){
        try {
          const response = await axios.get('api/mainform/request/types')
          this.optionsTypes = response.data
        } catch (error) {
           console.log('MSG ERROR ' + error)
        }        
      },

      async fetchCities(){
        try {
          const response =  await axios.get('api/mainform/cities')
          this.optionsCities = response.data
        } catch (error) {
          console.log('MSG ERROR ' + error)
        }            
      },

      async fetchSectors(){
        try {
          const response = await axios.get('api/mainform/sectors')
          this.sectors = response.data
        } catch (error) {
          console.log('MSG ERROR ' + error)
        }
      },      
      
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      onRowSelected(items) {
        this.selected = items
        this.$store.dispatch('mainform/fetchItemSelected',{ item: items });
      },
      msgNotRolesUser(){
          Swal.fire({
            title:'Oops...!',
            text:'Usted no pertenece a ningún equipo de trabajo ni posee algún role asignado!!!',
            icon:'error',
            footer: 'Será direccionado a la sección de configuración.',
            showConfirmButton: true
          }).then(() => {
            this.$router.push({ name: 'settings' })
          })
      },
      msgNotHasInspectors(){
          Swal.fire({
            title:'Oops...!',
            text:'En este equipo de trabajo usted posee un rol de Administrativo, pero no se dispone de ningún Inspector registrado al que pueda designale alguna solicitud.',
            icon:'error',
            footer: 'Si usted es el propietario de este equipo, realice el registro de al menos un Inspector, de lo contrario comuníquese con propietario del mismo para que realice esta operación.',
            showConfirmButton: true
          })
      },
      filterArrByAttr(arr, ObjAttr, filterValue){
        return arr.filter(function (el) {
          return el[ObjAttr] ==  filterValue
        })
      },
      onReset(){
        /** Reload Solicitudes component and clear Datatable selection  */
        this.$store.dispatch('mainform/resetKeySolicitudes');
        this.$store.dispatch('mainform/resetItemSelected');
        this.$store.dispatch('mainform/resetKeyPropertyInfo');
        this.$store.dispatch('mainform/setHasInspection',{ value: false });

        this.filter.search = null
        this.filter.status = null
        this.filter.city = null
        this.filter.sector = null
        this.filter.fromDate = moment().format('YYYY-MM-DD');
        this.filter.toDate = moment().format('YYYY-MM-DD');
        
      },
      setDefaultFilters(){
        this.filter.fromDate = this.filter.toDate = moment().format('YYYY-MM-DD');
      }
    },

    watch: {
      'filter.city': function(){
        this.optionsSectors = []
        if( this.filter.city !== null){
          this.optionsSectors = this.filterArrByAttr(this.sectors,'city_id',this.filter.city)
        }
      },
      'filter.type': function(){
        this.$store.dispatch('mainform/setRegisterType',{ value: this.filter.type});

        switch (this.filter.type) {
          case 1:
            this.fetchAppraisalRequest()
            break
          case 2:
            this.fetchAppraisalComparable()
            break
          case 3:
            this.fetchAppraisalTemplate()
            break
        }

        this.onReset()

        
      },
      itemSelectedStatus: function() {
        if (this.itemSelectedStatus == 0) {
          this.selected = []
          this.$refs.datatable.clearSelected()

        }
      },
      'filter':{
        handler: function () {
          this.$refs.datatable.refresh()
          this.filteredItems
        },
        deep: true
    }
    }
  }
</script>

<style scoped>

.custom-top-margin {
  margin-top: 80px;
}

.custom-collapse-parent {
position: relative;

}
.custom-collapse-child {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 90%;
}
</style>