<template>
  <b-card>
    <b-card-img
      :id="id"
      :src="photoPatch + photoName"
      :height="height"
      :width="width"
      img-alt="Foto"
      :border-variant="checked ? 'danger' : 'light'"
    >
    </b-card-img>
    <b-row class="bg"
      ><b-col class="d-flex justify-content-center">
        <b-form-checkbox v-model="checked">Seleccionar</b-form-checkbox></b-col
      >
    </b-row>
  </b-card>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "ImageCard",
  components: {},
  props: {
    id: { type: String, required: true },
    item: { type: Object, required: true },
    height: { type: String, default: "226" },
    width: { type: String, default: "160" }
  },
  data() {
    return {
      checked: false
    };
  },
  computed: {
    photoPatch: function() {
      const strPatch = this.item["relative_path"];

      return strPatch ? strPatch.replace("img", "thumb") + "/" : "";
    },
    photoName: function() {
      const strName = this.item["name"] ? this.item["name"] : "no_image.png";

      return strName;
    },
    ...mapGetters({
      imagesGallerySelected: "mainform/imagesGallerySelected"
    }),
    checkImagesGallerySelected() {
      return this.imagesGallerySelected.includes(this.item.id);
    }
  },
  watch: {
    checked() {
      return this.checked
        ? this.$store.dispatch("mainform/addImagesGallerySelected", {
            item: this.item["id"]
          })
        : this.$store.dispatch("mainform/removeImagesGallerySelected", {
            item: this.item["id"]
          });
    },
    imagesGallerySelected() {
      this.checked = this.checkImagesGallerySelected;
    }
  }
};
</script>
