<template>
    <b-form-group
        :label="label"
        :label-for="id || name"
        :label-size="size"
    >
        <b-form-input  
            :id="id || name" 
            type="text"
            :size="size" 
            :value="internalValue"
            :disabled="disabled"
            :state="validateStateMain()"
            @input="onChange"
            aria-describedby="componet-live-feedback"
            >
        </b-form-input>
        <b-form-invalid-feedback id="componet-live-feedback">
            "{{ label }}" es un campo requerido
        </b-form-invalid-feedback> 
    </b-form-group>
</template>

<script>
export default {
    name: 'InputText',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'inputText' },
        label: { type: String, default: ''},
        value: { type: String, default: '' },
        validateState: { type: Object, default: null },
        size: { type: String, default: 'md'},
            disabled: { type: Boolean, default: false }
    },
    

    data: () => ({
        internalValue: '',
    }),

    watch: {
        value (val) {
        this.internalValue = val
        },

        internalValue (val, oldVal) {
            if (val !== oldVal) {
                this.$emit('input', val)
            } 
        },
    },

    created () {
        this.internalValue = this.value

    },

    methods: {
        onChange (e) {
            this.$emit('input', e)
        },
        validateStateMain() {
            if (this.validateState !== null) {
            const { $dirty, $error } = this.validateState;
            return $dirty ? !$error : null;
            } else {
                return null;
            }
        },
    }

}
</script>