<template>

  <b-row class="my-1" align-v="center">
    <b-col xs="4">
      <label :for="id || name">{{ label }}:</label>
    </b-col>
    <b-col xs="8">
        <b-form-input
            :id="id || name"
            v-model="internalValue"
            :min="vmin"
            :max="vmax"
            :step="step"
            :size="size"
            :disabled="disabled"            
            type="number"
            @blur="isInputActive = false" 
            @focus="isInputActive = true"
            @keypress="isNumber($event)"
            class="text-center"
            >
        </b-form-input>      
    </b-col>
  </b-row>

</template>

<script>
export default {
    name: 'InputNumberInline',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'inputNumberInline' },
        label: { type: String, default: ''},
        value: { type: Number, default: 1 },
        step: { default: 1 },
        vmin: { default: 0 },
        vmax: { default: 100 },
        size: { type: String, default: 'md'},
        disabled: { type: Boolean, default: false }
    },

    data: () => ({
        isInputActive: false,

    }),
    methods: {

        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            let charCode = (evt.which) ? evt.which : evt.keyCode;
            let condition = true
            if (this.decimal) {
                condition = eval((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46)
            } else {
                condition = eval(charCode > 31 && (charCode < 48 || charCode > 57))
            }

            if (condition) {
                evt.preventDefault();
            } else {
                return true;
            }
        },
    },
    computed: {
        internalValue: {
            get: function() {
                if (this.isInputActive) {
                    // Cursor is inside the input field. unformat display value for user

                    return this.value
                } else {
                    // User is not modifying now. Format display value for user interface

                    return this.value.toFixed(0)

                    //let mount = new Intl.NumberFormat('es-DO', { style: 'currency', currency: '$' }).format(this.value);
                    //return mount
                }
            },
            set: function(modifiedValue) {
                // Recalculate value after ignoring "$" and "," in user input
                let newValue = parseInt(modifiedValue)
                // Ensure that it is not NaN
                if (isNaN(newValue)) {
                    newValue = 0
                }
                console.log(newValue)
                // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                // $emit the event so that parent component gets it
                this.$emit('input', newValue)
            }
        }
    },    
}
</script>


<style scoped>

.text-center {
  text-align: center;
}
</style>