<template>
<div>
        <b-form-input  
            :id="id || name" 
            type="text" 
            :value="internalValue"
            :state="validateStateMain()"
            @input="onChange"
            aria-describedby="componet-live-feedback"
            >
        </b-form-input>
        <b-form-invalid-feedback id="componet-live-feedback">
            "{{ label }}" es un campo requerido
        </b-form-invalid-feedback> 
</div>
</template>

<script>
export default {
    name: 'InputTextVCard',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'inputText' },
        label: { type: String, default: ''},
        value: { type: String, default: '' },
        validateState: { type: Object, default: null },
    },
    

    data: () => ({
        internalValue: '',
    }),

    watch: {
        value (val) {
        this.internalValue = val
        },

        internalValue (val, oldVal) {
            if (val !== oldVal) {
                this.$emit('input', val)
            } 
        },
    },

    created () {
        this.internalValue = this.value

    },

    methods: {
        onChange (e) {
            this.$emit('input', e)
        },
        validateStateMain() {
            if (this.validateState !== null) {
            const { $dirty, $error } = this.validateState;
            return $dirty ? !$error : null;
            } else {
                return null;
            }
        },
    }

}
</script>