<template>
    <b-form-group
        :label="fullLabel()"
        :label-for="id || name"
    >
        <b-form-input  
            :id="id || name" 
            type="number"
            :state="validateStateMain()"
            :value="internalValue"
            :min="min"
            :max="max"
            :disabled="disabled"
            @input="onChange"
            aria-describedby="componet-live-feedback"
            >
        </b-form-input>
        <b-form-invalid-feedback id="componet-live-feedback">
            "{{ label }}" es un campo requerido
        </b-form-invalid-feedback>    
    </b-form-group>
</template>

<script>
export default {
    name: 'InputNumber',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'inputNumber' },
        label: { type: String, default: ''},
        value: { type: String, default: '1' },
        min: { default: null },
        max: { default: null },        
        unit: { type: String, default: '' },
        validateState: { type: Object, default: null },
        disabled: { type: Boolean, default: false }
   
    },
    

    data: () => ({
        internalValue: null,
    }),

    watch: {
        value (val) {
        this.internalValue = val
        },

        internalValue (val, oldVal) {

            if (val !== oldVal) {
                this.$emit('input', val)
            } 
        },
    },

    created () {
        this.internalValue = this.value

    },

    methods: {
        fullLabel() {
            return this.label.concat(" ",this.unit)
        },
        onChange (e) {
            this.$emit('input', e)
        },
        validateStateMain() {
            if (this.validateState !== null) {
            const { $dirty, $error } = this.validateState;
            return $dirty ? !$error : null;
            } else {
                return null;
            }
        },
    }

}
</script>