<template>
    <b-form-group

    >
        <b-form-input  
            :id="id || name" 
            type="text" 
            v-model="internalValue"
            :state="validateStateMain()"
            :readonly="readonly"
            @blur="isInputActive = false" 
            @focus="isInputActive = true"
            aria-describedby="componet-live-feedback"
            class="text-right"
            >
        </b-form-input>
        <b-form-invalid-feedback id="componet-live-feedback">
            "{{ label }}" es un campo requerido 
        </b-form-invalid-feedback> 
    </b-form-group>
</template>

<script>
export default {
    name: 'InputRealNumber',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'input-real-number-amount' },
        label: { type: String, default: ''},
        value: { type: Number, default: 0 },
        readonly: { type: Boolean, default: false },
        validateState: { type: Object, default: null },
        currencySymbol: { type: String, default: '' }
    },
    

    data: () => ({
        isInputActive: false,
    }),

    methods: {
        onChange (e) {
            this.$emit('input', e)
        },
        validateStateMain() {
            if (this.validateState !== null) {
            const { $dirty, $error } = this.validateState;
            return $dirty ? !$error : null;
            } else {
                return null;
            }
        },
    },
 
    computed: {
        internalValue: {
            get: function() {
                if (this.readonly){
                    return
                }

                if (this.isInputActive) {
                    // Cursor is inside the input field. unformat display value for user
                    return this.value.toString()
                } else {
                    // User is not modifying now. Format display value for user interface
                    let symbol = (this.currencySymbol !== '') ? this.currencySymbol + ' ' : '' 

                    return `${symbol + this.value.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")}`

                    //let mount = new Intl.NumberFormat('es-DO', { style: 'currency', currency: '$' }).format(this.value);
                    //return mount
                }
            },
            set: function(modifiedValue) {
                if (this.readonly){
                    return
                }
                // Recalculate value after ignoring "$" and "," in user input
                let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""))
                // Ensure that it is not NaN
                if (isNaN(newValue)) {
                    newValue = 0
                }
                // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                // $emit the event so that parent component gets it
                this.$emit('input', newValue)
            }
        }
    }

}
</script>



<style scoped>

.text-right {
  text-align: right;
}
</style>