<template>

  <b-row class="my-1" align-v="center">
    <b-col xs="4">
      <label :for="id || name">{{ label }}:</label>
    </b-col>
    <b-col xs="8">
        <b-form-spinbutton
            :id="id || name"
            :value="internalValue"
            :min="vmin"
            :max="vmax"
            :step="step"
            :size="size"
            @input="onChange"
            >
        </b-form-spinbutton>      
    </b-col>
  </b-row>

</template>

<script>
export default {
    name: 'InputNumberInside',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'inputNumberInside' },
        label: { type: String, default: ''},
        value: { default: 1 },
        step: { default: 1 },
        vmin: { default: 1 },
        vmax: { default: 10 },
        size: { type: String, default: 'md'},
    },
    

    data: () => ({
        internalValue: null,
    }),

    watch: {
        value (val) {
        this.internalValue = val
        },

        internalValue (val, oldVal) {

            if (val !== oldVal) {
                this.$emit('input', val)
            } 
        },
    },

    created () {
        this.internalValue = this.value

    },

    methods: {
        onChange (e) {
        this.$emit('input', e)
        },
    }

}
</script>