<template>
<div>
        <b-form-spinbutton
            :id="id || name"
            :value="internalValue"
            :state="validateStateMain()"
            :min="vmin"
            :max="vmax"
            @input="onChange"
            aria-describedby="componet-live-feedback"
            >
        </b-form-spinbutton> 
        <b-form-invalid-feedback id="componet-live-feedback">
            "{{ label }}" es un campo requerido
        </b-form-invalid-feedback>    
</div>
</template>

<script>
export default {
    name: 'InputSpinButtonVCard',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'InputSpinButtonVCard' },
        label: { type: String, default: null },
        value: {  type: Number, default: 1 },
        vmin: { type: Number, default: 1 },
        vmax: { type: Number, default: 10 },                 
        validateState: { type: Object, default: null },
 
    },
    

    data: () => ({
        internalValue: null,
    }),

    watch: {
        value (val) {
            this.internalValue = val
        },
        internalValue (val, oldVal) {
            if (val !== oldVal) {

                this.$emit('input', val)
            } 
        },
    },

    mounted () {
        this.internalValue = this.value

    },

    methods: {

        onChange (e) {
            this.$emit('input', e)
        },
        validateStateMain() {
            if (this.validateState !== null) {
                const { $dirty, $error } = this.validateState;
                return $dirty ? !$error : null;
            } else {
                return null;
            }
        },
    },

}
</script>