<template>
    <div class="d-flex justify-content-between">
        <div>
            <label for="sb-inline">{{ label }}</label>
        </div>
        <b-form-spinbutton 
            id="sb-inline"
            :value="internalValue"
            :min="vmin"
            :max="vmax"
            @input="onChange"
            size="sm"
            inline
            class="ml-3">
        </b-form-spinbutton>
    </div>
</template>

<script>
export default {
    name: 'InputSpinButtonInside',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'InputSpinButtonInside' },
        label: { type: String, default: ''},
        value: { type: Number, default: 1 },
        vmin: { default: 1 },
        vmax: { default: 10 },
    },
    

    data: () => ({
        internalValue: null,
    }),

    watch: {
        value (val) {
        this.internalValue = val
        },

        internalValue (val, oldVal) {

            if (val !== oldVal) {
                this.$emit('input', val)
            } 
        },
    },

    created () {
        this.internalValue = this.value

    },

    methods: {
        onChange (e) {
        this.$emit('input', e)
        },
    }

}
</script>