<template>
<div>
        <b-form-input  
            :id="id || name" 
            type="number"
            :state="validateStateMain()"
            :value="internalValue"
            :min="min"
            :max="max"
            @input="onChange" 
            @keypress="isNumber($event)"
            aria-describedby="componet-live-feedback"
            v-bind:class="[right_align ? 'text-right' : '']"
            >
        </b-form-input>
        <b-form-invalid-feedback id="componet-live-feedback" v-if="((!internalValue) && (invalid_message))">
            "{{ label }}" es un campo requerido
        </b-form-invalid-feedback> 
        <b-form-invalid-feedback id="componet-live-feedback" v-else>
            {{ invalid_message }}
        </b-form-invalid-feedback> 
     
</div>
</template>

<script>
export default {
    name: 'InputNumberVCard',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'inputNumberVCard' },
        label: { type: String, default: null },
        value: { default: null },
        min: { default: null },
        max: { default: null },                
        validateState: { type: Object, default: null },
        decimal: { type: Boolean, defaul: false },
        invalid_message: { type: String, default: null },
        right_align: { type: Boolean, defaul: false },
  
    },
    

    data: () => ({
        internalValue: null,
    }),

    watch: {
        value (val) {
            let chkVal = (val) ? val : 0;
            if ((this.min) && (val < chkVal)) {
                    val = this.min
            }
            this.internalValue = val
        },

        internalValue (val, oldVal) {
            
            if (val !== oldVal) {

                this.$emit('input', val)
            } 
        },
    },

    created () {
        this.internalValue = this.value

    },

    methods: {

        onChange (e) {
            this.$emit('input', e)
        },
        validateStateMain() {
            if (this.validateState !== null) {
                const { $dirty, $error } = this.validateState;
                return $dirty ? !$error : null;
            } else {
                return null;
            }
        },
        isNumber: function(evt) {
            evt = (evt) ? evt : window.event;
            let charCode = (evt.which) ? evt.which : evt.keyCode;
            let condition = true
            if (this.decimal) {
                condition = eval((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46)
            } else {
                condition = eval(charCode > 31 && (charCode < 48 || charCode > 57))
            }

            if (condition) {
                evt.preventDefault();;
            } else {
                return true;
            }
        }
    },

}
</script>

<style scoped>

.text-right {
  text-align: right;
}
</style>