<template>

  <b-row class="my-1" align-v="center">
    <b-col xs="4">
      <label :for="id || name">{{ label }}:</label>
    </b-col>
    <b-col xs="8">
        <b-form-select 
        :id="id || name"
        :name="name"
        v-model="internalValue" 
        :options="options"
        size="sm"
        :disabled="disabled"         
        class="mt-3">
        @input="onChange"
        </b-form-select>
 
    </b-col>
  </b-row>

</template>

<script>
export default {
    name: 'InputSelectInside',

    props: {
        id: { type: String, default: null },
        name: { type: String, default: 'inputSelectInside' },
        label: { type: String, default: ''},
        value: { type: String },
        options: { type: Array },
        disabled: { type: Boolean, default: false }

    },
    

    data: () => ({
        internalValue: null,
    }),

    watch: {
        value (val) {
        this.internalValue = val
        },

        internalValue (val, oldVal) {

            if (val !== oldVal) {
                this.$emit('input', val)
            } 
        },
    },

    created () {
        this.internalValue = this.options[0].value

    },

    methods: {
        onChange (e) {
        this.$emit('input', e)
        },
    }

}
</script>