<template>
<b-table-simple outlined hover small striped stacked="lg" responsive="xg">
    <b-thead head-variant="dark">
        <b-tr>
            <b-th>Dirección</b-th>
            <b-th>Mts<sup>2</sup> Totales</b-th>
            <b-th>Monto</b-th>
            <b-th>Costo Unitario</b-th>
        </b-tr>
    </b-thead>
    <b-tbody>
        <b-tr v-for="(item,key) in arrayData" :key="'row-' + key">
            <b-td stacked-heading="Dirección" :key="'address-' + key">
                <small>{{ item['address'] }}</small>
            </b-td>
            <b-td stacked-heading="Totales (m2)" :key="'mt2-totales-' + key">
                <input-real-number
                :id="'mt2_totals_' + key" 
                v-model="arrayData[key]['mt2_totales']"
                :name="'mt2_totals_' + key"
                >
                </input-real-number>      
            </b-td>
            <b-td stacked-heading="Monto" :key="'amount-' + key">
                <input-real-number
                :id="'amount_' + key" 
                v-model="arrayData[key]['amount']"
                :name="'amount_' + key"
                currencySymbol="$" 
                >
                </input-real-number> 
            </b-td>
            <b-td stacked-heading="Costo Unitario" :key="'unit-cost-' + key">
                <input-real-number
                :id="'unit_cost_' + key" 
                v-model="arrayUnitCost[key]"
                :name="'unit_cost_' + key"
                readonly=true
                currencySymbol="$" 
                >
                </input-real-number>             
            </b-td>
        </b-tr>
    </b-tbody>
    <b-tfoot>
      <b-tr>
        <b-td colspan="7" variant="secondary" class="text-right">
          Nro Registros: <b>{{ arrayData.length }}</b>
        </b-td>
      </b-tr>
    </b-tfoot>
</b-table-simple>

    
</template>
<script>
import { commonFunc } from '~/src/commonModule'
import InputRealNumber from '~/components/InputRealNumber'

export default {
    name: 'MarketMethod',
    props: {
        items: { type: Array, default: () => { return[] } }
    },
    components: {
        InputRealNumber
    },
    data(){
        return{
            arrayData: [],
            arrayUnitCost: [],
            initialized: false
        }
    },
    methods: {
        formatFloat: function(data){
            return commonFunc.formatRealNumber(data)
        },
    },
    computed: {

    },
    watch: {
        items: function(newValue,oldValue){
            if (this.initialized || oldValue.length !== 0 ){
                return
            }

            this.items.forEach( element => {
                let unit = {}
                unit.address =  element['residence'] + ', ' + 
                                element['address_number'] + ', ' + 
                                element['address_street'] + ', ' + 
                                element['sector_name'] + ', ' + 
                                element['city_name'] + ', ' + 
                                element['municipality_name'] + ', ' + 
                                element['province_name']

                unit.mt2_totales = parseFloat(element['improvement_area'] + 0)

                unit.amount = parseFloat(element['sale_amount'] + 0)

                let unit_cost = ( unit.mt2_totales > 0 ) ? unit.amount/unit.mt2_totales : 0

                this.arrayData.push(unit)

                this.arrayUnitCost.push(unit_cost)

            })

            this.initialized = true
        },
        arrayData: {
            deep:true,
            handler(){
                this.arrayData.forEach((element, index) => {
                    let unit_cost = ( element.mt2_totales > 0 ) ? element.amount/element.mt2_totales : 0
                    this.arrayUnitCost[index] = parseFloat(unit_cost)
                })
                
            }
        }
    }

}
</script>
