<template>
  <b-modal
    v-model="modalShow"
    :id="id || name"
    size="sm"
    ok-only
    title="Imágenes"
  >
    <div>
      <b-carousel
        id="carousel"
        :key="'carousel' + this.carouselKey"
        v-model="slide"
        :interval="0"
        background="#ababab"
        img-width="1024"
        img-height="480"
        style="text-shadow: 1px 1px 2px #333;"
        scrollable
      >
        <!-- Text slides with image -->
        <b-carousel-slide
          :key="'slider' + this.carouselKey"
          :img-src="itemThumbPath + '/' + item.name"
        >
        </b-carousel-slide>
      </b-carousel>
    </div>
    <template #modal-header>
      <b-col><h5>Imágenes</h5></b-col>
      <b-col>
        <div class="d-flex justify-content-end">
          <b-dropdown size="sm" variant="dark" no-caret dropup>
            <template #button-content>
              <b-icon icon="three-dots"></b-icon>
            </template>
            <b-dropdown-item-button
              no-caret
              size="sm"
              @click="deleteAttachment(item.id, index, 'img')"
            >
              <b-icon variant="danger" class="pr-1" icon="trash-fill"></b-icon
              >Eliminar
            </b-dropdown-item-button>
            <b-dropdown-item-button
              no-caret
              size="sm"
              @click="deleteAllImages(itemSelected[0].id)"
            >
              <b-icon variant="dark" class="pr-1" icon="trash-fill"></b-icon
              >Eliminar Todas
            </b-dropdown-item-button>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item
              no-caret
              size="sm"
              :href="item.path + '/' + item.name"
              :download="index + 1 + '.' + itemExtension"
            >
              <b-icon
                variant="danger"
                class="pr-1"
                icon="cloud-download-fill"
              ></b-icon
              >Descargar
            </b-dropdown-item>
            <b-dropdown-item
              no-caret
              size="sm"
              @click="downloadAllImages(itemSelected[0].id)"
            >
              <b-icon
                variant="dark"
                class="pr-1"
                icon="cloud-download-fill"
              ></b-icon
              >Descargar Todas
            </b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item-button
              no-caret
              size="sm"
              @click="$bvModal.hide(id || name)"
            >
              <b-icon variant="secondary" class="pr-1" icon="x-circle"></b-icon
              >Cerrar
            </b-dropdown-item-button>
          </b-dropdown>
        </div>
      </b-col>
    </template>
    <template #modal-footer>
      <b-modal
        size="sm"
        id="modal-l2-position"
        title="Cambiar posición"
        :ok-disabled="newPosition == null"
        @show="resetPosition"
        @ok="exchangePosition(item.id, newPosition, index + 1)"
      >
        <b-form-group
          label-cols-sm="5"
          label="Actual: "
          label-align-sm="left"
          label-for="nested-current-position"
        >
          <b-form-input
            id="nested-current-position"
            size="sm"
            type="text"
            :value="index + 1"
            disabled
            class="mt-2 text-center"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label-cols-sm="5"
          label="Nueva: "
          label-align-sm="left"
          label-for="nested-new-position"
        >
          <b-form-select
            size="sm"
            v-model="newPosition"
            class="mb-2 text-center"
            id="nested-new-position"
          >
            <b-form-select-option :value="null"
              >Seleccione</b-form-select-option
            >
            <b-form-select-option
              v-for="itemFile in totalfiles"
              :key="'opt' + itemFile"
              :value="itemFile"
              :disabled="itemFile == index + 1"
              >{{ itemFile }}</b-form-select-option
            >
          </b-form-select>
        </b-form-group>
      </b-modal>
      <b-col>
        <div class="text-center font-weight-bold">
          <b-button v-b-modal.modal-l2-position variant="dark"
            ><b-badge variant="dark">{{
              index + 1 + " / " + totalfiles
            }}</b-badge></b-button
          >
        </div>
      </b-col>
      <b-col>
        <div class="d-flex justify-content-end">
          <b-button
            size="sm"
            variant="dark"
            @click="itemPrev()"
            :disabled="index == 0"
            class="mr-3"
          >
            <b-icon icon="chevron-left"></b-icon>
          </b-button>
          <b-button
            size="sm"
            variant="dark"
            @click="itemNext()"
            :disabled="index == totalfiles - 1"
          >
            <b-icon icon="chevron-right"></b-icon>
          </b-button>
        </div>
      </b-col>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: "ModalImages",
  middleware: "auth",
  props: {
    id: { type: String, default: null },
    show: { type: Boolean, default: false },
    item: {},
    index: { type: Number, default: null },
    carouselKey: { type: Number, default: 1111 },
    totalfiles: { type: Number, default: null }
  },
  data() {
    return {
      modalShow: false,
      imgStored: [],
      slide: null,
      newPosition: null
    };
  },
  methods: {
    deleteAttachment(itemId, itemIndex, type) {
      this.$emit("delfile", itemId, itemIndex, type);
    },
    deleteAllImages(appraisalId) {
      this.$emit("delAllIma", appraisalId);
    },
    downloadAllImages(appraisalId) {
      this.$emit("dnldAllIma", appraisalId);
    },
    itemPrev() {
      this.$emit("prevImg");
    },
    itemNext() {
      this.$emit("nextImg");
    },
    resetPosition() {
      this.newPosition = null;
    },
    exchangePosition(itemId, newPosition, oldPosition) {
      this.$emit("newPosFile", itemId, newPosition, oldPosition);
    }
  },
  computed: {
    itemSelected: function() {
      return this.$store.getters["mainform/itemDatatable"];
    },
    itemSelectedStatus() {
      return Object.keys(this.$store.getters["mainform/itemDatatable"]).length;
    },
    itemExtension: function() {
      if (this.item.name) {
        if (this.item.name.includes(".")) {
          let _array = this.item.name.split(".");
          return _array[_array.length - 1];
        } else {
          return "undefined";
        }
      }
    },
    itemThumbPath: function() {
      if (this.item.path) {
        const str = this.item.path;
        return str.replace("img", "thumb");
      }
    }
  },
  watch: {
    show(newVal) {
      this.modalShow = newVal;
    },
    modalShow() {
      let val = this.modalShow;
      this.$store.dispatch("mainform/showModalImages", { value: val });
    },
    item(newVal) {
      this.imgStored = newVal;
    }
  }
};
</script>
