<template>
    <b-modal 
        v-model="modalShow"
        :id="id || name"
        size="xl"
        ok-only
        title="Documentos"
    > 
        <div>
            <b-table 
            striped hover 
            :items="docsStored.files" 
            :fields="fields" 
            primary-key="id" 
            small 
            responsive
            sticky-header
            head-variant="dark"
            sort-icon-left
            >   
                <template v-slot:cell(item)="data">
                    {{data.index + 1}}
                </template>
                <template v-slot:cell(opciones)="data">
                    <b-button variant="outline-danger" size="sm" :href="docsStored.url+data.item.relative_path+'/'+data.item.name" target="_blank">
                        <b-icon icon="eye-fill"></b-icon>
                    </b-button>
                    <b-button variant="outline-danger" size="sm" @click="deleteAttachment(data.item.id, data.index,'doc')">
                        <b-icon icon="trash-fill"></b-icon>
                    </b-button>
                </template>
            </b-table>
        </div>
    </b-modal>
</template>

<script>


  export default {
    name: 'ModalDocuments',
    middleware: 'auth',
    props: {
        id: { type: String, default: null },
        show: { type: Boolean, default: false },
        item: {  },
        index: { type: Number, default: null }, 
    },
    data() {
      return {
        modalShow: false,
        docsStored: [],
        fields: [
            { key: 'item', sortable: false, label: '#'},
            { key: 'real_name', sortable: true, label: 'Nombre'},
            { key: 'file_format', sortable: true, label: 'Formato'},
            { key: 'size', sortable: true, label: 'Tamaño'},
            'opciones'
        ],
        
      }
    },
    methods:{
        deleteAttachment(itemId, itemIndex, type){
            this.$emit('resetIndex')
            this.$emit('delfile', itemId, itemIndex, type)
        },
    },
    computed: {
        itemSelected: function() {
            return this.$store.getters['mainform/itemDatatable'];
        },
        itemSelectedStatus() {
            return Object.keys(this.$store.getters['mainform/itemDatatable']).length
        },
    },
    watch: {
        show(newVal){
            this.modalShow = newVal
        },
        modalShow(){
            let val = this.modalShow
            this.$store.dispatch('mainform/showModalDocuments',{ value: val });
        },
        item(newVal){
            this.docsStored = newVal
        },
        index(index){
            if (typeof(index) == "number"){
                this.docsStored.files.splice(index, 1) //delete array's item
            }
        }
    },
  }
</script>