<template>
  <b-modal v-model="modalShowMain" :id="id || name" title="Imágenes" size="xl">
    <template>
      <b-container>
        <b-row>
          <template v-for="(item, key) in items">
            <b-col
              :key="'column-' + key"
              class="col-12 col-sm-6 col-md-4 col-lg-3 pt-2"
            >
              <image-card
                :id="'img-' + key"
                :item="item"
                :key="item.id"
              ></image-card>
            </b-col>
          </template>
        </b-row>
      </b-container>
    </template>
    <template #modal-header>
      <b-col><h5>Imágenes</h5></b-col>
      <b-col>
        <div class="d-flex justify-content-end">
          <b-dropdown size="sm" variant="dark" no-caret dropup>
            <template #button-content>
              <b-icon icon="three-dots"></b-icon>
            </template>
            <template v-if="imagesGallerySelected.length == 1">
              <b-dropdown-item-button
                no-caret
                size="sm"
                @click="showModalChangePosition()"
              >
                <b-icon variant="danger" class="pr-1" icon="trash-fill"></b-icon
                >Cambiar posición
              </b-dropdown-item-button>
              <b-dropdown-divider></b-dropdown-divider
            ></template>
            <b-dropdown-item-button
              no-caret
              size="sm"
              @click="deleteAttachment(imagesGallerySelected)"
              v-if="imagesGallerySelected.length > 0"
            >
              <b-icon variant="danger" class="pr-1" icon="trash-fill"></b-icon
              >Eliminar
            </b-dropdown-item-button>
            <b-dropdown-item-button
              no-caret
              size="sm"
              v-if="imagesGallerySelected.length === 0"
              @click="deleteAllImages(items[0].appraisal_request_id)"
            >
              <b-icon variant="dark" class="pr-1" icon="trash-fill"></b-icon
              >Eliminar Todas
            </b-dropdown-item-button>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item
              no-caret
              size="sm"
              @click="downloadAttachment(imagesGallerySelected)"
              v-if="imagesGallerySelected.length > 0"
            >
              <b-icon
                variant="danger"
                class="pr-1"
                icon="cloud-download-fill"
              ></b-icon
              >Descargar
            </b-dropdown-item>
            <b-dropdown-item
              no-caret
              size="sm"
              v-if="imagesGallerySelected.length === 0"
              @click="downloadAllImages(items[0].appraisal_request_id)"
            >
              <b-icon
                variant="dark"
                class="pr-1"
                icon="cloud-download-fill"
              ></b-icon
              >Descargar Todas
            </b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item-button no-caret size="sm">
              <b-icon variant="secondary" class="pr-1" icon="x-circle"></b-icon
              >Cerrar
            </b-dropdown-item-button>
          </b-dropdown>
        </div>
      </b-col>
    </template>
    <template>
      <b-modal
        size="sm"
        id="modal-l2-position"
        title="Cambiar posición"
        :ok-disabled="newPosition == null"
        v-model="modalChangePosition"
        @show="resetModal"
        @hidden="resetModal"
        @ok="exchangePosition(itemSelectedId, newPosition, curPosition)"
        v-show="imagesGallerySelected.length === 1"
      >
        <b-form-group
          label-cols-sm="5"
          label="Actual: "
          label-align-sm="left"
          label-for="nested-current-position"
        >
          <b-form-input
            id="nested-current-position"
            size="sm"
            type="text"
            :value="positionItemSelected"
            disabled
            class="mt-2 text-center"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label-cols-sm="5"
          label="Nueva: "
          label-align-sm="left"
          label-for="nested-new-position"
        >
          <b-form-select
            size="sm"
            v-model="newPosition"
            class="mb-2 text-center"
            id="nested-new-position"
          >
            <b-form-select-option :value="null"
              >Seleccione</b-form-select-option
            >
            <b-form-select-option
              v-for="itemFile in listOfPositionAvailable"
              :key="'opt' + itemFile"
              :value="itemFile"
              :disabled="itemFile == curPosition"
              >{{ itemFile }}</b-form-select-option
            >
          </b-form-select>
        </b-form-group>
      </b-modal>
    </template>
  </b-modal></template
>

<script>
import ImageCard from "~/components/ImageCard";
import InputNumberInline from "~/components/InputNumberInline";
import { mapGetters } from "vuex";
export default {
  name: "ModalImagesGallery",
  middleware: "auth",
  components: {
    ImageCard,
    InputNumberInline
  },
  props: {
    id: { type: String, default: null },
    show: { type: Boolean, default: false },
    items: { type: Array, default: [] }
  },
  data() {
    return {
      modalShowMain: false,
      modalChangePosition: false,
      newPosition: null,
      curPosition: null
    };
  },
  methods: {
    deleteAttachment(imaArray) {
      this.$emit("delArrIma", imaArray);
    },
    downloadAttachment(imaArray) {
      this.$emit("dnlArrIma", imaArray);
    },
    deleteAllImages(appraisalId) {
      this.$emit("delAllIma", appraisalId);
    },
    downloadAllImages(appraisalId) {
      this.$emit("dnlAllIma", appraisalId);
    },
    exchangePosition(itemId, newPosition, oldPosition) {
      this.$emit("newPosFile", itemId, newPosition, oldPosition);
    },
    showModalChangePosition() {
      this.modalChangePosition = !this.modalChangePosition;
    },
    resetModal() {
      this.newPosition = null;
    }
  },
  computed: {
    ...mapGetters({
      imagesGallerySelected: "mainform/imagesGallerySelected",
      totalImages: "mainform/totalImages"
    }),
    itemSelectedId() {
      return this.imagesGallerySelected.length === 1
        ? this.imagesGallerySelected[0]
        : null;
    },
    positionItemSelected() {
      if (this.imagesGallerySelected.length === 1) {
        const imaId = this.imagesGallerySelected[0];
        const imaData = this.items.filter(item => {
          return item.id == imaId;
        });
        return imaData[0].pos;
      } else {
        return null;
      }
    },
    listOfPositionAvailable() {
      const totalItemsArr = [...Array(this.totalImages).keys()].map(e => e + 1);
      if (this.positionItemSelected) {
        return totalItemsArr.filter(e => e != this.positionItemSelected);
      } else {
        return null;
      }
    }
  },
  watch: {
    show(newVal) {
      this.modalShowMain = newVal;
    },
    modalShowMain() {
      let val = this.modalShowMain;

      if (val === false) {
        this.$store.dispatch("mainform/resetImagesGallerySelected");
      }

      this.$store.dispatch("mainform/showModalImagesGallery", { value: val });
    },
    positionItemSelected(newVal) {
      this.curPosition = newVal;
    }
  }
};
</script>
