<template>
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <div class="container">
      <router-link
        :to="{ name: user ? 'home' : 'welcome' }"
        class="navbar-brand"
      >
        {{ appName }}
      </router-link>

      <div v-if="user && this.itemSelectedStatus > 0 && this.show">
        <b-dropdown
          size="lg"
          variant="link"
          toggle-class="text-decoration-none"
          no-caret
          :disabled="loading"
        >
          <template #button-content>
            <b-icon
              icon="paperclip"
              aria-hidden="true"
              rotate="-45"
              v-show="!isLoading"
            ></b-icon>
            <b-spinner small v-show="isLoading"></b-spinner>
            <span class="sr-only">paperclip</span>
          </template>
          <b-dropdown-form ref="attachement-form" id="attachement-form">
            <!-- Camera -->
            <b-dropdown-item-button @click="$refs.fileInputCamera.$el.click()"
              ><b-icon icon="camera-fill" class="mr-2"></b-icon
              >Cámara</b-dropdown-item-button
            >
            <b-form-file
              @change="uploadFile(1)"
              v-model="filesAttached"
              accept="image/jpeg, image/png"
              size="sm"
              ref="fileInputCamera"
              id="fileInputCamera"
              name="camera"
              v-show="false"
              plain
              capture
              multiple
            ></b-form-file>
            <!-- Images -->
            <b-dropdown-item-button @click="$refs.fileInputImage.$el.click()"
              ><b-icon icon="image-fill" class="mr-2"></b-icon
              >Imagen</b-dropdown-item-button
            >
            <b-form-file
              @change="uploadFile(2)"
              v-model="filesAttached"
              accept="image/jpeg, image/png"
              size="sm"
              ref="fileInputImage"
              id="fileInputImage"
              name="image"
              v-show="false"
              plain
              multiple
            ></b-form-file>
            <!-- Documents -->
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item-button @click="$refs.fileInputDocument.$el.click()"
              ><b-icon icon="file-earmark-fill" class="mr-2"></b-icon
              >Documento</b-dropdown-item-button
            >
            <b-form-file
              @change="uploadFile(3)"
              v-model="filesAttached"
              accept="image/jpeg, image/png, application/pdf"
              size="sm"
              ref="fileInputDocument"
              id="fileInputDocument"
              name="document"
              v-show="false"
              plain
              multiple
            ></b-form-file>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-divider></b-dropdown-divider>
            <b-button
              block
              variant="outline-dark"
              @click="showModalImagesGallery()"
              v-show="totalImages > 0"
            >
              <b-icon icon="eye-fill" class="pr-1"></b-icon>Fotografias
            </b-button>
            <b-button
              block
              variant="outline-dark"
              @click="showModalDocuments()"
              v-show="totalDocuments > 0"
            >
              <b-icon icon="eye-fill" class="pr-1"></b-icon>Documentos
            </b-button>
          </b-dropdown-form>
        </b-dropdown>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarToggler"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon" />
      </button>
      <div id="navbarToggler" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <locale-dropdown />
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
        </ul>

        <ul class="navbar-nav ml-auto">
          <!-- Authenticated -->
          <li v-if="Object.keys(user).length !== 0" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                :src="user.photo_url"
                class="rounded-circle profile-photo mr-1"
              />
              {{ user.name }}
            </a>
            <div class="dropdown-menu">
              <router-link :to="{ name: 'home' }" class="dropdown-item pl-3">
                <fa icon="home" fixed-width />
                {{ $t("home") }}
              </router-link>
              <router-link
                :to="{ name: 'settings' }"
                class="dropdown-item pl-3"
              >
                <fa icon="cog" fixed-width />
                {{ $t("settings") }}
              </router-link>
              <router-link
                v-if="is_approver"
                :to="{ name: 'areas' }"
                class="dropdown-item pl-3"
              >
                <fa icon="layer-group" fixed-width />
                {{ $t("area_form") }}
              </router-link>

              <div class="dropdown-divider" />
              <a href="#" class="dropdown-item pl-3" @click.prevent="logout">
                <fa icon="sign-out-alt" fixed-width />
                {{ $t("logout") }}
              </a>
            </div>
          </li>
          <!-- Guest -->
          <template v-else>
            <li class="nav-item">
              <router-link
                :to="{ name: 'login' }"
                class="nav-link"
                active-class="active"
              >
                {{ $t("login") }}
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                :to="{ name: 'register' }"
                class="nav-link"
                active-class="active"
              >
                {{ $t("register") }}
              </router-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </b-navbar>
</template>

<script>
import { mapGetters } from "vuex";
import LocaleDropdown from "./LocaleDropdown";
import axios from "axios";
import Swal from "sweetalert2";

export default {
  components: {
    LocaleDropdown
  },

  data: () => ({
    appName: window.config.appName,
    filesAttached: [],
    loading: false,
    show: true,
    extensionInvalid: false,
    numNewFilesTmp: 0
  }),
  mounted() {
    this.loading = false;
    this.show = true;
    this.numNewFilesTmp = 0;
  },
  computed: {
    ...mapGetters({
      user: "auth/user",
      totalImages: "mainform/totalImages",
      totalDocuments: "mainform/totalDocuments",
      workteamInfo: "mainform/workteamInfo"
    }),
    is_approver() {
      return Object.keys(this.workteamInfo).length !== 0
        ? this.workteamInfo.userRoles.approver
        : false;
    },
    itemSelected: function() {
      return this.$store.getters["mainform/itemDatatable"];
    },
    itemSelectedStatus() {
      return Object.keys(this.$store.getters["mainform/itemDatatable"]).length;
    },
    isLoading() {
      return this.loading;
    }
  },
  watch: {
    itemSelected: function() {
      this.filesAttached = [];
    },
    $route(to, from) {
      console.log(to.name);
      if (from.name == "mainform") {
        this.show = false;
        this.$store.dispatch("mainform/resetItemSelected");
      }
      if (to.name == "mainform") {
        this.show = true;
      }
    }
  },
  methods: {
    async logout() {
      // Log out the user.
      await this.$store.dispatch("auth/logout");

      // Redirect to login.
      this.$router.push({ name: "login" });
    },

    async uploadFile(fileType) {
      let FormData = this.initializeObjectForm(fileType);
      let statusInvalidExtension = this.extensionInvalid;
      let result = false;
      let sendRequest = undefined;

      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true
      });

      if (typeof FormData === "object") {
        this.loading = true;

        if (FormData.has("attachements[][0]")) {
          //console.log('Form has attachements')

          sendRequest = await axios({
            method: "post",
            url: "api/attachment",
            data: FormData,
            headers: { "Content-Type": "multipart/form-data" }
          })
            .then(function(response) {
              //console.log(response);
              result = true;
              if (statusInvalidExtension) {
                Toast.fire({
                  icon: "warning",
                  title:
                    "Registro de archivo(s) completado. Sin embargo por formatos no soportados algunos fueron omitidos."
                });
              } else {
                Toast.fire({
                  icon: "success",
                  title: "Registro de archivo(s) satisfactorio"
                });
              }
            })
            .catch(function(error) {
              console.log(error);
              Toast.fire({
                icon: "error",
                title: "Opps, hubo un problema con el registro de archivo(s)"
              });
            })
            .then(function() {
              //Toast.close();

              document.getElementById("attachement-form").reset();
            });
        } else {
          //console.log('Form not has attachements')
          Toast.fire({
            icon: "error",
            title: "Opps, formatos invalidos en uno o más archivo(s)"
          });
        }

        this.loading = !this.loading;
        if (result) {
          if (fileType == 1 || fileType == 2) {
            this.$store.dispatch("mainform/setTotalImages", {
              value: this.totalImages + this.numNewFilesTmp
            });
            console.log("paso por totalimages");
          } else {
            this.$store.dispatch("mainform/setTotalDocuments", {
              value: this.totalDocuments + this.numNewFilesTmp
            });
            console.log("paso por totaldocuments");
          }
        }
      } else {
        if (typeof FormData === "number") {
          let msg = "";

          if (FormData === -1) {
            msg =
              "Opps, el limite máximo de archivos por operación no puede ser mayor a 50";
          } else if (FormData === -2) {
            msg =
              "Opps, el tamaños máximo de los archivos no puede superar los 12MB";
          }

          Toast.fire({
            icon: "error",
            title: msg
          });
        }
      }
    },

    initializeObjectForm: function(type_file) {
      let formData = new FormData();
      let file_type = null;
      let selectedFile = [];
      let typeFileAcepted = [];
      let extesionFile = null;

      this.extensionInvalid = false;
      this.numNewFilesTmp = 0;

      switch (type_file) {
        case 1:
          file_type = "img";
          selectedFile = document.getElementById("fileInputCamera").files;
          break;
        case 2:
          file_type = "img";
          selectedFile = document.getElementById("fileInputImage").files;
          break;
        case 3:
          file_type = "doc";
          selectedFile = document.getElementById("fileInputDocument").files;
          break;
      }

      if (file_type == "img") {
        typeFileAcepted.push("jpeg", "png");
      } else {
        typeFileAcepted.push("jpeg", "png", "pdf");
      }

      for (let i = selectedFile.length - 1; i >= 0; i--) {
        extesionFile = selectedFile[i].type.split("/")[1];
        if (typeFileAcepted.includes(extesionFile)) {
          formData.append("attachements[][0]", selectedFile[i]);
          ++this.numNewFilesTmp;
        } else {
          this.extensionInvalid = true;
        }
      }

      if (formData.has("attachements[][0]")) {
        formData.append("file_type", file_type);
        formData.append(
          "appraisal_request_id",
          this.itemSelected[0].appraisal_request_id
        );
        formData.append("user_id", this.user.id);
      }

      //If the total images files is more than 50
      if (selectedFile.length > 50) {
        return -1;
      }

      for (let i = 0; i < selectedFile.length; i++) {
        const element = selectedFile[i];
        //If image size is more than 12M
        if (element.size > 12582912) {
          return -2;
        }
      }

      return formData;
    },
    showModalDocuments() {
      this.$store.dispatch("mainform/showModalDocuments", { value: true });
    },
    showModalImagesGallery() {
      this.$store.dispatch("mainform/showModalImagesGallery", { value: true });
    },
    fileCounterUp(type_file) {
      if (type_file == "img") {
        ++this.totalImages;
      } else if (type_file == "doc") {
        ++this.totalDocuments;
      }
    }
  }
};
</script>

<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -0.375rem 0;
}
</style>
