<template>
    <b-form ref="propertyAddArea" id="propertyAddArea">

        <b-form-group
            label-cols-sm="3"
            label="Área:"
            label-align-sm="right"
            label-for="nested-detalle-property-area"
        >  
            <b-form-select 
                id="nested-detalle-property-area" 
                v-model="area_item" 
                :options="area_list"
                name="area_item"
                value-field="id"
                text-field="name"
                aria-describedby="property-area-live-feedback"
                >
                <template v-slot:first>
                    <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                </template>
            </b-form-select>
            <b-form-invalid-feedback id="property-area-live-feedback">
                "Área" es un campo requerido
            </b-form-invalid-feedback>   
        </b-form-group>
        
        <b-form-group
            label-cols-sm="3"
            label="Dimensión:"
            label-align-sm="right"
            label-for="nested-property-improvement-dimensions"

        >  
            <b-input-group class="justify-content-between">
                <input-real-number 
                id="nested-property-improvement-dimensions"
                v-model="dimensions"
                name="property_improvement_dimensions"
                label="Dimensiones"
                >
                </input-real-number>  
                <b-input-group-append>
                    <b-button 
                        key="btn-actualizar" 
                        variant="primary" 
                        type="button"
                        :disabled="areaFormValid"
                        @click="onClick()"
                        
                    >
                    Agregar</b-button>
                </b-input-group-append>
            </b-input-group>
        </b-form-group>


    </b-form>
</template>
<script>
import InputRealNumber from '~/components/InputRealNumber'
export default {
    name: 'PropertyAddAreas',
    components: {
        InputRealNumber 
    },
    props: {
        area_list: { type: Array, default: null },
    },
    data() {
        return {
            area_item: null,
            dimensions: 0,
        }
    },
    created() {
        this.areaFormValid
    },
    methods:{
        onClick(){
            //send data to parent (inspection component)
            this.$emit('addRegister', this.area_item, this.dimensions)            
        }
    },
    computed: {
        areaFormValid: function(){
            let result = false;
            if ((this.area_item !== null) && (!isNaN(this.dimensions))){
                if (this.dimensions > 0) {
                    result = false;
                } else { 
                    result = true;
                }                
            } else {
                result = true;
            }
            return result;
        }
    }
}
</script>