<template>
    <div>
        <b-table 
            striped 
            hover 
            primary-key="id" 
            :items="internal_data" 
            :fields="fields" 
            sort-by="area"
            sort-icon-left
            responsive 
            small
            show-empty
            empty-text="No existen registros para mostrar"
        >
        <template #table-colgroup="scope">
            <col
            v-for="field in scope.fields"
            :key="field.key"
            :style="{ width: field.key === 'area' ? '60%' : '20%' }"
            >
        </template>
        <template v-slot:cell(dimension)="data">
          <div class="text-right mr-3">
            {{ data.item.dimension }}
          </div>
        </template>
        <template v-slot:cell(action)="row">
            <div>
              <b-button size="sm" variant="danger" @click="deleteItem(row.item, row.index)">
                  Eliminar
              </b-button>
            </div>
        </template>
        </b-table>
    </div>
</template>
<script>
export default {
    name: 'PropertyShowAreas',
    scrollToTop: false,
    props: {
        items:  { type: Array, default: null },
    },
    data() {
      return {
        fields: [
          {
            key: 'area',
            label: 'Área',
            sortable: true,
          }, 
          {
            key: 'dimension',
            label: 'Dimensión',
            sortable: true,
          },                                
          { key: 'action', 
            label: 'Acción' 
          }
        ],
        internal_data: [],  
        
        }
    },
    created(){
      this.internal_data = [...this.items];
    },
    methods:{
      deleteItem(item, index){
        this.$emit('deleteRegister', item, index)
      }
    },
    watch: {
      items: function(){
        this.internal_data = [...this.items];
      }
    }

}
</script>
