<template>
  <b-modal
    v-model="modalShow"
    :id="id || name"
    size="md"
    ok-only
    hide-footer
    title="Detalles"
    header-bg-variant="info"
    header-text-variant="white"
    header-close-variant="white"
    scrollable
  >
    <b-container>
      <b-row align-h="center">
        <b-col cols="8" class="pt-2">
          <b-list-group>
            <b-list-group-item
              class=""
              v-for="(item, key) in location"
              :key="key"
            >
              <div class="d-flex w-100 justify-content-center bg-dark">
                <small class="text-white font-weight-bold">{{
                  item.text
                }}</small>
              </div>

              <div
                v-if="item.key != 'geo_coordinates'"
                class="d-flex w-100 align-items-center justify-content-center"
              >
                <small class="pt-2">{{ propertyInfo[item.key] }}</small>
              </div>

              <div
                v-else
                class="d-flex w-100 align-items-center justify-content-center"
              >
                <a
                  :href="
                    'https://www.google.com/maps/search/?api=1&query=' +
                      propertyInfo[item.key]
                  "
                  target="_blank"
                  rel="noopener noreferrer"
                  ><small class="pt-2">{{ propertyInfo[item.key] }}</small></a
                >
              </div>
            </b-list-group-item>
          </b-list-group>
        </b-col>
        <b-col cols="8" class="pt-2">
          <b-list-group>
            <b-list-group-item
              class=""
              v-for="(item, key) in property"
              :key="key"
            >
              <div class="d-flex w-100 justify-content-center bg-secondary">
                <small class="text-white font-weight-bold">{{
                  item.text
                }}</small>
              </div>

              <div
                class="d-flex w-100 align-items-center justify-content-center"
              >
                <small class="pt-2">
                  {{
                    item.key != "is_new"
                      ? propertyInfo[item.key]
                      : item.key
                      ? "Nuevo"
                      : "Usado"
                  }}
                </small>
              </div>
            </b-list-group-item>
            <b-list-group-item
              class=""
              v-for="(item, key) in areas"
              :key="'area-' + key"
            >
              <div class="d-flex w-100 justify-content-center bg-dark">
                <small class="text-white font-weight-bold">{{
                  "Área: " + item.name
                }}</small>
              </div>

              <div
                class="d-flex w-100 align-items-center justify-content-center"
              >
                <small class="pt-2">
                  {{ formatFloat(item.dimension) }} m<sup>2</sup>
                </small>
              </div>
            </b-list-group-item>
          </b-list-group>
        </b-col>
        <b-col cols="8" class="pt-2">
          <b-list-group>
            <b-list-group-item
              class=""
              v-for="(item, key) in legal_info"
              :key="key"
            >
              <div class="d-flex w-100 justify-content-center bg-dark">
                <small class="text-white font-weight-bold">{{
                  item.text
                }}</small>
              </div>

              <div
                class="d-flex w-100 align-items-center justify-content-center"
              >
                <small
                  class="pt-2"
                  v-if="
                    ['sale_amount', 'improvement_area', 'land_area'].includes(
                      item.key
                    )
                  "
                >
                  {{ formatFloat(propertyInfo[item.key]) }}
                  <span v-if="item.key !== 'sale_amount'">m<sup>2</sup></span>
                  <span v-else>$</span>
                </small>
                <small class="pt-2" v-else>
                  {{ propertyInfo[item.key] }}
                </small>
              </div>
            </b-list-group-item>
          </b-list-group>
        </b-col>

        <b-col cols="8" class="pt-2">
          <b-list-group>
            <b-list-group-item
              class="d-flex justify-content-between align-items-center"
              v-for="(item, key) in amenities"
              :key="key"
            >
              <small>{{ item.text }}</small
              ><b-badge variant="secondary" pill>{{
                propertyInfo[item.key]
              }}</b-badge>
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-container>
  </b-modal>
</template>
<script>
import { commonFunc } from "~/src/commonModule";

export default {
  name: "PropertyDetailsModal",
  props: {
    id: { type: String, default: "details-modal" },
    name: { type: String, default: "details-modal" },
    show: { type: Boolean, default: false },
    propertyInfo: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  data() {
    return {
      modalShow: false,
      amenities: [
        { text: "Área de juegos para niños", key: "area_juegos" },
        { text: "Campo de golf", key: "campo_golf" },
        { text: "Canchas de baloncesto", key: "canchas_baloncesto" },
        { text: "Canchas de tenis", key: "canchas_tenis" },
        { text: "Gazebo", key: "gazebo" },
        { text: "Gimnasio", key: "gimnasio_amenidades" },
        { text: "Jacuzzi", key: "jacuzzi" },
        { text: "Picuzzi", key: "picuzzi" },
        { text: "Piscina", key: "piscina" },
        { text: "Sala de espera para choferes", key: "sala_choferes" },
        { text: "Salón de reuniones", key: "salon_reuniones" },
        { text: "Sauna", key: "sauna" },
        { text: "Terraza destechada", key: "terraza_destechada" },
        { text: "Terraza techada", key: "terraza_techada" }
      ],
      location: [
        { text: "Coordenadas Geográficas", key: "geo_coordinates" },
        { text: "Residencia", key: "residence" },
        { text: "Número", key: "address_number" },
        { text: "Calle", key: "address_street" },
        { text: "Sector", key: "sector_name" },
        { text: "Ciudad", key: "city_name" },
        { text: "Municipio", key: "municipality_name" },
        { text: "Provincia", key: "province_name" }
      ],
      legal_info: [
        { text: "Designación Catastral", key: "cadastral_number" },
        { text: "Matricula / Titulo N°", key: "registration_number" },
        { text: "Número de Libro", key: "book_number" },
        { text: "Número de Folio", key: "folio_number" },
        { text: "Fecha Expedición", key: "expedition_date" },
        { text: "Valor de venta", key: "sale_amount" },
        { text: "Tipo de venta", key: "sale_type_id" },
        { text: "Área del solar", key: "land_area" },
        { text: "Área de Mejora", key: "improvement_area" }
      ],
      property: [
        { text: "Tipo de Inmueble", key: "property_type_name" },
        { text: "Condición del Inmueble", key: "is_new" },
        { text: "Niveles del Inmueble", key: "property_levels" },
        { text: "Año de construcción", key: "construction_year" },
        { text: "Ocupada por", key: "property_use_status_name" },
        { text: "Nro del Inmueble", key: "property_number" },
        { text: "Total baños", key: "total_baths" },
        { text: "Total habitaciones", key: "total_rooms" },
        { text: "Total parqueos", key: "total_parking_spots" }
      ]
    };
  },
  methods: {
    formatFloat: function(data) {
      return commonFunc.formatRealNumber(data);
    }
  },
  computed: {
    areas: function() {
      return this.propertyInfo.func_appraisal_areas_json
        ? JSON.parse(this.propertyInfo.func_appraisal_areas_json)
        : null;
    }
  },
  watch: {
    show(newVal) {
      this.modalShow = newVal;
    },
    modalShow() {
      let val = this.modalShow;
      this.$store.dispatch("comparables/showModalInfo", { value: val });
    }
  }
};
</script>
