<template>
  <div id="propertyInfoComponent" class="custom-top-margin">
    <div class="row">
      <b-button
        block variant="dark"
        :class="visible ? 'custom-collapse-parent' : 'collapsed custom-collapse-parent'"
        :aria-expanded="visible ? 'true' : 'false'"
        aria-controls="collapsePropertyInfo"
        @click="visible = !visible"
      >
        Información del Inmueble
        <b-icon icon="plus-circle" :rotate="visible ? 45 : 0"  font-scale="1.5" aria-hidden="true" class="custom-collapse-child"></b-icon>
      </b-button>
    </div>
      <div class="row">
        <div class="col">
          <b-collapse id="collapsePropertyInfo" v-model="visible" class="mt-2">
            <b-card>
              <b-form @submit.prevent="onSubmit($event)"  ref="formPropertyInfo" id="formPropertyInfo">
              <div>
                <b-card bg-variant="light">
                  <b-form-group

                    label-size="lg"
                    label-class="font-weight-bold pt-0"
                    class="mb-0"

                    :disabled="formIsBlock" 
                    label-cols="12" 
                    label-cols-lg="3" 
                    label="Información legal del Inmueble">
                

                  <b-form-group
                    label-cols-sm="3"
                    label="Designación Catastral:"
                    label-align-sm="right"
                    label-for="nested-detalle-catastro"

                  >  
                    <b-input-group>
                      <b-form-input  
                        
                        type="text"
                        min="0"
                        id="nested-detalle-catastro"
                        :disabled="formIsBlock" 
                        name="catastro" 
                        v-model="form.catastro"
                        aria-describedby="catastro-live-feedback"
                        maxlength="40"
                      >
                      </b-form-input>
                    </b-input-group>
                  </b-form-group>


                    <b-form-group
                      label-cols-sm="3"
                      label="Matricula / Titulo N°:"
                      label-align-sm="right"
                      label-for="nested-detalle-registration-number"

                    >  
                     <b-form-input 
                     
                    id="nested-detalle-registration-number" 
                    name="registration_number"
                    v-model="form.registration_number"
                    aria-describedby="registration-number-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="registration-number-live-feedback">
                      "Matricula / Titulo N°" es un campo requerido
                    </b-form-invalid-feedback>                    

                    </b-form-group>     


                    <b-form-group
                      label-cols-sm="3"
                      label="Nro de Libro:"
                      label-align-sm="right"
                      label-for="nested-detalle-book-number"

                    >  
                     <b-form-input 
                     
                    id="nested-detalle-book-number" 
                    name="book_number"
                    v-model="form.book_number"
                    aria-describedby="book-number-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="book-number-live-feedback">
                      "Nro de Libro" es un campo requerido
                    </b-form-invalid-feedback>                    

                    </b-form-group> 


                    <b-form-group
                      label-cols-sm="3"
                      label="Nro de Folio:"
                      label-align-sm="right"
                      label-for="nested-detalle-folio-number"

                    >  
                     <b-form-input 
                     
                    id="nested-detalle-folio-number" 
                    name="folio_number"
                    v-model="form.folio_number"
                    aria-describedby="folio-number-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="folio-number-live-feedback">
                      "Nro de Folio" es un campo requerido
                    </b-form-invalid-feedback>                    

                    </b-form-group> 

 
                     <b-form-group
                      label-cols-sm="3"
                      label="Fecha Expedición:"
                      label-align-sm="right"
                      label-for="solicitante-agenda-fecha-expedicion"

                    >  
                   <b-form-input 
                     
                    type="date" 
                    id="solicitante-agenda-expedition-date" 
                    name="expedition_date"
                    v-model="form.expedition_date"
                    aria-describedby="expedition-date-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="expedition-date-live-feedback">
                      "Fecha Entrega" es un campo requerido
                    </b-form-invalid-feedback>           
                  </b-form-group>                    


                    <b-form-group
                      label-cols-sm="3"
                      label="Propietario:"
                      label-align-sm="right"
                      label-for="nested-detalle-owner"

                    >  
                     <b-form-input 
                     
                    id="nested-detalle-owner" 
                    name="property_owner"
                    v-model="form.property_owner"
                    aria-describedby="owner-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="owner-live-feedback">
                      "Propietario" es un campo requerido
                    </b-form-invalid-feedback>                    

                    </b-form-group> 

                    <b-form-group 
                      label-cols-sm="3"
                      label="Tipo de Venta:"
                      label-align-sm="right"
                      label-for="nested-property-info-sales-type"
                    >
                      <b-form-radio-group
                        id="nested-property-info-sales-type"
                        v-model="form.sale_type"
                        :options="sale_types_options"
                        name="sale_type"
                        value-field="id"
                        text-field="name"
                        class="my-1 ml-5"
                        stacked
                      ></b-form-radio-group>
                    </b-form-group>

                    <b-form-group
                      label-cols-sm="3"
                      label="Valor de Venta:"
                      label-align-sm="right"
                      label-for="nested-property-info-sale-amount"
                    >  
               
                      <input-real-number
                        label="Valor de Venta"
                        id="nested-property-info-sale-amount" 
                        v-model="form.sale_amount"
                        name="sale_amount"
                        currencySymbol="$" 
                        >
                      </input-real-number> 

                    </b-form-group>
                    <b-form-group
                      label-cols-sm="3"
                      label="Área del solar:"
                      label-align-sm="right"
                      label-for="nested-property-land-area"
                    >  
                      <input-real-number 
                        id="nested-property-land-area"
                        v-model="form.property_land_area"
                        name="property_land_area"
                        label="Área Solar"
                      >
                      </input-real-number>                   
                    </b-form-group>                    


                    <b-form-group
                      label-cols-sm="3"
                      label="Área de Mejora:"
                      label-align-sm="right"
                      label-for="nested-property-improvement-area"

                    >  
                      <input-real-number 
                        id="nested-property-improvement-area"
                        v-model="form.property_improvement_area"
                        name="property_improvement_area"
                        label="Área Mejora"
                      >
                      </input-real-number>                    

                    </b-form-group>                   
                  </b-form-group>
                  <!-- -->
                </b-card>
                <b-card bg-variant="light">
                  <!-- -->
                  <b-form-group

                      label-size="lg"
                      label-class="font-weight-bold pt-0"
                      class="mb-0"

                      :disabled="formIsBlock" 
                      label-cols="12" 
                      label-cols-lg="3" 
                      label="Áreas">
                  


                                                                    <PropertyAddAreas
                                                                        :key="'A' + keyPropertyAddAreas"
                                                                        :area_list="area.filterItems"
                                                                        @addRegister="addInspectionsArea"
                                                                    ></PropertyAddAreas>

                                                                    <PropertyShowAreas
                                                                        :key="'B' + keyPropertyShowAreas"
                                                                        :items="area.tableItems"
                                                                        @deleteRegister="delInspectionsArea"
                                                                    ></PropertyShowAreas>                                                                    


                  </b-form-group>
                  <!-- -->
                </b-card>
              </div>
              <b-row align-h="around" class="py-3">
                  <b-col cols="4" md="3" v-if="!formIsBlock">
                      <template>
                          <b-button key="btn-actualizar" class="btn-block" variant="primary" type="submit">Guardar</b-button>
                      </template>
                  </b-col>
              </b-row>

              </b-form>
            </b-card>
          </b-collapse>
        </div>
      </div>
</div>
</template>
<script>
import InputRealNumber from '~/components/InputRealNumber'
import InputNumberVCard from '~/components/InputNumberVCard' 
import PropertyAddAreas from '~/components/PropertyAddAreas'
import PropertyShowAreas from '~/components/PropertyShowAreas'

import axios from 'axios';
import Swal from 'sweetalert2';
import { required } from 'vuelidate/lib/validators';
import { mapGetters} from 'vuex';
import { commonFunc } from '~/src/commonModule';

export default {
    name: 'formPropertyInfo',
    components: {
      InputNumberVCard,
      InputRealNumber,
      PropertyAddAreas,
      PropertyShowAreas
    },
    data() {
      return {
        visible: false,
        form: {
          appraisal_id: null,
          catastro: null,
          registration_number: null,
          book_number: null,
          folio_number: null,
          expedition_date: null,
          property_owner: null,
          property_land_area: 0,
          property_improvement_area: 0,
          sale_amount: 0,
          sale_type: 1,
          spyForm: 3,

        },
        item: [],
        sale_types_options: [
          { name: 'Venta Directa', id: 1 },
          { name: 'Intermediario', id: 2 },
        ],
        area: {
            id: 0,
            name: 0,
            tableItems: [],
            filterItems: [],
            keyPropertyShow: 0,
            keyPropertyAdd: 0,
            switchComponent: false,
        },
        keyPropertyShowAreas: 0,
        keyPropertyAddAreas: 0


      } 
    },
    // validations: {
    //     form: {
    //         registration_number: { required },
    //         book_number: { required },
    //         folio_number: { required },
    //         expedition_date: { required },
    //         property_owner: { required },
    //     },
    // },

    created(){
      this.readItemSelected();
      this.initArea()
    },
    methods: {
      // validateState(name) {
      //   const { $dirty, $error } = this.$v.form[name];
      //   return $dirty ? !$error : null;
      // },
      onSubmit(){

        let FormData = this.initializeObjectForm()
        FormData.append("_method", "put");


        axios({
          method: 'post',
          url: 'api/mainform',
          data: FormData
        }).then((response) => {
          Swal.fire({
            title:'Actualizado!',
            text:'El registro fue actualizado!',
            icon:'success',
            showConfirmButton: false,
            timer: 1200,
          })
          this.onCancel()   
          this.onRefreshDatatable()
          console.log(response);
        })

      },
      initializeObjectForm: function(){
        let formPropertyInfo = document.getElementById('formPropertyInfo');
        let formData = new FormData(formPropertyInfo);

        if (!formData.has('spyForm')) {
          formData.append('spyForm',this.form.spyForm);
        }

        if (!formData.has('appraisal_id')) {
          formData.append('appraisal_id',this.form.appraisal_id);
        }

        if (!formData.has('property_improvement_area')) {
          formData.append('property_improvement_area',this.form.property_improvement_area);
        }
        
        if (!formData.has('property_land_area')) {
          formData.append('property_land_area',this.form.property_land_area);
        }
        
        if (!formData.has('sale_amount')) {
          formData.append('sale_amount',this.form.sale_amount);
        }   
        
        return formData

      },
      readItemSelected(){
        /** Fill elements of Solicitudes form from row selected on Datatable */
        if (this.itemSelected.length > 0){
          //this.onReset()
          this.item = this.itemSelected[0];
          this.form.appraisal_id = this.item.id
          this.form.catastro = this.item.cadastral_number
          this.form.registration_number = this.item.registration_number
          this.form.book_number = this.item.book_number
          this.form.folio_number = this.item.folio_number
          this.form.expedition_date = this.item.expedition_date
          this.form.property_owner = this.item.owner
          this.form.property_land_area = parseFloat((this.item.land_area == null) ? 0 : this.item.land_area)
          this.form.property_improvement_area = parseFloat((this.item.improvement_area == 0) ? 0 : this.item.improvement_area)
          this.form.sale_amount = parseFloat((this.item.sale_amount == null) ? 0 : this.item.sale_amount )  
          this.form.sale_type = (this.item.sale_type_id == null) ? 1 : this.item.sale_type_id

        }else{
          /**
           * todo: Se esta limpiando el formulario, haciendo un refresh al componente, por lo que hay una request al servidor para traer los datos de precarga.
           */
          //this.onCancel()
        }
      },
      onRefreshDatatable(){
        this.$store.dispatch('mainform/resetKeyDatatable');
      },
      onCancel(){
        /** Reload Solicitudes component and clear Datatable selection  */
        this.$store.dispatch('mainform/resetKeySolicitudes');
        this.$store.dispatch('mainform/resetItemSelected');
        this.$store.dispatch('mainform/resetKeyPropertyInfo');
        this.$store.dispatch('mainform/resetkeyInspection');
      },
      addInspectionsArea(areaId, dimension){                
          axios({
              method: 'POST',
              url: 'api/inspection',
              data: {
                  areaId: areaId,
                  dimension: dimension,
                  appraisal_request_id: this.item.id
              }
          })
          .then((response) => {
              Swal.fire({
              icon: 'success',
              title: 'Registro satisfactorio!',
              reverseButtons: true,
              confirmButtonText: 'ok',
              })
              this.initArea();
              this.reloadPropertyShowAreasComponent();
              this.reloadPropertyAddAreasComponent();
          })
          .catch((error) => {
              console.log(error);
          })
      },
      delInspectionsArea(item, index){
          Swal.fire({
              title: 'Desea eliminar este registro?',
              text: "Por favor confirme",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#c82333',
              cancelButtonColor: '#5a6268',
              confirmButtonText: 'Si, eliminar!',
              cancelButtonText: 'Cancelar',
          }).then((result) => {
              if (result.isConfirmed) {

                  axios({
                  method: 'delete',
                  url: 'api/inspection/' + item.id,
                  })
                  .then((response) => {
                      Swal.fire(
                      'Eliminado!',
                      'El registro seleccionado ha sido eliminado',
                      'success'
                  )

                    this.initArea();
                    this.reloadPropertyShowAreasComponent();
                    this.reloadPropertyAddAreasComponent();
                  })
                  .catch((error) => {
                      console.log(error);
                  })
              }

              
          })
      },
      initArea(){
        Promise.all([this.fetchAreasList(),this.fetchInspectionsAreas()]).then(result => {
          this.disableAreaSelectItems(result[0],result[1]);
        });
      },      

      async fetchAreasList() {
        try {
              const { data } = await axios.get('api/areas')
              if (Array.isArray(data)) {                
                  return data
              }
            } catch (error) {
              console.log(error)
            }
      },
      async fetchInspectionsAreas() {
        try {
              const { data } = await axios.get('api/inspection?appraisal_request_id=' + this.item.id)
              if (Array.isArray(data)) {
                  return data;
              }
            } catch (error) {
              console.log(error)
            }

      },
      disableAreaSelectItems(selectElements,tableElements){

          const itemsId = tableElements.map(function(e){
              return e.area_id;
          })

          itemsId.forEach( function(tElement){
              selectElements.forEach( function(sElement){
                  if (tElement == sElement.id){
                      sElement.disabled = true;
                  }
              })
          });
          this.area.filterItems = [...selectElements];
          this.area.tableItems = [...tableElements];
      },
      reloadPropertyAddAreasComponent(){
        this.keyPropertyAddAreas += 1;
      },
      reloadPropertyShowAreasComponent(){
        this.keyPropertyShowAreas += 1;
      },


    },
    computed: {
      formIsBlock: function(){
        let resp = false
        // if (this.itemSelectedStatus && !(this.isEditing)) {
        //   resp = true
        // }
        return resp
      },
      ...mapGetters({
        itemSelected: 'mainform/itemDatatable'

      }),
    },
    watch: {

      itemSelected: function(){
        this.readItemSelected();
      },
    }     
}
</script>
<style scoped>

.custom-top-margin {
  margin-top: 10px;
}

.custom-collapse-parent {
position: relative;

}
.custom-collapse-child {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 90%;
}
</style>


                