<template>
  <div id="solicitudesComponent" class="custom-top-margin">
    <div class="row">
      <b-button
        block variant="dark"
        :class="visible ? 'custom-collapse-parent' : 'collapsed custom-collapse-parent'"
        :aria-expanded="visible ? 'true' : 'false'"
        aria-controls="collapseSolicitudes"
        @click="visible = !visible"
      >
        {{ registerTypeName.charAt(0).toUpperCase() + registerTypeName.slice(1) }}
        <b-icon icon="plus-circle" :rotate="visible ? 45 : 0"  font-scale="1.5" aria-hidden="true" class="custom-collapse-child"></b-icon>
      </b-button>
    </div>
      <div class="row">
        <div class="col">
          <b-collapse id="collapseSolicitudes" v-model="visible" class="mt-2">
            <b-card>
              <b-form @submit.prevent="onSubmit($event)"  ref="formSolicitudes" id="formSolicitudes">
              <div>
                <b-card bg-variant="light">

                   <b-form-group

                    label-size="lg"
                    label-class="font-weight-bold pt-0"
                    class="mb-0"

                    :disabled="formIsBlock" 
                    label-cols="12" 
                    label-cols-lg="3" 
                    label="Solicitante">
                    <!-- -->

                    <div class="d-flex justify-content-end" v-if="registerType != 1 && itemSelectedStatus == 0">
                      <b-button class="mb-4" variant="outline-info" @click="predefinedInputValues">
                        <b-icon icon="file-plus-fill" scale="1.5"></b-icon>
                      </b-button>
                    </div>

 <!-- -->
 
                     <b-form-group
                      label-cols-sm="3"
                      label="Tipo de Inmueble:"
                      label-align-sm="right"
                      label-for="nested-detalle-property-type"

                    >  
                    <b-form-select 
                    id="nested-detalle-property-type" 
                    v-model="form.property_type" 
                    :options="options.property_types"
                    name="property_type"
                    value-field="id"
                    text-field="name"
                    :state="validateState('property_type')"
                    aria-describedby="property-type-live-feedback"
                    >
                      <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                      </template>
                    </b-form-select>
                    <b-form-invalid-feedback id="property-type-live-feedback">
                      "Tipo de Inmueble" es un campo requerido
                    </b-form-invalid-feedback>   
 
                     </b-form-group>
<!-- -->
                    <b-form-group 
                      label-cols-sm="3"
                      label="Condición del Inmueble:"
                      label-align-sm="right"
                      label-for="nested-solicitante-condicion-inmueble"
                    >
                      <b-form-radio-group
                        id="nested-solicitante-condicion-inmueble"
                        v-model="form.property_condition"
                        :options="property_condition_options"
                        name="property_condition"
                        value-field="value"
                        text-field="name"
                        class="my-1 ml-5"
                        stacked
                      ></b-form-radio-group>
                    </b-form-group>

 <!-- -->

                    <b-form-group
                      label-cols-sm="3"
                      label="Nombre Solicitante:"
                      label-align-sm="right"
                      label-for="nested-formSolicitudes"
                    >  
                      <b-form-input  
                        
                        id="nested-formSolicitudes"
                        :disabled="formIsBlock" 
                        name="applicant_name" 
                        v-model="form.applicant_name"
                        :state="validateState('applicant_name')" 
                        aria-describedby="name-live-feedback"
                        >
                      </b-form-input>
                      <b-form-invalid-feedback id="name-live-feedback" v-if="!$v.form.applicant_name.required">
                        "Nombre Solicitante" es un campo requerido
                      </b-form-invalid-feedback>
                      <b-form-invalid-feedback id="name-live-feedback" v-else>
                        La cantidad de caracteres se excede del permitido
                      </b-form-invalid-feedback>                      
                      </b-form-group>
 <!-- -->
 
                     <b-form-group
                      label-cols-sm="3"
                      label="Teléfono Solicitante:"
                      label-align-sm="right"
                      label-for="nested-solicitante-telefono"

                    >  
                      <b-form-input 
                       
                      type="tel" 
                      id="nested-solicitante-telefono" 
                      name="applicant_phone" 
                      v-model="form.applicant_phone"
                      v-facade="'(###) - ### - ####'"
                      :state="validateState('applicant_phone')"
                      aria-describedby="telefono-live-feedback"
                      >
                      </b-form-input>
                      <b-form-invalid-feedback id="telefono-live-feedback" v-if="!$v.form.applicant_phone.required">
                        "Teléfono Solicitante" es un campo requerido
                      </b-form-invalid-feedback> 
                      <b-form-invalid-feedback id="telefono-live-feedback" v-else>
                        No cumple con el patrón valido
                      </b-form-invalid-feedback>   
 
                     </b-form-group>
 <!-- -->
 
                     <b-form-group
                      label-cols-sm="3"
                      label="Email Solicitante:"
                      label-align-sm="right"
                      label-for="nested-solicitante-email"

                    >  
                      <b-form-input 
                       
                      id="nested-solicitante-email" 
                      name="applicant_email"
                      v-model="form.applicant_email"
                      :state="validateState('applicant_email')"
                      aria-describedby="email-live-feedback"
                      >
                      </b-form-input>
                      <b-form-invalid-feedback id="email-live-feedback" v-if="!$v.form.applicant_email.email">
                        "Email Solicitante" no cumple con el patrón valido
                      </b-form-invalid-feedback>

 
                     </b-form-group>
<!-- -->
                    <b-form-group
                      label-cols-sm="3"
                      label="Persona Contacto:"
                      label-align-sm="right"
                      label-for="nested-persona-contacto"
                    >  
                      <b-form-input  
                        
                        id="nested-persona-contacto"
                        :disabled="formIsBlock" 
                        name="contact_name" 
                        v-model="form.contact_name"
                        :state="validateState('contact_name')"
                        aria-describedby="contact-name-live-feedback"
                        >
                      </b-form-input>
                      <b-form-invalid-feedback id="contact-name-live-feedback" v-if="!$v.form.contact_name.required">
                        "Persona Contacto" es un campo requerido
                      </b-form-invalid-feedback>
                      <b-form-invalid-feedback id="contact-name-live-feedback" v-else>
                        La cantidad de caracteres se excede del permitido
                      </b-form-invalid-feedback>                       
                      </b-form-group>
 <!-- -->
 
                     <b-form-group
                      label-cols-sm="3"
                      label="Teléfono Contacto:"
                      label-align-sm="right"
                      label-for="nested-telefono-contacto"

                    >  
                      <b-form-input 
                       
                      type="tel" 
                      id="nested-contact-phone" 
                      name="contact_phone"
                      v-model="form.contact_phone"
                      v-facade="'(###) - ### - ####'"
                      :state="validateState('contact_phone')"
                      aria-describedby="contact-phone-live-feedback"
                      >
                      </b-form-input>
                      <b-form-invalid-feedback id="contact-phone-live-feedback" v-if="!$v.form.applicant_phone.required">
                        "Teléfono Contacto" es un campo requerido
                      </b-form-invalid-feedback> 
                      <b-form-invalid-feedback id="contact-phone-live-feedback" v-else>
                        No cumple con el patrón valido
                      </b-form-invalid-feedback>   
 
                     </b-form-group>
 <!-- -->

                    <b-form-group 
                      label-cols-sm="3"
                      label="Tipo de Entrega:"
                      label-align-sm="right"
                      label-for="nested-solicitante-delivery-type"
                    >
                      <b-form-radio-group
                        id="nested-solicitante-delivery-type"
                        v-model="form.delivery_type"
                        :options="options.delivery_types"
                        name="delivery_type"
                        value-field="id"
                        text-field="name"
                        class="my-1 ml-5"
                        stacked
                        @input="notHasBank"
                      ></b-form-radio-group>
                    </b-form-group>

 <!-- -->
                    <b-form-group
                      label-cols-sm="3"
                      label="Banco:"
                      label-align-sm="right"
                      label-for="nested-detalles-bank"
                      v-show="form.delivery_type != 2"

                    >  
                      <b-form-select 
                      id="nested-detalles-bank" 
                      v-model="form.bank" 
                      :options="options.banks"
                      name="bank"
                      value-field="id"
                      text-field="name"
                      :state="validateState('bank')"
                      aria-describedby="bank-live-feedback"
                      >
                      <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                      </template>
                    </b-form-select>
                    <b-form-invalid-feedback id="bank-live-feedback">
                      "Banco" es un campo requerido
                    </b-form-invalid-feedback>                  

                  </b-form-group>

 <!-- -->
 
                     <b-form-group
                      label-cols-sm="3"
                      label="Ocupada por:"
                      label-align-sm="right"
                      label-for="nested-detalle-property-use-status"

                    >  
                    <b-form-select 
                    id="nested-detalle-property-use-status" 
                    v-model="form.property_use_status" 
                    :options="options.property_use_status"
                    name="property_use_status"
                    value-field="id"
                    text-field="name"
                    :state="validateState('property_use_status')"
                    aria-describedby="property-use-status-live-feedback"
                    >
                      <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                      </template>
                    </b-form-select>
                    <b-form-invalid-feedback id="property-use-status-live-feedback">
                      "Ocupada por" es un campo requerido
                    </b-form-invalid-feedback>
 
                  </b-form-group>
 <!-- -->

                    <b-form-group
                      label-cols-sm="3"
                      label="Monto a cobrar:"
                      label-align-sm="right"
                      label-for="nested-solicitante-amount"
                    >  
               
                      <input-real-number
                        label="Monto a cobrar"
                        id="nested-solicitante-amount" 
                        v-model="form.amount"
                        name="amount" 
                        currencySymbol="$"
                        :validateState="$v.form.amount"
                        >
                      </input-real-number> 

                  </b-form-group>

 <!-- -->

                    <b-form-group 
                      label-cols-sm="3"
                      label="Forma de Pago:"
                      label-align-sm="right"
                      label-for="nested-solicitante-payment-method"
                    >
                      <b-form-radio-group
                        id="nested-solicitante-payment-method"
                        v-model="form.payment_method"
                        :options="options.payment_methods"
                        name="payment_method"
                        value-field="id"
                        text-field="name"
                        class="my-1 ml-5"
                        stacked
                      ></b-form-radio-group>
                    </b-form-group>

  <!-- -->

                    <b-form-group 
                      label-cols-sm="3"
                      label="Estatus del Pago:"
                      label-align-sm="right"
                      label-for="nested-solicitante-status-pago"
                    >
                      <b-form-radio-group 
                      id="nested-solicitante-status-pago" 
                      v-model="form.status_pago"
                      :options="status_pago"
                      name="status_pago"
                      value-field="value"
                      text-field="name"
                      class="my-1 ml-5"
                      stacked
                      >
                      </b-form-radio-group>
                  </b-form-group>
  <!-- -->

                    <b-form-group 
                      label-cols-sm="3"
                      label="Comentarios:"
                      label-align-sm="right"
                      label-for="nested-solicitante-comments"
                    >
                    <b-form-textarea
                      id="nested-solicitante-comments"
                      name="comments"
                      v-model="form.comments"
                      :state="validateState('comments')"
                      aria-describedby="comments-live-feedback"
                      trim
                    ></b-form-textarea>
                      <b-form-invalid-feedback id="comments-live-feedback">
                        La cantidad de caracteres se excede del permitido
                      </b-form-invalid-feedback> 
                  </b-form-group>

<!-- -->
                         
                  </b-form-group>
                 </b-card>
              </div>
<!-- //////////// -->

              <div>
                <b-card bg-variant="light">
                  <b-form-group

                    label-size="lg"
                    label-class="font-weight-bold pt-0"
                    class="mb-0"

                    :disabled="formIsBlock" 
                    label-cols="12" 
                    label-cols-lg="3" 
                    label="Agenda">
  <!-- -->

                    <b-form-group 
                      label-cols-sm="3"
                      label="Dirección:"
                      label-align-sm="right"
                      label-for="nested-agenda-address"
                    >
                    <b-form-textarea
                      id="nested-agenda-address"
                      name="address"
                      v-model="form.address"
                      :state="validateState('address')"
                      aria-describedby="address-live-feedback"
                      trim
                    ></b-form-textarea>
                      <b-form-invalid-feedback id="address-live-feedback">
                        La cantidad de caracteres se excede del permitido
                      </b-form-invalid-feedback> 
                  </b-form-group>
  <!-- -->
                    <b-form-group
                      label-cols-sm="3"
                      label="Nro del Inmueble:"
                      label-align-sm="right"
                      label-for="nested-agenda-property-number"

                    >  
                     <b-form-input 
                     
                    id="nested-agenda-property-number" 
                    name="property_number"
                    v-model="form.property_number"
                    :state="validateState('property_number')"
                    aria-describedby="property_number-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="property_number-live-feedback">
                      "Nro del Inmueble" es un campo requerido
                    </b-form-invalid-feedback>                    

                      </b-form-group> 
  <!-- -->
                      <b-form-group
                        label-cols-sm="3"
                        label="Niveles del Inmueble:"
                        label-align-sm="right"
                        label-for="nested-agenda-property-levels"

                      >  

                      <b-form-spinbutton
                        id="nested-agenda-property-levels" 
                        name="property_levels"
                        v-model="form.property_levels"
                        :state="validateState('property_levels')"
                        aria-describedby="property-levels-live-feedback"
                        min="1"
                        max="40"
                        step="1"
                        :readonly="itemHasInspection || formIsBlock"
                      ></b-form-spinbutton>
                        <b-form-invalid-feedback id="property-levels-live-feedback">
                          "Niveles del Inmueble" es un campo requerido
                        </b-form-invalid-feedback>
                        <b-tooltip 
                        target="nested-agenda-property-levels" 
                        triggers="hover focus"
                        :disabled="!(itemHasInspection && !formIsBlock)">
                          {{((this.registerType == 2) ? 'Este ' : 'Esta ') + this.registerTypeName}} ya cuenta con su registro de inspección! 
                        </b-tooltip>                    
                      </b-form-group> 

   <!-- -->

                    <b-form-group
                      label-cols-sm="3"
                      label="Año de construcción del Inmueble:"
                      label-align-sm="right"
                      label-for="nested-agenda-property-age"
                    >  
                      <InputNumberVCard 
                        id="nested-agenda-property-age"
                        v-model="form.construction_year"
                        name="construction_year"
                        label="Año de construcción del Inmueble"
                        min=1850
                        :validateState="$v.form.construction_year"
                        :decimal="false"
                        invalid_message="Patrón invalido o valor fuera de rango"
                      >
                      </InputNumberVCard>                   
                    </b-form-group>
  <!-- -->

                
                    <b-form-group
                      label-cols-sm="3"
                      label="Fecha Inspección:"
                      label-align-sm="right"
                      label-for="nested-agenda-inspection-date"
                    >  
                    <b-input-group>
                    <template #prepend>
                      <b-input-group-text><b-badge v-if="showItemsPerInspectionDate" variant="success">{{ itemsPerInspectionDate }}</b-badge></b-input-group-text>
                    </template>
                    <b-form-input 
                     
                    type="date" 
                    id="nested-agenda-inspection-date" 
                    name="inspection_date"
                    v-model="form.inspection_date "
                    :state="validateState('inspection_date')"
                    aria-describedby="inspection-date-live-feedback"
                    @blur="checkItemsPerInspectionDate"
                    >
                    </b-form-input>

                    <b-form-invalid-feedback id="inspection-date-live-feedback" v-if="!$v.form.inspection_date.required">
                      "Fecha Inspección" es un campo requerido
                    </b-form-invalid-feedback>
                    <b-form-invalid-feedback id="inspection-date-live-feedback" v-else-if="!$v.form.inspection_date.validInspectionDate">
                      {{ (this.itemSelectedStatus && this.isEditing) ? 'No puede ser anterior a la fecha de registro inicial' : 'Fecha caducada' }}
                      
                    </b-form-invalid-feedback>   
                    </b-input-group>                                    
                  </b-form-group>
 <!-- -->
 
                     <b-form-group
                      label-cols-sm="3"
                      label="Hora Inspección:"
                      label-align-sm="right"
                      label-for="nested-agenda-inspection-time"

                    >  
                        <b-form-input 
                       
                      type="time" 
                      locale="en"
                      id="nested-agenda-inspection-time" 
                      v-model="form.inspection_time"
                      name="inspection_time"
                      :state="validateState('inspection_time')"
                      step=900
                      aria-describedby="inspection_time-live-feedback"
                      >
                      </b-form-input>
                      <b-form-invalid-feedback id="inspection_time-live-feedback">
                        "Hora Inspección" es un campo requerido
                      </b-form-invalid-feedback>        
 
                     </b-form-group>
 <!-- -->
 
                     <b-form-group
                      label-cols-sm="3"
                      label="Fecha Entrega:"
                      label-align-sm="right"
                      label-for="solicitante-agenda-fecEntrega"

                    >  
                    <b-input-group>
                    <template #prepend>
                      <b-input-group-text><b-badge v-if="showItemsPerDeliveryDate" variant="success">{{ itemsPerDeliveryDate }}</b-badge></b-input-group-text>
                    </template>                    
                   <b-form-input 
                     
                    type="date" 
                    id="solicitante-agenda-fecEntrega" 
                    name="delivery_date"
                    v-model="form.delivery_date"
                    :state="validateState('delivery_date')"
                    aria-describedby="delivery-date-live-feedback"
                    @blur="checkitemsPerDeliveryDate"
                    >
                    </b-form-input>

                    <b-form-invalid-feedback id="delivery-date-live-feedback" v-if="!$v.form.delivery_date">
                      "Fecha Entrega" es un campo requerido
                    </b-form-invalid-feedback>           
                    <b-form-invalid-feedback id="delivery-date-live-feedback" v-else>
                      Debe ser igual o posterior a la "Fecha de Inspección"
                    </b-form-invalid-feedback>  
                    </b-input-group> 
                  </b-form-group>

 <!-- -->
                     
                     <b-form-group
                      label-cols-sm="3"
                      label="Inspector:"
                      label-align-sm="right"
                      label-for="nested-agenda-inspector-designate"

                    >
                    <b-input-group>
                    <template #prepend>
                      <b-input-group-text><b-badge v-if="showItemsPerInspector" variant="success">{{ itemsPerInspector }}</b-badge></b-input-group-text>
                    </template>
                    <b-form-select 
                    id="nested-agenda-inspector-designate" 
                    v-model="form.inspector" 
                    :options="options.inspectors"
                    name="inspector"
                    value-field="id"
                    text-field="name"
                    :state="validateState('inspector')"
                    aria-describedby="inspector-live-feedback"
                    @change="checkItemsPerInspector"
                    >
                      <template v-slot:first>
                        <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                      </template>
                    </b-form-select>
                    <b-form-invalid-feedback id="inspector-live-feedback">
                      "Inspector" es un campo requerido
                    </b-form-invalid-feedback>   
                    </b-input-group>
                     </b-form-group>                                       
<!-- -->
                  <transition name="fade-effect">
                    <b-form-group
                      label-cols-sm="3"
                      label="Designación Catastral:"
                      label-align-sm="right"
                      label-for="nested-detalle-catastro"
                      v-show="fromCadCheck"

                    >  
                      <b-input-group>
                        <b-form-input  
                          
                          type="text"
                          min="0"
                          id="nested-detalle-catastro"
                          name="catastro" 
                          v-model="form.catastro"
                          maxlength="40"
                        >
                        </b-form-input>
                        <b-input-group-append>
                          <b-button variant="outline-dark" @click="calculateGeoCoords" :disabled="!catastroIsValid">
                            <b-icon icon="calculator-fill" scale="1.25"></b-icon>
                          </b-button>
                        </b-input-group-append>
                      </b-input-group>
                    </b-form-group>
                  </transition>
<!-- -->

                     <b-form-group
                      label-cols-sm="3"
                      label="Coordenadas Geográficas:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-geocoords"
                      
                    >
                    <b-input-group>

                      <b-form-input 
                       
                      id="nested-ubicacion-geocoords" 
                      name="geocoords"
                      v-model="form.geocoords"
                      :state="validateState('geocoords')"
                      :disabled="fromCadCheck"
                      aria-describedby="geocoords-live-feedback"
                      @keypress="isCharCodeValid($event,'geocoords',23,'Geo')"
                      >
                      </b-form-input>
                      <b-input-group-append>

                        <!-- Google Geocoding Api -->
                        <b-button 
                          variant="outline-dark" 
                          @click="onGetApiGeoCoding" 
                          :disabled="(!geoCoordsIsValid || loading.geocoding || fromCadCheck)"
                          v-if="!geocoordsIsEmpty"
                        >
                          <b-spinner v-if="loading.geocoding" small></b-spinner>
                          <b-iconstack v-if="!loading.geocoding">
                            <b-icon stacked icon="globe" variant="secondary" scale="1.25"></b-icon>
                            <b-icon stacked icon="geo" variant="dark" scale="0.75"></b-icon>
                          </b-iconstack>
                        </b-button>

                        <!-- Geolocation Api -->
                        <b-button 
                          variant="outline-dark" 
                          @click="locateMe" 
                          v-if="geocoordsIsEmpty"
                          :disabled="(loading.geolocation || fromCadCheck)"
                        >
                          <b-spinner v-if="loading.location" small></b-spinner>
                          <b-iconstack v-if="!loading.location">
                            <b-icon stacked icon="x" shift-v="-8" variant="dark" scale="0.6"></b-icon>
                            <b-icon stacked icon="geo-alt" shift-v="2" variant="secondary" scale="1.0"></b-icon>
                          </b-iconstack>
                        </b-button>

                      </b-input-group-append>                    
                      <b-form-invalid-feedback id="geocoords-live-feedback" v-if="!$v.form.geocoords.required">
                        "Coordenadas Geográficas" es un campo requerido
                      </b-form-invalid-feedback>
                      <b-form-invalid-feedback id="geocoords-live-feedback" v-else>
                        No cumple con el patrón valido
                      </b-form-invalid-feedback>

                    </b-input-group>  
                    <b-form-checkbox 
                    name="from-cad-check-button" 
                    size="sm" 
                    switch
                    v-model="fromCadCheck"
                    
                    >
                      A partir de la Designación Catastral
                    </b-form-checkbox>  
           
                  </b-form-group>



 <!-- -->

                    <b-form-group
                      label-cols-sm="3"
                      label="Residencia:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-residence"
                      v-if="form.property_type === 1"

                    >  
                     <b-form-input 
                     
                    id="nested-ubicacion-residence" 
                    name="residence"
                    v-model="form.residence"
                    :state="validateState('residence')"
                    aria-describedby="residence-live-feedback"                    
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="residence-live-feedback" v-if="!$v.form.residence.required">
                      "Residencia" es un campo requerido
                    </b-form-invalid-feedback>
                    <b-form-invalid-feedback id="residence-live-feedback" v-else>
                       La cantidad de caracteres se excede del permitido
                    </b-form-invalid-feedback>                                         
                    </b-form-group>

 <!-- -->

                    <b-form-group
                      label-cols-sm="3"
                      label="Número:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-numero"

                    >  
                     <b-form-input 
                     
                    id="nested-ubicacion-numero" 
                    name="numero"
                    v-model="form.numero"
                    :state="validateState('numero')"
                    aria-describedby="numero-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="numero-live-feedback" v-if="!$v.form.numero.required">
                      "Número" es un campo requerido
                    </b-form-invalid-feedback>                    
                    <b-form-invalid-feedback id="numero-live-feedback" v-else>
                      La cantidad de caracteres se excede del permitido
                    </b-form-invalid-feedback>  
                    </b-form-group>

 <!-- -->

                    <b-form-group
                      label-cols-sm="3"
                      label="Calle:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-calle"

                    >  
                     <b-form-input 
                     
                    id="nested-ubicacion-calle" 
                    name="calle"
                    v-model="form.calle"
                    :state="validateState('calle')"
                    aria-describedby="calle-live-feedback"
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="calle-live-feedback" v-if="!$v.form.calle.required">
                      "Calle" es un campo requerido
                    </b-form-invalid-feedback>                    
                    <b-form-invalid-feedback id="calle-live-feedback" v-else>
                      "Calle" es un campo requerido
                    </b-form-invalid-feedback>  
                    </b-form-group>                    
 <!-- -->

                    <b-form-group
                      label-cols-sm="3"
                      label="Sector:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-sector"

                    >  
                     <b-form-input 
                     
                    id="nested-ubicacion-sector" 
                    name="sector"
                    v-model="form.sector"
                    :state="validateState('sector')"
                    aria-describedby="sector-live-feedback"
                    readonly
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="sector-live-feedback">
                      "Sector" es un campo requerido
                    </b-form-invalid-feedback>                    

                    </b-form-group>

 <!-- -->                     
                    <b-form-group
                      label-cols-sm="3"
                      label="Ciudad:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-city"

                    >  
                     <b-form-input 
                     
                    id="nested-ubicacion-city" 
                    name="city"
                    v-model="form.city"
                    :state="validateState('city')"
                    aria-describedby="city-live-feedback"
                    readonly
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="city-live-feedback">
                      "Ciudad" es un campo requerido
                    </b-form-invalid-feedback>                    

                    </b-form-group>                  
 <!-- -->                     
                    <b-form-group
                      label-cols-sm="3"
                      label="Municipio:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-municipality"

                    >  
                     <b-form-input 
                     
                    id="nested-ubicacion-municipality" 
                    name="municipality"
                    v-model="form.municipality"
                    :state="validateState('municipality')"
                    aria-describedby="municipality-live-feedback"
                    readonly
                    >
                    </b-form-input>
                    <b-form-invalid-feedback id="municipality-live-feedback">
                      "Municipio" es un campo requerido
                    </b-form-invalid-feedback>                    

                    </b-form-group>  
 <!-- -->                     
                     <b-form-group
                      label-cols-sm="3"
                      label="Provincia:"
                      label-align-sm="right"
                      label-for="nested-ubicacion-province"

                    >  
                     <b-form-input
                       
                      id="nested-ubicacion-province" 
                      name="province"
                      v-model="form.province"
                      :state="validateState('province')"
                      aria-describedby="province-live-feedback"
                      readonly
                     >
                     </b-form-input>
                     <b-form-invalid-feedback id="province-live-feedback">
                      "Provincia" es un campo requerido
                     </b-form-invalid-feedback>                    

                    </b-form-group>  
 <!-- -->                                             

<!-- -->                     
                  </b-form-group>
                 </b-card>
              </div>
<!-- /////////////////////// -->



              <b-row align-h="around" class="py-3">
                  <b-col cols="4" v-if="((this.isEditing) && (this.itemSelectedStatus))">
                       <template>
                          <b-button key="btn-close" class="btn-block" variant="danger" @click="onClose">Cerrar</b-button>
                      </template>
                  </b-col>
                  <b-col cols="4">
                      <template>
                          <b-button key="btn-cancel" class="btn-block" variant="secondary" @click="onCancel">Cancelar</b-button>
                      </template>
                  </b-col>
                  <b-col cols="4"  v-if="(!this.itemSelectedStatus && !this.isEditing && this.createNewItem)">
                    <template>
                      <b-button 
                      key="btn-save" 
                      class="btn-block" 
                      variant="primary"
                      :disabled="this.loading.saving"
                      type="submit">Guardar<b-spinner v-if="this.loading.saving" small></b-spinner>

                      </b-button>
                    </template>
                  </b-col>
                  <b-col cols="4"  v-if="(this.itemSelectedStatus && !this.isEditing && this.editItem)">
                    <template>
                      <b-button 
                      key="btn-edit" 
                      class="btn-block" 
                      variant="success"
                      @click="onEdit">Editar

                      </b-button>
                    </template>
                  </b-col>
                  <b-col cols="4" v-if="((this.isEditing) && (this.itemSelectedStatus))">
                    <template>
                      <b-button 
                      :disabled="(!(updateFormChanged) || this.loading.updating)" 
                      key="btn-update" 
                      class="btn-block" 
                      variant="primary" 
                      @click="onUpdate">Guardar<b-spinner v-if="this.loading.updating" small></b-spinner>
                      </b-button>
                    </template>
                  </b-col>
              </b-row>


              </b-form>
            </b-card>
          </b-collapse>
        </div>
      </div>
</div>
</template>
<script>
import InputRealNumber from '~/components/InputRealNumber'
import InputNumberVCard from '~/components/InputNumberVCard'

import axios from 'axios';
import Swal from 'sweetalert2';
import { required, requiredIf, minLength, maxLength, email } from 'vuelidate/lib/validators';
import moment from 'moment';
import { mapGetters} from 'vuex';
import { commonFunc } from '~/src/commonModule';


export default {
    name: 'Solicitud',
    components: {
      InputRealNumber,
      InputNumberVCard
    },
    data() {
      return {
        visible: false,
        form: {
          id: null,
          applicant_name: null,
          applicant_phone: null,
          applicant_email: null,
          contact_name: null,
          contact_phone: null,
          delivery_type: 1,
          amount: 0,
          payment_method: 1,
          status_pago: false,
          comments: null,
          address: null,
          inspection_date: null,
          inspection_time: '',
          delivery_date: null,
          bank: null,
          register_type: null,
          property_type: null,
          property_condition: true,
          property_use_status: null,
          property_number: null,
          property_levels: 1,
          construction_year: moment().format('YYYY'),
          inspector: null,
          catastro: null,
          geocoords: null,
          residence: null,
          numero: null,
          calle: null,
          sector: null,
          city: null,
          municipality: null,
          province: null,
          country: null,

          user: null,
          spyForm: 1,
     
        },
        options: [],
        item: [],
        status_pago: [
          { name: 'Pendiente', value: false },
          { name: 'Realizado', value: true }
        ],
        property_condition_options: [
          { name: 'Nuevo', value: true },
          { name: 'Usado', value: false }
        ],
        register_types_options: [
          { name: 'Solicitud', value: 1 },
          { name: 'Comparable', value: 2 },
          { name: 'Plantilla', value: 3 }
        ],
        loading: {
          geocoding: false,
          location: false,
          saving: false,
          updating: false,
        },

        fromCadCheck: false,
        location: null,

        upload_size: 0,
        attachments: [],
        isEditing: false,
        updateFormChanged: false,
        files_stored: [],

        showItemsPerInspector: false,
        showItemsPerInspectionDate: false,
        showItemsPerDeliveryDate: false,

        itemsPerInspector: null,
        itemsPerInspectionDate: null,
        itemsPerDeliveryDate: null,
        
      }
  },
    validations: {
      form: {
        applicant_name: { required, maxLength: maxLength(100) },
        applicant_phone: { required, minLength: minLength(18) },
        applicant_email: { email },
        contact_name: { required, maxLength: maxLength(100) },
        contact_phone: { required, minLength: minLength(18) },
        amount: { required, minValue: value => value >= 0 },  
        inspection_date: { 
          required, 
          validInspectionDate(){
            // Checking if is a new record or not
            if (this.itemSelectedStatus && this.isEditing) {
              // Updating a register previous
              if (this.registerType == 1) {
                return this.form.inspection_date >= this.item.inspection_date
              } else {
                // to Comparables & Templates, "inspection date" can be before to original register
                return true
              }
            }else{
              // New registers
              if (this.registerType == 1) {
                // to Requests, "Inspection date" must be equal or more than current date
                return this.form.inspection_date >= moment().format('YYYY-MM-DD')
              } else {
                // Comparables & Templates: any date
                return true
              }
            }
          }
        },
        inspection_time: { required },
        delivery_date: { 
          required, 
          validDeliveryDate () {
            return this.form.delivery_date >= this.form.inspection_date 
          } 
        },
        bank: { required },
        property_type: { required },
        property_use_status: { required },
        property_number: { required },
        property_levels: { required },
        construction_year: { 
          required, 
          constructionYearValid() {
            return ((this.form.construction_year >= 1850) && (this.form.construction_year <=  parseInt(moment().format('YYYY')))) 
          }          
          },
        inspector: { required },
        geocoords: { 
          required,
          geoCoordsPattern() {
            return this.geoCoordsIsValid
          } 
        },
        residence: {
          required: requiredIf(function(){
            return this.isTemplate
          }),
          maxLength: maxLength(100)
        },
        numero: { required, maxLength: maxLength(50) },
        calle: { required, maxLength: maxLength(100) },
        sector: { required },
        city: { required },
        municipality: { required },
        province: { required },
        comments: { maxLength: maxLength(500) },
        address: { maxLength: maxLength(500) }
  
      },
    },
created() {
  this.form.user = this.user.id
  this.form.register_type = this.registerType
  this.fetchData()
},


methods: {

    async locateMe() {
      this.loading.location = true;
      try {
        this.location = await commonFunc.getLocation();
        this.form.geocoords = this.location.coords.latitude.toFixed(8) + ',' + this.location.coords.longitude.toFixed(8)
        Swal.fire({
          icon: 'success',
          title: 'Tu posición actual es:',
          text: `Latitud: ${this.location.coords.latitude.toFixed(8)} - Longitud: ${this.location.coords.longitude.toFixed(8)}`,
          footer: `Presición +/- ${this.location.coords.accuracy.toFixed(2)} metros.`,
          confirmButtonText: `Ok`
        }).then((result) => {
          if (result.isConfirmed) {
            this.onGetApiGeoCoding()
          }
        })
        this.loading.location = false;


        
      } catch(e) {
        this.loading.location = false;
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: `Ha ocurrido un error al intentar determinar su geolocalización.`,
          footer: `<p class="text-sm-center">${e.customMessage}</p>`
        })
      }
      
    },

    checkItemsPerInspectionDate(){

      this.$v.form.inspection_date.$touch();
      if (this.$v.form.inspection_date.$anyError) {
        this.showItemsPerInspectionDate = false
        this.itemsPerInspectionDate = null

      } else {
          axios
            .get('api/mainform',{
                params: {
                  id:5,
                  inspection_date: this.form.inspection_date
                }
            })
            .then(response => {
              this.itemsPerInspectionDate = response.data + 1;
              this.showItemsPerInspectionDate = true
            }); 

     }        
     this.form.delivery_date = null
     this.itemsPerDeliveryDate = null
     this.showItemsPerDeliveryDate = false
     this.form.inspector = null
     this.itemsPerInspector = null
     this.showItemsPerInspector = false
    },

    checkItemsPerInspector(){
      this.$v.form.inspector.$touch();
      this.$v.form.inspection_date.$touch();
      if ((this.$v.form.inspector.$anyError) || (this.$v.form.inspection_date.$anyError)) {
        this.showItemsPerInspector = false
        this.itemsPerInspector = null
      } else {
          axios
            .get('api/mainform',{
                params: {
                  id:6,
                  inspector: this.form.inspector,
                  inspection_date: this.form.inspection_date
                }
            })
            .then(response => {
              this.itemsPerInspector = response.data + 1;
              this.showItemsPerInspector = true
            }); 

     }

    },    

    checkitemsPerDeliveryDate(){
      this.$v.form.delivery_date.$touch();
      this.$v.form.inspection_date.$touch();
      if ((this.$v.form.delivery_date.$anyError) || (this.$v.form.inspection_date.$anyError)) {
        this.showItemsPerDeliveryDate = false
        this.itemsPerDeliveryDate = null
      } else {
          axios
            .get('api/mainform',{
                params: {
                  id:7,
                  inspector: this.form.inspector,
                  delivery_date: this.form.delivery_date
                }
            })
            .then(response => {
              this.itemsPerDeliveryDate = response.data + 1;
              this.showItemsPerDeliveryDate = true
            }); 

     }

    },

    calculateGeoCoords(){ 
      let cad = this.form.catastro.substring(0,13);
      this.form.geocoords = commonFunc.cadastralIdToGeocode(cad);
      this.onGetApiGeoCoding()
    },
    checkIsFormChanged(){
      if ((!this.updateFormChanged) && (this.isEditing) && (this.itemSelectedStatus)){
          this.updateFormChanged = true
        }
    },

    fetchData() {
        axios
            .get('api/mainform',{
                params: {
                  id:2,
                  user_id: this.form.user

                  /**
                   * id:2 Es para traer los datos de precarga del componente "Solicitudes". Su uso se debe 
                   *      a que el componente "Datatable" tambien hace uso de la misma Route y Method en el 
                   *      Controller MainForm. Por medio del id se diferencian las instrucciones para cada
                   *      uno. 
                   */
                }
            })
            .then(response => {
              this.options = response.data;

            });      
    },
    async fetchInspectors(){
      if (this.itemSelectedStatus){

        let owner_appraisal = this.itemSelected[0].owner_user_id;
        try {
            const response = await axios.get(`api/mainform/fetch_inspectors/${owner_appraisal}`);
            this.options.inspectors = response.data;
        } catch (error) {
            console.log('MSG ERROR ' + error)
        }        



      }
    },
    checkFilesStored() {
      if (this.itemSelectedStatus){
        let itemId = this.itemSelected[0].id            
        axios
          .get('api/attachment',{
              params: {
                id: 2,
                appraisal_request_id: itemId
              }
          })
          .then(response => {
              this.$store.dispatch('mainform/setTotalImages',{ value: response.data[0].total_img });
              this.$store.dispatch('mainform/setTotalDocuments',{ value: response.data[0].total_doc });

          }); 
      }            
    },
    /**
     * isCharCodeValid
     * @param evt keypress 
     * @param name Field's or Data's name in form
     * @param maxlen max lenght allow
     * @param type Num: mumber like catastro, Geo like geoCoords
     */
    isCharCodeValid: function(evt, name, maxlen = 0, type = 'Num') {
      evt = (evt) ? evt : window.event;
      let val = (this.form[name] === null) ? '' : this.form[name];
      let condition = true;
      let charCode = (evt.which) ? evt.which : evt.keyCode;


      if (type === 'Num'){
        condition = eval(charCode > 31 && (charCode < 48 || charCode > 57));
      } else if (type === 'Geo') {
        condition = eval(charCode > 31 && (charCode < 44 || charCode > 57) || charCode == 47);
      } 

      if ( condition || (val.length > maxlen) ) {
        evt.preventDefault();
      } else  {
        return true;
      }
    },
    notHasBank(){
      if (this.form.delivery_type === 2 ) 
      {
        this.form.bank = 0
      }else{
        (this.itemSelectedStatus === 0) ?  this.form.bank = null :  this.form.bank = this.item.bank_id       
      }
    },
    onCheckGoogleMap(){
      let url = 'https://www.google.com/maps/search/?api=1&query='+this.form.geocoords;
      window.open(url,'_blank');

    },
    async onGetApiGeoCoding(){
      let geocoords = this.form.geocoords.split(',')
      this.loading.geocoding = true
      await axios.get('api/geocoder',{
                params: {
                  lat:geocoords[0],
                  lng:geocoords[1] 
                  }})
      .then(response => {
          this.loading.geocoding = false
          if (response.data.country_code === 'DO' && response.data.status === 'OK') {
            this.form.numero = response.data.street_number;
            this.form.calle = response.data.route
            this.form.sector = (response.data.sector) ? response.data.sector : response.data.city;
            this.form.city = response.data.city
            this.form.municipality = response.data.municipality; 
            this.form.province = response.data.province;
            this.form.country = response.data.country;
          }else{
            Swal.fire({
              icon: 'error',
              title: response.data.swal_title,
              text: response.data.swal_text,
            }) 
          } 
            })
      .catch(error => {
        // handle error
        this.loading.geocoding = false
        console.log(error);
      });  

    },
    onEdit(){
      this.isEditing = true
      Swal.fire({
        icon: 'success',
        title: 'Edición habilitada!',
        showConfirmButton: false,
        timer: 1200
      })
    },    
    onCancel(){
      /** Reload Solicitudes component and clear Datatable selection  */
      this.$store.dispatch('mainform/resetKeySolicitudes');
      this.$store.dispatch('mainform/resetItemSelected');
      this.$store.dispatch('mainform/resetKeyPropertyInfo');
      this.$store.dispatch('mainform/setHasInspection',{ value: false });
    },
    onClose(){
      /** Change solicitud's status to close  */
          let rndInt = this.getRandomIntInclusive(100, 999)
          Swal.fire({
            title: 'Desea cerrar ' +  ((this.registerType == 2) ? 'este ' : 'esta ') + this.registerTypeName + '?',
            text: "Por favor confirme, esta acción NO podrá deshacerse.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, cerrarla!'
          })
          .then((result) => {
            if (result.isConfirmed) {
              
              Swal.fire({
                title: "Por favor introduzca '" + rndInt + "'",
                input: 'text',
                showCancelButton: true,
                confirmButtonText: 'Cerrar ' +  ((this.registerType == 2) ? 'este ' : 'esta ') + this.registerTypeName,
                preConfirm: (textValidation) => {
                    if (textValidation == rndInt) {

                      this.processRequest()
                      this.onReset()
                      this.onCancel()   
                      this.onRefreshDatatable()


                    } else {
                      Swal.fire({
                        icon: 'error',
                        title: 'Cancelado...',
                        text: 'El texto introducido no coincidió!'
                      })
                    }
                },

              })
            }
          })
    },
    async processRequest(){
        await axios.post(
            'api/appraisal', 
            {
                params: {
                    appraisal_request_id: this.itemSelected[0].id,
                    appraisal_status_id: this.itemSelected[0].appraisal_status_id,
                    appraisal_close: true
                }
            })
        .then((response) => {
            //'foundAppraisalRecord','statusAppraisalDescription','statusAppraisalName'
            if (response.data.foundAppraisalRecord == 1) {
                Swal.fire({
                icon: 'success',
                title: response.data.statusAppraisalName + '!',
                html:  '<b>' + response.data.statusAppraisalDescription + '</b>',
                reverseButtons: true,
                confirmButtonText: 'ok',
                })
            } else {
                Swal.fire({
                icon: 'error',
                title: 'No se pudo procesar '+  ((this.registerType == 2) ? 'este ' : 'esta ') + this.registerTypeName +'!',
                text: 'El estatus de '+  ((this.registerType == 2) ? 'el ' : 'la ') + this.registerTypeName +' pudo ser cambiado por otro usuario, por favor refresque el navegador y corrobore.',
                reverseButtons: true,
                confirmButtonText: 'ok',
                })
            }

        })
        .catch((error) => {
            console.log(error);
        })

    },
    onRefreshDatatable(){
      this.$store.dispatch('mainform/resetKeyDatatable');
    },
    onReset(){
      this.$v.form.$reset()
    },
    initializeObjectForm: function(){
      let formSolicitudes = document.getElementById('formSolicitudes');
      let formData = new FormData(formSolicitudes);

      if (!formData.has('register_type')){
        formData.append('register_type',this.form.register_type);
      }

      if (!formData.has('catastro')){
        formData.append('catastro',this.form.catastro);
      }

      if (!formData.has('geocoords')){
        formData.append('geocoords',this.form.geocoords);
      }

      if (this.form.delivery_type === 2 ){
        formData.append('bank',this.form.bank);
      }

      if (!formData.has('country')) {
        formData.append('country',this.form.country);
      }

      if (!formData.has('user_id')) {
        formData.append('user_id',this.form.user);
      }

      if (!formData.has('spyForm')) {
        formData.append('spyForm',this.form.spyForm);
      }

      if (!formData.has('amount')) {
        formData.append('amount',this.form.amount);
      }

      if (!formData.has('construction_year')) {
        formData.append('construction_year',this.form.construction_year);
      }

      if (!formData.has('owner_user_id')) {
        const ownerUserId = (this.form.register_type === 1) ? this.workteamInfo.adminOwnerId : 0;
        formData.append('owner_user_id',ownerUserId);
      }      
      
      return formData

    },
    getRandomIntInclusive(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1) + min); //The maximum is inclusive and the minimum is inclusive 
    },
    onSubmit(){
      /**
       * soyForm == 1 Guardar nuevo registro
       */

      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      } else {

        if (this.form.spyForm == 1){

        let FormData = this.initializeObjectForm()
        axios.post('api/mainform', FormData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then((response) => {
            Swal.fire({
              icon: 'success',
              title: 'Registro satisfactorio!',
              reverseButtons: true,
              confirmButtonText: 'ok',
            })
            this.onReset()
            this.onCancel()   
            this.onRefreshDatatable()        
                
          })
          .catch((error) => {
            //console.log(error);
            this.onCancel()
          })
        }
      }
    },    
    onUpdate(){
            if (this.form.spyForm == 1){
              this.$v.form.$touch();
              if (this.$v.form.$anyError) {
                return;
              } else {

            Swal.fire({
              title: 'Actualizar '+  ((this.registerType == 2) ? 'este ' : 'esta ') + this.registerTypeName +'?',
              text: "Por favor confirme",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, actualizar!'
            })
            .then((result) => {
              if (result.value) {


                let FormData = this.initializeObjectForm()
                FormData.append("id", this.form.id);
                FormData.append("_method", "put");


                axios({
                  method: 'post',
                  url: 'api/mainform',
                  data: FormData
                }).then((response) => {
                  Swal.fire({
                    title:'Actualizado!',
                    text:'El registro fue actualizado!',
                    icon:'success',
                    showConfirmButton: false,
                    timer: 1200,
                  })
                  this.onCancel()   
                  this.onRefreshDatatable()
                })
              }  
            })
            .catch((error) => {
              //console.log(error);
              //this.onCancel()
            })
        }
      }
    },
    readItemSelected(){
      /** Fill elements of Solicitudes form from row selected on Datatable */
      if (this.itemSelectedStatus){
        this.onReset()
        this.item = this.itemSelected[0];
        this.form.id = this.item.id
        this.form.register_type = this.item.register_type_id
        this.form.applicant_name = this.item.applicant_name
        this.form.applicant_phone= this.item.applicant_phone
        this.form.applicant_email= this.item.applicant_email
        this.form.contact_name = this.item.contact_name
        this.form.contact_phone = this.item.contact_phone
        this.form.delivery_type = this.item.delivery_type_id
        this.form.bank = this.item.bank_id
        this.form.property_type = this.item.property_type_id
        this.form.property_condition = this.item.is_new
        this.form.property_use_status = this.item.property_use_status_id
        this.form.amount = parseFloat(this.item.amount)
        this.form.payment_method = this.item.payment_method_id
        this.form.status_pago = this.item.is_paid
        this.form.comments = this.item.comments
        
        this.form.address = this.item.address
        this.form.property_number = this.item.property_number
        this.form.property_levels = this.item.property_levels
        this.form.construction_year = this.item.construction_year

        if (!this.options.inspectors.some(e => e.id == this.item.inspector_id)) {
          console.log('No esta el inspector!!!')
          this.options.inspectors.push({id: this.item.inspector_id, name: this.item.inspector_name})
          console.log('Se debió agregar')
        }

        this.form.inspector = this.item.inspector_id
        this.form.inspection_date = this.item.inspection_date
        this.form.inspection_time = this.item.inspection_time
        this.form.delivery_date = this.item.delivery_date
        this.form.geocoords= this.item.geo_coordinates         
        this.form.residence= this.item.residence
        this.form.numero= this.item.address_number
        this.form.calle= this.item.address_street

        this.form.sector= this.item.sector_name
        this.form.city= this.item.city_name
        this.form.municipality= this.item.municipality_name
        this.form.province= this.item.province_name
        this.form.country= this.item.country_name     
      }else{
        /**
         * todo: Se esta limpiando el formulario, haciendo un refresh al componente, por lo que hay una request al servidor para traer los datos de precarga.
         */
        this.onCancel()
      }
    },
    predefinedInputValues(){
      this.form.applicant_name = this.user.name
      this.form.applicant_phone = this.user.phone
      this.form.applicant_email = this.user.email
      this.form.contact_name = this.user.name 
      this.form.contact_phone = this.user.phone 
      this.form.delivery_type = 2
      this.form.bank = 0
      this.form.property_type = 1
      this.form.property_condition = true
      this.form.property_use_status = 1
      this.form.amount = 0
      this.form.payment_method = 1
      this.form.status_pago = true
      this.form.comments = 'N/A'
      this.form.address = "Av. Abraham Lincoln 1111, Santo Domingo, República Dominicana"
      this.form.property_number = '1111'
      this.form.property_levels = 1
      this.form.construction_year = moment().format('YYYY')

      if (!this.options.inspectors.some(e => e.id == this.user.id)) {
        this.options.inspectors.push({id: this.user.id, name: this.user.name})
      }

      this.form.inspector = this.user.id
      this.form.inspection_date = moment().format('YYYY-MM-DD')
      this.form.inspection_time = "08:00" 
      this.form.delivery_date = moment().format('YYYY-MM-DD') 
      this.form.geocoords = '18.48266860,-69.94083154'
      this.form.residence = moment().format('YYYYMMDDHHmmss')
      this.form.numero = '1111'
      this.form.calle = 'Av. Abraham Lincoln'

      this.form.sector = 'Ensanche Paraíso'
      this.form.city = 'Santo Domingo'
      this.form.municipality = 'Santo Domingo de Guzman'
      this.form.province = 'Distrito Nacional'
      this.form.country = 'República Dominicana'
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
},
computed: {
  ...mapGetters({
    workteamInfo: 'mainform/workteamInfo',
    registerType: 'mainform/registerType',
    user: 'auth/user'
  }),
  createNewItem(){
    let rsp = false
    if (this.registerType == 1){
      rsp = (this.$store.getters['mainform/workteamInfo'].adminOwnerId) ? true : false
    }else{
      rsp = true
    }
    return rsp
  },
  editItem(){
    let rsp = false
    if (this.registerType == 1){
      rsp = (this.item.owner_user_id == this.workteamInfo.adminOwnerId) ? true : false
    } else {
      rsp = true
    }
    return rsp
  },
  catastroIsValid: function() {
    let str = (this.form.catastro === null) ? '' : this.form.catastro
    let patt = /^([\d]{12})([\w\d\-\:]*)$/
    return patt.test(str);
  },
  geoCoordsIsValid: function(){
      let str = (this.form.geocoords === null) ? '' : this.form.geocoords;
      let patt = /^([\d]){2}([\.])([\d]){5,8}([\,])([\-])([\d]){2}([\.])([\d]){5,8}$/
      return patt.test(str);
  },
  isTemplate: function(){
    return (this.form.register_type === 3)
  },
  itemSelected: function() {
    return this.$store.getters['mainform/itemDatatable'];
  },
  itemSelectedStatus() {
    return Object.keys(this.$store.getters['mainform/itemDatatable']).length
  },
  itemHasInspection() {
    return this.$store.getters['mainform/hasInspection']
  },
  formIsBlock: function(){
    let resp = false
    if ((this.itemSelectedStatus && !this.isEditing)  || !this.createNewItem ) {
      resp = true
    }
    return resp
  },
  isFromToday(value) {
    let today = new Date().setHours(0,0,0,0)
    let fecToCheck = new Date(value).setHours(0,0,0,0)
    return (fecToCheck >= today) ? true : false
  },
  registerTypeName(){
    return (this.registerType == 1) ? 'solicitud' : (this.registerType == 2) ? 'comparable' : 'plantilla'
  },
  geocoordsIsEmpty(){
    return (this.form.geocoords == null || this.form.geocoords == '')  ? true : false
  }
},
watch: {

    itemSelected: function(){
      if (this.registerType === 1) {
        this.fetchInspectors();
      }
      this.readItemSelected();
      this.checkFilesStored();
    },
    fromCadCheck: function(){
      this.form.catastro = null
      this.form.geocoords = null
    },
    'form.applicant_name': function (new_value, old_value){
      if ((this.form.contact_name == old_value) || (this.form.contact_name == null)) {
        this.form.contact_name = new_value
      }
    },
    'form.applicant_phone': function (new_value, old_value){
      if ((this.form.contact_phone == old_value) || (this.form.contact_phone == null)) {
        this.form.contact_phone = new_value
      }
    },
    // 'form.register_type':function(new_value){
    //   if ((new_value > 1) && (this.itemSelectedStatus == 0)) {
    //     this.predefinedInputValues()
    //   }
    // },
    registerType: function(new_value){
      this.form.register_type = new_value
    },
    'form': {
      deep: true,
      handler: 'checkIsFormChanged',
    } 
 
},
}

</script>

<style scoped>

.custom-top-margin {
  margin-top: 10px;
}

.custom-collapse-parent {
position: relative;

}
.custom-collapse-child {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 90%;
}

.fade-effect-enter-active, .fade-effect-leave-active {
  transition: opacity .5s
}
.fade-effect-enter, .fade-effect-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

</style>
