<template>
    <b-container>
    <b-row>
        <b-col>
            <b-card 
            border-variant="default"
            header="Análisis de Costos"
            header-bg-variant="dark"
            header-text-variant="white"
            header-class="text-center"
            >
                <b-card>
                    <b-form-group 
                    label-cols-sm="3"
                    label="Tipo de estimación de costos:"
                    label-align-sm="right"
                    label-for="nested-metodo-estimacion-costos"
                    label-class="font-weight-bold pt-0"
                    >
                            <b-form-radio-group
                            label-cols-sm="3"
                            id="nested-metodo-estimacion-costos"
                            class="my-1 ml-5"
                            label-align-sm="right"
                            stacked
                            >
                                <b-form-radio class="my-1 ml-3" v-model="methodType" value='1'>Método de Mercado</b-form-radio>
                                <b-form-radio class="mt-2 mb-1 ml-3" v-model="methodType" value='2'>Método de Costo</b-form-radio>
                            </b-form-radio-group>  
                    </b-form-group>
                </b-card>
                <b-card class="mt-2">
                    <market-method :items="itemsData" v-show="(methodType === '1')"></market-method>

                    <cost-method v-show="(methodType !== '1')"></cost-method>
                </b-card>
                <b-card class="mt-2">
                    <b-row align-h="around" class="py-3">
                        <b-col cols="4">
                            <b-button block key="btn-evaluation" variant="secondary" 
                                :to="{ 
                                    name: 'comparables', 
                                    params: { 
                                        request: appraisalRequestId 
                                    }
                                }
                            ">
                                Regresar
                            </b-button>  
                        </b-col>
                        <b-col cols="4">
                            <b-button block disabled variant="primary">Guardar</b-button>
                        </b-col>
                    </b-row>                  
                </b-card>
            </b-card>
        </b-col>
    </b-row>
</b-container>

</template>
<script>
import MarketMethod from '~/components/MarketMethod'
import CostMethod from '~/components/CostMethod.vue'
import { mapGetters } from 'vuex'
import Swal from 'sweetalert2';
import axios from 'axios'
export default {
    middleware: 'auth',
    components:{
        MarketMethod,
        CostMethod
    },
    data(){
        return{
            methodType: null,
            itemsData: []

        }
    },
    mounted(){
        this.checkRequestId()
        this.methodType = '1'
        if (typeof(this.comparables) !== 'undefined') {
            this.fetchComparablesItems(this.comparables).then((response) => {
                this.itemsData = response
            }).catch((e) =>
                console.log(e)
            );
        }
    },
    methods: {
        checkRequestId(){
            // Check if there is a appraisal request id, else redirect to main form
            if (typeof(this.appraisalRequestId) === 'undefined'){
                this.$router.push('mainform')
            }
        },
        fetchComparablesItems: async function(elements) {
            try {
                const response = await axios.get(
                    'api/comparables/fetchAnalysisData',
                    {
                        params:
                        {
                            items:elements,
                        }
                    }
                )

                return await response.data
            } catch (error) {
                console.log('MSG ERROR ' + error)
            }            
        },        
    },
    computed:{
        ...mapGetters({
            comparables: 'comparables/comparables'
        }),
        appraisalRequestId(){
            return this.$route.params.request
        },
    },
    watch: {

    }

}
</script>
