<template>
    <b-container>
    <b-row>
        <b-col>
            <comparable-sidebar
                :propertyData="propertyData"
                @onClickSearchComparables="searchComparables"
            ></comparable-sidebar>
        </b-col>
    </b-row>
    <b-row>
        <b-col>
            <b-card 
            border-variant="default"
            header="Comparables"
            header-bg-variant="dark"
            header-text-variant="white"
            header-class="text-center"
            >
                <b-container>
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <b-button 
                        v-if="comparablesSelected > 2" 
                        variant="primary" 
                        class="py-2"
                        key="btn-analysis"
                        disabled 
                        :to="{ 
                            name: 'analysis', 
                            params: { 
                                    request: appraisalRequestId,
                                    }
                            }
                        ">
                            Análisis de Costos
                        </b-button>
                   </div>
                    <b-row>
                        <b-col cols=12>
                            <template>
                                <b-container>
                                    <b-row>
                                        <template v-for="(item, key) in comparablesCollection">
                                            <b-col :key="'column-' + key" class="col-md-6 col-lg-4 pt-2">
                                                <comparable-card
                                                :ownKey="key"
                                                :ownItem="item"
                                                ></comparable-card>
                                            </b-col>
                                        </template>
                                    </b-row>
                                </b-container>                                                        
                            </template>
                        </b-col>
                    </b-row>
                </b-container>

            </b-card>
        </b-col>
    </b-row>
    <carousel-modal
    :show="showModalPhoto"
    :photos="propertyPhotos"
    ></carousel-modal>
    <property-details-modal
    :show="showModalInfo"
    :propertyInfo="propertyInfo"
    ></property-details-modal>
</b-container>

</template>
<script>
import ComparableSidebar from '~/components/ComparableSidebar'
import ComparableCard from '~/components/ComparableCard'
import CarouselModal from '~/components/CarouselModal'
import PropertyDetailsModal from '~/components/PropertyDetailsModal'
import { mapGetters } from 'vuex'
import Swal from 'sweetalert2';
import axios from 'axios'
export default {
    middleware: 'auth',
    components:{
        ComparableSidebar,
        CarouselModal,
        PropertyDetailsModal,
        ComparableCard,
    },
    data(){
        return{
            propertyData: {},
            showModalPhoto: false,
            showModalInfo: false,
            propertyPhotos: [],
            propertyInfo: {},
            comparablesCollection: []
        }
    },
    mounted(){
        this.checkRequestId()
        if (typeof(this.appraisalRequestId) !== 'undefined') {

            this.fetchDefaultSearchData(this.appraisalRequestId).then((response) => {
                this.propertyData = response[0]
            }).catch((e) =>
                console.log(e)
            );
        }
    },
    methods: {
        checkRequestId(){
            if (typeof(this.appraisalRequestId) === 'undefined'){
                this.$router.push('mainform')
            }
        },
        fetchDefaultSearchData: async function(id) {
            try {
                const response = await axios.get(
                    'api/comparables/fetchRequestData',
                    {
                        params:
                        {
                            appraisalRequestId:id,
                        }
                    }
                )

                return await response.data
            } catch (error) {
                console.log('MSG ERROR ' + error)
            }            
        },
        async fetchPropertyPhotos(id) {
            try {
                const response = await axios.get(
                    'api/attachment/comparables',
                    {
                        params:
                        {
                            appraisalRequestId:id,
                        }
                    }
                )
                this.propertyPhotos = response.data
            } catch (error) {
                console.log('MSG ERROR ' + error)
            }  
        },
        async searchComparables(params){
            try {
                const response = await axios.get(
                    'api/comparables/fetchComparables',
                    {
                        params:
                        {
                            formData: params,
                        }
                    }
                )
                this.comparablesCollection = response.data
            } catch (error) {
                console.log(error)
            }
        }
    },
    computed:{
        ...mapGetters({
            comparableId:'comparables/comparableId',
            modalPhoto:'comparables/modalPhoto',
            modalInfo:'comparables/modalInfo',
            comparables: 'comparables/comparables'
        }),
        appraisalRequestId(){
            return this.$route.params.request
        },
        comparablesSelected(){
            return this.comparables.length
        }
    },
    watch: {
        modalPhoto: function(newVal) {
            if (newVal === true){
                this.fetchPropertyPhotos(this.comparableId)
            }
            this.showModalPhoto = (this.propertyPhotos.length = 0) ? false : newVal
            
        },
        modalInfo: function(newVal) {
            if (newVal === true){

                this.fetchDefaultSearchData(this.comparableId).then((response) => {
                    this.propertyInfo = response[0]
                }).catch((e) =>
                    console.log(e)
                );
            }
            this.showModalInfo = newVal
        },
        comparablesSelected: function(){
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
            })

            Toast.fire({
                icon: 'info',
                title: this.comparablesSelected + ' Comparable(s)'
            })
        }

    }



}
</script>
