<template>

  <div id="profileComponent" class="custom-top-margin">
    <div class="row">
      <b-button
        block variant="dark"
        :class="visible ? 'custom-collapse-parent' : 'collapsed custom-collapse-parent'"
        :aria-expanded="visible ? 'true' : 'false'"
        aria-controls="collapseProfile"
        @click="visible = !visible"
      >
        Datos de Usuario
        <b-icon icon="plus-circle" :rotate="visible ? 45 : 0"  font-scale="1.5" aria-hidden="true" class="custom-collapse-child"></b-icon>
      </b-button>
    </div>
      <div class="row">
        <div class="col">
          <b-collapse id="collapseProfile" v-model="visible" class="mt-2">
            <b-card>



              <div class="row">
                <div class="col-lg-8 m-auto">
                  <card v-if="mustVerifyEmail" :title="$t('register')">
                    <div class="alert alert-success" role="alert">
                      {{ $t('verify_email_address') }}
                    </div>
                  </card>
                  <card v-else :title="$t('register')">
                    <form @submit.prevent="update">
                      <!-- Name -->
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                          <b-form-input
                          id="register-name"  
                          v-model="form.name" 
                          type="text" 
                          name="name"
                          :state="validateState('name')"
                          aria-describedby="name-live-feedback"              
                          >
                          </b-form-input>
                          <b-form-invalid-feedback id="name-live-feedback" v-if="!$v.form.name.required">
                            "Nombre" es un campo requerido
                          </b-form-invalid-feedback> 
                        </div>
                      </div>

                      <!-- Email -->
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
                        <div class="col-md-7">
                          <b-form-input 
                          id="register-email" 
                          v-model="form.email" 
                          :state="validateState('email')"
                          aria-describedby="email-live-feedback"
                          name="email"
                          >
                          </b-form-input>
                          <b-form-invalid-feedback id="phone-live-feedback" v-if="!$v.form.email.required">
                            "Correo Electrónico" es un campo requerido
                          </b-form-invalid-feedback> 
                          <b-form-invalid-feedback id="phone-live-feedback" v-else>
                            No cumple con el patrón valido
                          </b-form-invalid-feedback> 
                        </div>
                      </div>

                      <!-- Phone --> 
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
                        <div class="col-md-7">
                          <b-form-input 
                          type="tel"
                          name="phone" 
                          id="register-phone" 
                          v-model="form.phone"
                          v-facade="'(###) - ### - ####'"
                          :state="validateState('phone')"
                          aria-describedby="phone-live-feedback"
                          >
                          </b-form-input>
                          <b-form-invalid-feedback id="phone-live-feedback" v-if="!$v.form.phone.required">
                            "Teléfono" es un campo requerido
                          </b-form-invalid-feedback> 
                          <b-form-invalid-feedback id="phone-live-feedback" v-else>
                            No cumple con el patrón valido
                          </b-form-invalid-feedback> 
                        </div>
                      </div>

                      <!-- Region -->
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('region') }}</label>
                        <div class="col-md-7">
                          <b-form-select 
                          v-model="form.province_id" 
                          :options="regions"
                          value-field="id"
                          text-field="name"
                          :state="validateState('province_id')"
                          aria-describedby="provinces-live-feedback"
                          >
                            <template v-slot:first>
                              <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                            </template>
                          </b-form-select>
                      <b-form-invalid-feedback id="provinces-live-feedback">
                        "Región" es un campo requerido
                      </b-form-invalid-feedback>
                        </div>
                      </div>


                        <!-- Codia Code -->
                        <div key="codia_code_section" class="form-group row">
                          <label class="col-md-3 col-form-label text-md-right">{{ $t('codia_code') }}</label>
                          <div class="col-md-7">
                            <b-form-input 
                            v-model="form.codia_code" 
                            name="codia_code"
                            id="register-codia-code"
                            @keypress="isCharCodeValid($event,'codia_code',10)"            
                            >
                            </b-form-input>
                          </div>
                        </div>
                      
                        <!-- Itado Code -->
                        <div key="itado_code_section" class="form-group row">
                          <label class="col-md-3 col-form-label text-md-right">{{ $t('itado_code') }}</label>
                          <div class="col-md-7">
                            <b-form-input 
                            v-model="form.itado_code" 
                            name="itado_code"
                            id="register-itado-code" 
                            @keypress="isCharCodeValid($event,'itado_code',10)"
                            >
                            </b-form-input>
                          </div>
                        </div>


                      <!-- Password -->
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
                        <div class="col-md-7">
                          <b-form-input 
                          v-model="form.password" 
                          type="password" 
                          name="password"
                          :state="validateState('password')"
                          aria-describedby="password-live-feedback"   
                          >
                          </b-form-input>
                          <b-form-invalid-feedback id="password-live-feedback" v-if="!$v.form.password.required">
                            "Contraseña" es un campo requerido
                          </b-form-invalid-feedback>
                          <b-form-invalid-feedback id="password-live-feedback" v-else>
                            Se require un mínimo de 6 caracteres
                          </b-form-invalid-feedback>  
                        </div>
                      </div>

                      <!-- Password Confirmation -->
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
                        <div class="col-md-7">
                          <b-form-input 
                          v-model="form.password_confirmation" 
                          type="password" 
                          name="password_confirmation"
                          :state="validateState('password_confirmation')"
                          aria-describedby="password-confirmation-live-feedback"                
                          >
                          </b-form-input>
                          <b-form-invalid-feedback id="password-confirmation-live-feedback" v-if="!$v.form.password_confirmation.required">
                            "Confirmar Contraseña" es un campo requerido
                          </b-form-invalid-feedback> 
                          <b-form-invalid-feedback id="password-confirmation-live-feedback" v-else>
                            Las contraseñas no coinciden
                          </b-form-invalid-feedback> 
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-7 offset-md-3 d-flex justify-content-center">
                          <!-- Submit Button -->
                          <v-button :loading="form.busy" type="success">
                            {{ $t('update') }}
                          </v-button>
                        </div>
                      </div>
                    </form>
                  </card>
                </div>
              </div>
            </b-card>
          </b-collapse>
        </div>
      </div>
  </div>
</template>

<script>
import { required, minLength, email, numeric, sameAs } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import Swal from 'sweetalert2';
import axios from 'axios'
import Form from 'vform'



export default {
  scrollToTop: false,
  name: 'Profile',

  metaInfo () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: '',
      phone: '',
      province_id: '',
      codia_code: '',
      itado_code: '',
      password: '',
      password_confirmation: ''
    }),
    mustVerifyEmail: false,
    regions: [],
    visible: false,
  }),

  validations: {
    form: {
      name: { required },
      email: { required, email },
      phone: { required, minLength: minLength(18) },
      province_id: { required },
      password: { required, minLength: minLength(6) },
      password_confirmation: { required, sameAsPassword: sameAs('password') }
      },
  },

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.fetchData()
    // Fill the form with user data.
    this.form.keys().forEach(key => {
      this.form[key] = this.user[key]
    })
  },

  methods: {
    async update () {

      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      } else {

        const { data } = await this.form.patch('/api/settings')
        Swal.fire({
          title:'Actualizado!',
          text:'El registro fue actualizado!',
          icon:'success',
          showConfirmButton: false,
          timer: 1200,
        })
        this.form.password= ''
        this.form.password_confirmation= ''
        this.$store.dispatch('auth/updateUser', { user: data })

        this.$v.form.$reset()
      }
    },
    fill(dst,src){
        Object.keys(dst).forEach(function (item) {
          dst[item] = src[item]
        });
        return dst
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    async fetchData() {
      const { data } = await this.form.get('api/settings',{params: {id:1}})
      this.regions = data
    },
    isCharCodeValid: function(evt, name, maxlen = 0) {
      evt = (evt) ? evt : window.event;
      let val = (this.form[name] === null) ? '' : this.form[name];
      let condition = true;
      let charCode = (evt.which) ? evt.which : evt.keyCode;
      //Only alphanumeric characters should be allowed
      let numericTest    = '(charCode > 47 && charCode < 58)';
      let alphaUpperTest = '(charCode > 64 && charCode < 91)';
      let alphaLowerTest = '(charCode > 96 && charCode < 123)';

      condition = eval( numericTest) || eval(alphaUpperTest) || eval(alphaLowerTest);

      if ( condition && (val.length <= maxlen)) {
        return true;
      } else  {
        evt.preventDefault();
      }
  }
},
  mounted(){
    
  }
}
</script>
<style scoped>
.custom-top-margin {
  margin-top: 80px;
}

.custom-collapse-parent {
position: relative;

}
.custom-collapse-child {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 90%;
}
</style>