<template>
<div>
  <div>
    <Profile key="keyProfile" />
  </div>
  <div>
    <WorkTeam key="keyWorkTeam" />
  </div>
</div>
</template>

<script>
import Profile from '~/pages/settings/profile'
import WorkTeam from '~/pages/settings/workTeam'

export default {
  middleware: 'auth',
   components: {
    Profile,
    WorkTeam,
  },

}
</script>