<template>
  <b-card>
    <!-- Results Table -->          
    <div>
      <b-table striped hover primary-key="id" :items="items" :fields="fields" stacked="sm">
        <template v-slot:cell(roles)="data">
          <b-form-group>
            <b-form-checkbox-group
              v-model="data.item.array_values"
              :options="data.item.array_roles"
              stacked
            ></b-form-checkbox-group>
          </b-form-group>
        </template> 
        <template v-slot:cell(actions)="row">
<b-container>
  <b-row>
    <b-button size="sm" @click="setInfoModal(row.item, row.index, $event.target)" class="m-1">
      Modificar
    </b-button>
    <b-button size="sm" @click="deleteMember(row.item, row.index)" class="m-1">
      Eliminar
    </b-button>
  </b-row>
</b-container>


        </template>
      </b-table>
    </div>

  <!-- Info modal -->
    <b-modal 
    :id="infoMemberModal.id"
    ref="infoMemberModal" 
    :title="infoMemberModal.title" 
    :default="infoMemberModal.content" 
    ok-title="Actualizar" 
    cancel-title="Cancelar"
    @ok="updateMember"
    @hidden="resetInfoMemberModal">
    <form ref="formInfoMemberModal">
      <div>
        <b-form-group
          id="modal-members-name"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Nombre"
          label-for="input-members-name"
        >
          <b-form-input id="input-members-name" v-model="this.infoMemberModal.content.name" readonly></b-form-input>
        </b-form-group>
      </div>
      <div>
        <b-form-group
          id="modal-members-phone"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Teléfono"
          label-for="input-members-phone"
        >
          <b-form-input id="input-members-phone" v-model="this.infoMemberModal.content.phone" readonly></b-form-input>
        </b-form-group>
      </div>
      <div>
        <b-form-group
          id="modal-members-region"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Región"
          label-for="input-members-region"
        >
          <b-form-input id="input-members-region" v-model="this.infoMemberModal.content.province" readonly></b-form-input>
        </b-form-group>
      </div>
        <b-form-group
          id="modal-members-roles"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Roles"
          label-for="input-members-roles"
        >
      <b-form-checkbox-group
        id="input-members-roles"
        v-model="infoMemberModal.optionsSelected"
        :options="infoMemberModal.optionsRoles"
        name="input-members-roles"
        stacked
        :state="infoMemberModal.nameState"
        required
      >
      <b-form-invalid-feedback :state="infoMemberModal.nameState">Requerido, debe seleccionar al menos una opcion.</b-form-invalid-feedback>
      </b-form-checkbox-group>
    </b-form-group>
    </form>
    </b-modal>

  </b-card>

</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex'


export default {
    name: 'WorkTeamShowMembers',
    scrollToTop: false,

    data() {
      return {
        fields: [
          {
            key: 'name',
            label: 'Nombre',
            sortable: true,

          },
          {
            key: 'phone',
            label: 'Teléfono',
            sortable: false,

          },
          {
            key: 'province',
            label: 'Región',
            sortable: true,

          }, 
          { key: 'roles', 
            label: 'Roles' 
          },                          
          { key: 'actions', 
            label: 'Acciones' 
          }
        ],
        items: [],
        infoMemberModal: {
          id: 'info-member-modal',
          title: '',
          content: '',
          nameState: null,
          optionsSelected: [],
          optionsRoles: [
            { text: 'Administrativo', value: '0', disabled: false },
            { text: 'Inspector',      value: '1', disabled: false },
            { text: 'Evaluador',      value: '2', disabled: false },
            { text: 'Aprobador',      value: '3', disabled: false }
          ],
        }
      }
    },
    created() {
      this.lookUpUsersMembers()
    },
    computed: {
      ...mapGetters({user: 'auth/user'}),
      optionsValidityStatus: function(){ 
        return (this.infoMemberModal.optionsSelected.length == 0) ? false : true
      }
    },
    watch:{
      optionsValidityStatus: function(){
        if (this.infoMemberModal.nameState !== null){
          this.infoMemberModal.nameState = this.optionsValidityStatus
        }
      }
    },
    methods: {
      async lookUpUsersMembers () {

        const { data } = await axios.get('api/settings',{
                                          params: {
                                            id:3,
                                            owner_user_id: this.user.id
                                          }})
     

        for (let i = 0; i < data.length; i++){
          //convert postgresql array to javascript array
          data[i].array_values =  data[i].array_values.match(/[\w.-]+/g).map(Number)
          //add roles array to each item
          data[i].array_roles = [
              { text: 'Administrativo', value: '0', disabled: true },
              { text: 'Inspector',      value: '1', disabled: true },
              { text: 'Evaluador',      value: '2', disabled: true },
              { text: 'Aprobador',      value: '3', disabled: true }
            ] 
        }
        this.items = data
      },
      setInfoModal(item, index, button) {
        this.infoMemberModal.title = "Modificar Roles"
        this.infoMemberModal.content = item

        this.infoMemberModal.optionsSelected = this.infoMemberModal.content.array_values

        if (this.infoMemberModal.content.is_administrative) {
          this.infoMemberModal.optionsRoles[0].disabled = true
        }else{
          this.infoMemberModal.optionsRoles[0].disabled = false
        }

        this.$root.$emit('bv::show::modal', this.infoMemberModal.id, button)
      },
      resetInfoMemberModal() {
        this.infoMemberModal.title = ''
        this.infoMemberModal.content = ''
        this.infoMemberModal.nameState = null
        this.infoMemberModal.optionsSelected = []
      },
      updateMember(bvModalEvt){
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.submitFormUpdateMember()
      },
      async deleteMember(item, index){

        //console.log( item.permissions_id + ' xx ' + index)

        const data = await axios.delete('api/settings/' + item.permissions_id)
        this.items.splice(index, 1) //delete array's item

      },
      checkFormValidity() {
        const valid = this.optionsValidityStatus
        this.infoMemberModal.nameState = valid
        return valid
      },
      async submitFormUpdateMember() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }
        const data = await axios.put('api/settings',{
                                            owner_user_id: this.user.id,
                                            member_user_id: this.infoMemberModal.content.id,
                                            permission: this.infoMemberModal.optionsSelected
                                          })
        this.infoMemberModal.content.array_values = this.infoMemberModal.optionsSelected
        this.$refs['infoMemberModal'].hide()


      }
    }
}
</script>