<template>
  <div id="workTeamComponent" class="custom-top-margin">
    <div class="row">
      <b-button
        block variant="dark"
        :class="visible ? 'custom-collapse-parent' : 'collapsed custom-collapse-parent'"
        :aria-expanded="visible ? 'true' : 'false'"
        aria-controls="collapseWorkTeam"
        @click="visible = !visible"
      >
        Equipo de Trabajo
        <b-icon icon="plus-circle" :rotate="visible ? 45 : 0"  font-scale="1.5" aria-hidden="true" class="custom-collapse-child"></b-icon>
      </b-button>
    </div>
      <div class="row">
        <div class="col">
          <b-collapse id="collapseWorkTeam" v-model="visible" class="mt-2">

            <div>
              <b-tabs content-class="mt-3" fill>
                <b-tab title="Miembros" active>
                  <workTeamShowMembers :key="keyWorkTeamShowMembers"/>
                </b-tab>
                <b-tab title="Agregar">
                  <workTeamAddMembers :key="keyWorkTeamAddMembers"/>
                </b-tab>
              </b-tabs>
            </div>

          </b-collapse>
        </div>
      </div>
  </div>   
    
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import workTeamAddMembers from '~/pages/settings/workTeamAddMembers'
import workTeamShowMembers from '~/pages/settings/workTeamShowMembers'

export default {
    name: 'WorkTeam',
    middleware: 'auth',
    scrollToTop: false,
    components: {
      workTeamAddMembers,
      workTeamShowMembers
    },
    data() {
      return {
        visible: false,

      }
    },
    computed: mapGetters({
      keyWorkTeamShowMembers: 'settings/keyWorkTeamShowMembers',
      keyWorkTeamAddMembers:  'settings/keyWorkTeamAddMembers',
  }),
}
</script>
<style scoped>

.custom-top-margin {
  margin-top: 10px;
}

.custom-collapse-parent {
position: relative;

}
.custom-collapse-child {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 90%;
}

</style>