<template>


            <b-card>
              <b-form @submit.prevent="lookUpUsers"  ref="formworkTeam">


                      <!-- Region -->
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('region') }}</label>
                        <div class="col-md-7">
                          <b-form-select 
                          v-model="form.province_id" 
                          :options="regions"
                          value-field="id"
                          text-field="name"
                          >
                            <template v-slot:first>
                              <b-form-select-option :value="0">Todas</b-form-select-option>
                            </template>
                          </b-form-select>
                        </div>
                      </div>

                      <!-- Name -->
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
                        <div class="col-md-7">
                          <b-form-input
                          id="filer-name"  
                          v-model="form.name" 
                          type="text" 
                          name="name"
                          >
                          </b-form-input>
                        </div>
                      </div>

                      <!-- Phone --> 
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
                        <div class="col-md-7">
                          <b-form-input 
                          type="tel"
                          name="phone" 
                          id="filter-phone" 
                          v-model="form.phone"
                          v-facade="'(###) - ### - ####'"
                          >
                          </b-form-input>
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="col-md-7 offset-md-3 d-flex justify-content-center">
                          <!-- Submit Search Button -->
                          <v-button :loading="form.busy" type="success">
                            {{ $t('search') }}
                          </v-button>
                        </div>
                      </div>
              </b-form>

                      <!-- Results Table -->          
                      <div>
                        <b-table striped hover primary-key="id" :items="items" :fields="fields" stacked="sm">
                          <template v-slot:cell(actions)="row">
                            <b-button size="sm" @click="setInfoModal(row.item, row.index, $event.target)" class="mr-1">
                              Agregar
                            </b-button>
                          </template>
                        </b-table>
                      </div>



    <!-- Info modal -->
    <b-modal 
    :id="infoUsersModal.id"
    ref="infoUsersModal" 
    :title="infoUsersModal.title" 
    :default="infoUsersModal.content" 
    ok-title="Agregar" 
    cancel-title="Cancelar"
    @ok="agregarMember"
    @hidden="resetInfoUsersModal">
    <form ref="formInfoUsersModal" @submit.stop.prevent="submitFormAddMember">
      <div>
        <b-form-group
          id="modal-users-name"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Nombre"
          label-for="input-users-name"
        >
          <b-form-input id="input-users-name" v-model="this.infoUsersModal.content.name" readonly></b-form-input>
        </b-form-group>
      </div>
      <div>
        <b-form-group
          id="modal-users-phone"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Teléfono"
          label-for="input-users-phone"
        >
          <b-form-input id="input-users-phone" v-model="this.infoUsersModal.content.phone" readonly></b-form-input>
        </b-form-group>
      </div>
      <div>
        <b-form-group
          id="modal-users-region"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Región"
          label-for="input-users-region"
        >
          <b-form-input id="input-users-region" v-model="this.infoUsersModal.content.province" readonly></b-form-input>
        </b-form-group>
      </div>
        <b-form-group
          id="modal-users-roles"
          label-cols-sm="4"
          label-cols-lg="3"
          label="Roles"
          label-for="input-users-roles"
        >
      <b-form-checkbox-group
        id="input-users-roles"
        v-model="infoUsersModal.optionsSelected"
        :options="infoUsersModal.optionsRoles"
        name="input-users-roles"
        stacked
        :state="infoUsersModal.nameState"
        required
      >
      <b-form-invalid-feedback :state="infoUsersModal.nameState">Requerido, debe seleccionar al menos una opcion.</b-form-invalid-feedback>
      </b-form-checkbox-group>
    </b-form-group>
    </form>
    </b-modal>

            </b-card>
   
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex'

export default {
    name: 'WorkTeamAddMembers',
    scrollToTop: false,

    data() {
      return {
        value: [],
        form: {
          province_id: 0,
          name: '',
          phone: '',
        },
        regions: [],
        fields: [
          {
            key: 'name',
            lable: 'Nombre',
            sortable: true,

          },
          {
            key: 'phone',
            label: 'Teléfono',
            sortable: false,

          },
          {
            key: 'province',
            label: 'Región',
            sortable: true,

          },
          { key: 'actions', 
            label: 'Acciones' 
          }
        ],
        items: [],
        infoUsersModal: {
          id: 'info-user-modal',
          title: '',
          content: '',
          nameState: null,
          optionsSelected: [],
          optionsRoles: [
            { text: 'Administrativo', value: '0', disabled: false },
            { text: 'Inspector',      value: '1', disabled: false },
            { text: 'Evaluador',      value: '2', disabled: false },
            { text: 'Aprobador',      value: '3', disabled: false }
          ],
        }
      }
    },

    created () {
      this.fetchData()
    },
    methods: {
      async lookUpUsers () {

        const { data } = await axios.get('api/settings',{
                                          params: {
                                            id:2,
                                            name: this.form.name, 
                                            phone: this.form.phone, 
                                            province_id: this.form.province_id,
                                            owner_user_id: this.user.id
                                          }})
        this.items = data


      },
      async fetchData() {
        const { data } = await axios.get('api/settings',{params: {id:1}})
        this.regions = data
      },


      setInfoModal(item, index, button) {
        this.infoUsersModal.title = "Agregar Nuevo Miembro"
        this.infoUsersModal.content = item
        if (this.infoUsersModal.content.is_administrative) {
          this.infoUsersModal.optionsRoles[0].disabled = true
        }else{
          this.infoUsersModal.optionsRoles[0].disabled = false
        }
        this.$root.$emit('bv::show::modal', this.infoUsersModal.id, button)
      },
      resetInfoUsersModal() {
        this.infoUsersModal.title = ''
        this.infoUsersModal.content = ''
        this.infoUsersModal.nameState = null
        this.infoUsersModal.optionsSelected = []
      },
      agregarMember(bvModalEvt){
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.submitFormAddMember()
      },
      checkFormValidity() {
        const valid = this.optionsValidityStatus
        this.infoUsersModal.nameState = valid
        return valid
      },
      async submitFormAddMember() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          return
        }

        const data = await axios.post('api/settings',{
                                            owner_user_id: this.user.id,
                                            member_user_id: this.infoUsersModal.content.id,
                                            permission: this.infoUsersModal.optionsSelected
                                          })
        this.$refs['infoUsersModal'].hide()
        const index = this.items.findIndex(item => item.id === this.infoUsersModal.content.id) // find the item index 
        if (~index) // if the item exists in array
        {
          this.items.splice(index, 1) //delete array's item
        }
        
        this.onRefreshWorkTeamShowMembers()

      },
      onRefreshWorkTeamShowMembers(){
        this.$store.dispatch('settings/resetKeyWorkTeamShowMembers');
      },
    },
    computed: {
      ...mapGetters({user: 'auth/user'}),
      optionsValidityStatus: function(){ 
        return (this.infoUsersModal.optionsSelected.length == 0) ? false : true
      }
    },
    watch:{
      optionsValidityStatus: function(){
        if (this.infoUsersModal.nameState !== null){
          this.infoUsersModal.nameState = this.optionsValidityStatus
        }
      }
    }
    

}
</script>
<style scoped>

.custom-top-margin {
  margin-top: 10px;
}

.custom-collapse-parent {
position: relative;

}
.custom-collapse-child {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 90%;
}
</style>