<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <card v-if="mustVerifyEmail" :title="$t('register')">
        <div class="alert alert-success" role="alert">
          {{ $t('verify_email_address') }}
        </div>
      </card>
      <card v-else :title="$t('register')">
        <form @submit.prevent="register">
          <!-- Name -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('name') }}</label>
            <div class="col-md-7">
              <b-form-input
              id="register-name"  
              v-model="form.name" 
              type="text" 
              name="name"
              :state="validateState('name')"
              aria-describedby="name-live-feedback"              
              >
              </b-form-input>
              <b-form-invalid-feedback id="name-live-feedback" v-if="!$v.form.name.required">
                "Nombre" es un campo requerido
              </b-form-invalid-feedback> 
            </div>
          </div>

          <!-- Email -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('email') }}</label>
            <div class="col-md-7">
              <b-form-input 
              id="register-email" 
              v-model="form.email" 
              :state="validateState('email')"
              aria-describedby="email-live-feedback"
              name="email"
              >
              </b-form-input>
              <b-form-invalid-feedback id="phone-live-feedback" v-if="!$v.form.email.required">
                "Correo Electrónico" es un campo requerido
              </b-form-invalid-feedback> 
              <b-form-invalid-feedback id="phone-live-feedback" v-else>
                No cumple con el patrón valido
              </b-form-invalid-feedback> 
            </div>
          </div>

          <!-- Phone --> 
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('phone') }}</label>
            <div class="col-md-7">
              <b-form-input 
              type="tel"
              name="phone" 
              id="register-phone" 
              v-model="form.phone"
              v-facade="'(###) - ### - ####'"
              :state="validateState('phone')"
              aria-describedby="phone-live-feedback"
              >
              </b-form-input>
              <b-form-invalid-feedback id="phone-live-feedback" v-if="!$v.form.phone.required">
                "Teléfono" es un campo requerido
              </b-form-invalid-feedback> 
              <b-form-invalid-feedback id="phone-live-feedback" v-else>
                No cumple con el patrón valido
              </b-form-invalid-feedback> 
            </div>
          </div>

          <!-- Region -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('region') }}</label>
            <div class="col-md-7">
              <b-form-select 
              v-model="form.region" 
              :options="regions"
              value-field="id"
              text-field="name"
              :state="validateState('region')"
              aria-describedby="region-live-feedback"
              >
                <template v-slot:first>
                  <b-form-select-option :value="null" disabled>Seleccione</b-form-select-option>
                </template>
              </b-form-select>
          <b-form-invalid-feedback id="region-live-feedback">
            "Región" es un campo requerido
          </b-form-invalid-feedback>
            </div>
          </div>


            <!-- Codia Code -->
            <div key="codia_code_section" class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('codia_code') }}</label>
              <div class="col-md-7">
                <b-form-input 
                v-model="form.codia_code" 
                name="codia_code"
                id="register-codia-code"
                @keypress="isCharCodeValid($event,'codia_code',10)"            
                >
                </b-form-input>
              </div>
            </div>
          
            <!-- Itado Code -->
            <div key="itado_code_section" class="form-group row">
              <label class="col-md-3 col-form-label text-md-right">{{ $t('itado_code') }}</label>
              <div class="col-md-7">
                <b-form-input 
                v-model="form.itado_code" 
                name="itado_code"
                id="register-itado-code" 
                @keypress="isCharCodeValid($event,'itado_code',10)"
                >
                </b-form-input>
              </div>
            </div>


          <!-- Password -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('password') }}</label>
            <div class="col-md-7">
              <b-form-input 
              v-model="form.password" 
              type="password" 
              name="password"
              :state="validateState('password')"
              aria-describedby="password-live-feedback"   
              >
              </b-form-input>
              <b-form-invalid-feedback id="password-live-feedback" v-if="!$v.form.password.required">
                "Contraseña" es un campo requerido
              </b-form-invalid-feedback>
              <b-form-invalid-feedback id="password-live-feedback" v-else>
                Se require un mínimo de 8 caracteres
              </b-form-invalid-feedback>  
            </div>
          </div>

          <!-- Password Confirmation -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label text-md-right">{{ $t('confirm_password') }}</label>
            <div class="col-md-7">
              <b-form-input 
              v-model="form.password_confirmation" 
              type="password" 
              name="password_confirmation"
              :state="validateState('password_confirmation')"
              aria-describedby="password-confirmation-live-feedback"                
              >
              </b-form-input>
              <b-form-invalid-feedback id="password-confirmation-live-feedback" v-if="!$v.form.password_confirmation.required">
                "Confirmar Contraseña" es un campo requerido
              </b-form-invalid-feedback> 
              <b-form-invalid-feedback id="password-confirmation-live-feedback" v-else>
                Las contraseñas no coinciden
              </b-form-invalid-feedback> 
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-7 offset-md-3 d-flex justify-content-center">
              <!-- Submit Button -->
              <v-button :loading="form.busy">
                {{ $t('register') }}
              </v-button>

              <!-- GitHub Register Button -->
              <login-with-github />
            </div>
          </div>
        </form>
      </card>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, numeric, sameAs } from 'vuelidate/lib/validators';
import LoginWithGithub from '~/components/LoginWithGithub'
import axios from 'axios';
import Form from 'vform';
import Swal from 'sweetalert2';


export default {
  middleware: 'guest',

  components: {
    LoginWithGithub
  },

  metaInfo () {
    return { title: this.$t('register') }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: '',
      phone: '',
      region: '',
      codia_code: '',
      itado_code: '',
      password: '',
      password_confirmation: ''
    }),
    mustVerifyEmail: false,
    regions: [],
  }),

  validations: {
    form: {
      name: { required },
      email: { required, email },
      phone: { required, minLength: minLength(18) },
      region: { required },
      password: { required, minLength: minLength(8) },
      password_confirmation: { required, sameAsPassword: sameAs('password') }
      },
  },

  methods: {
    async register () {
      let data = null

      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      } else {

        // Register the user.
        await this.form.post('/api/register',{
        ...this.form.data()
      })
        .then((response) => {
          data = response
        })
        .catch((error) => {
          //this.form.errors = response;
          if (error.response.status == 422) {
            if ('email' in error.response.data.errors) {
              Swal.fire({
                icon: 'error',
                title: 'El correo electrónico ya ha sido registrado',
                text: 'Por favor establezca una direccion de correo electrónico diferente.',
              })
              this.form.email = '';
            }
          }
        });

      if (data !== null) {
          // Must verify email fist.
          if (data.status) {
            this.mustVerifyEmail = true
          } else {
            // Log in the user.
            const { data: { token } } = await this.form.post('/api/login')

            // Save the token.
            this.$store.dispatch('auth/saveToken', { token })

            // Update the user.
            await this.$store.dispatch('auth/updateUser', { user: data })

            // Redirect home.
            this.$router.push({ name: 'home' })
          }
        }

      }
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    async fetchData() {
      const { data } = await this.form.get('/api/register')
      this.regions = data
    },
    isCharCodeValid: function(evt, name, maxlen = 0) {
      evt = (evt) ? evt : window.event;
      let val = (this.form[name] === null) ? '' : this.form[name];
      let condition = true;
      let charCode = (evt.which) ? evt.which : evt.keyCode;
      //Only alphanumeric characters should be allowed
      let numericTest    = '(charCode > 47 && charCode < 58)';
      let alphaUpperTest = '(charCode > 64 && charCode < 91)';
      let alphaLowerTest = '(charCode > 96 && charCode < 123)';

      condition = eval( numericTest) || eval(alphaUpperTest) || eval(alphaLowerTest);

      if ( condition && (val.length <= maxlen)) {
        return true;
      } else  {
        evt.preventDefault();
      }
    },

  },
  mounted(){
    this.fetchData();
  },
}
</script>